<template>
  <div>
  <promo/>
    <div class="container-fluid" style="background: #f3f3f3">
      <Header></Header>
      <div class="row mt-md-3">
        <div class="container container-leo">
          <div class="row">
            <div class="col-3 d-none d-md-block">
              <section class="bg px-3">
                <div class="text-center py-md-3">
                  <img
                    src="/img/nuevo/logomejorblanco.svg"
                    alt="logo"
                    width="150"
                    height="150"
                    class="img-fluid"
                  />
                </div>
                <div class="my-4 py-2">
                  <ul class="listben">
                    <li class="text-white">
                      <img
                        src="/img/nuevo/check.svg"
                        alt="check"
                        width="17"
                        height="17"
                        class="img-fluid"
                      />
                      <p class="mb-0 mx-2">Atención inmediata en siniestros</p>
                    </li>
                    <li class="text-white">
                      <img
                        src="/img/nuevo/check.svg"
                        alt="check"
                        width="17"
                        height="17"
                        class="img-fluid"
                      />
                      <p class="mb-0 mx-2">
                        Atención Vial: envío de grúa, gasolina y más
                      </p>
                    </li>
                    <li class="text-white">
                      <img
                        src="/img/nuevo/check.svg"
                        alt="check"
                        width="17"
                        height="17"
                        class="img-fluid"
                      />
                      <p class="mb-0 mx-2">Cobertura contra robo y más</p>
                    </li>
                  </ul>
                </div>
                <div class="text-center base">
                  <img
                    v-if="this.$store.state.config.promoSpecial"
                    :src="this.$store.state.config.promoImg"
                    alt="carro"
                    width="60"
                    height="60"
                    class="logprom img-fluid"
                  />

                  <img
                    src="/img/nuevo/auto.png"
                    alt="carro"
                    width="200"
                    height="200"
                    class="img-fluid"
                  />
                </div>
              </section>
            </div>
            <div
              class="col-12 col-sm-12 col-md-9 col-lg-9 pt-4 pt-md-3 pt-lg-3 px-md-3 px-lg-5 bg-white text-center tar-card"
            >
              <div class="row">
                <div class="col-4 d-md-none">
                  <img
                    src="/img/nuevo/logomejor.svg"
                    alt="logo"
                    width="120"
                    height="120"
                    class="img-fluid logasg"
                  />
                </div>
                <div class="col-8 col-md-12 text-center tituloh1">
                  <h1>
                    <img
                      v-if="this.$store.state.config.promoSpecial"
                      :src="this.$store.state.config.promoImg"
                      alt="carro"
                      width="50"
                      height="30"
                      class="logprom img-fluid d-block d-md-none"
                    />
                    Cotizar Seguro de Auto Rapidísimo
                  </h1>

                  <div class="mb-0 descuento">
                    <span>
                      {{ this.$store.state.config.promoLabel }}
                    </span>
                    <span>
                      {{ this.$store.state.config.funnelDto }}
                    </span>
                    <span>
                      {{ this.$store.state.config.funnelMsi }}
                      {{ this.$store.state.config.extraMsg }}
                    </span>
                  </div>
                  <!--<p> {{this.$store.state.config.extraMsg}} </p>-->
                </div>
              </div>
		          <fichamovil/>
              <formulario :config="this.$store.state.config" />
            </div>

            <div class="col-12 col-md-9 offset-md-3 mt-3 mb-1">
              <div class="row">
                <div class="col-6">
                  <img
                    src="/img/nuevo/tarjetas.svg"
                    alt="tarjetas"
                    width="150"
                    height="50"
                    class="img-fluid tarjetas"
                  />
                </div>

                <div class="col-6 px-2 px-md-3">
                  <p class="mb-0 tcandado">
                    <img
                      src="/img/nuevo/candado.svg"
                      alt="candado"
                      width="20"
                      height="20"
                      class="img-fluid imgcan"
                    />
                    Tu información está segura
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <beneficios />

    <!--CONTENIDO-->
    <div class="container-fluid bgCont">
      <div class="row">
        <div class="col-12 px-xl-5">
          <div class="cont">
            <div class="tri"></div>
            <h2>En 60 segundos puedes cotizar seguros de autos</h2>
            <p>
              Ya sea porque adquiriste un vehículo nuevo o porque deseas cumplir
              con lo que establece la ley en materia de aseguramiento, lo
              importante el que al cotizar seguro de auto puedas tener la
              seguridad de que vas a encontrar la mejor opción para ti.
            </p>
            <p>
              Asegurar tu auto ya no es un trámite que puedes elegir si llevar a
              cabo o no, ya se trata de una obligación que las autoridades
              establecieron en el Diario Oficial de la Federación, por eso es
              conveniente que encuentres la protección que te brinde el mejor
              respaldo financiero.
            </p>
            <p>
              Para que la cotización de seguro de auto sea una tarea sencilla
              para ti, en El Mejor Seguro de Auto queremos ayudarte, así que
              ponemos a tu disposición un comparador donde puedes encontrar
              coberturas y precios, ofrecidos por más de 20 aseguradoras para
              que analices cuál es la mejor alternativa para ti y tu familia.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 px-xl-5">
          <div class="cont">
            <!-- & -->
            <h2>¿Qué es un cotizador de seguros de auto en México?</h2>
            <p>
              Tener un seguro de auto es una acción que los mexicanos no podemos
              dejar para después, por eso acudir a un cotizador es sin duda una
              alternativa que te garantiza la obtención de datos imprescindibles
              para que tomes una decisión consciente y acorde a tus necesidades.
            </p>
            <p>
              El cotizador de seguros es una herramienta digital que te permite
              cuáles son las coberturas que cada compañía aseguradora maneja,
              así como los precios que estipulan para cada uno de sus productos.
            </p>
            <p>
              En el caso de El Mejor Seguro de Auto, somos un bróker de seguros
              online donde agrupamos más de 20 aseguradoras para que compares
              fácilmente cuál es la protección que más te conviene, considerando
              tu presupuesto y el uso que le das a tu auto.
            </p>
            <p>
              Al utilizar nuestro comparador, puedes tener la oportunidad de
              cotizar seguro de auto en sólo 60 segundos, algo que sin duda te
              ahorra tiempo y contribuye a que puedas adquirir la mejor
              protección para tu vehículo sin invertir gran parte de tu día.
            </p>
            <!-- & -->
            <h3>¿Cómo funciona un cotizador de seguros?</h3>
            <p>
              En el mercado asegurador de México es posible hacer la cotización
              de seguro de auto haciendo uso de los comparadores, una
              alternativa que poco a poco cobra mayor relevancia por las
              facilidades que ofrece y por lo fácil que funciona.
            </p>
            <p>
              Un comparador o cotizador funciona a partir de los diferentes
              datos que le solicita a las personas que desean contratar un
              seguro, para que con ellos, pueda rastrear las coberturas y
              mostrarlas acompañadas del precio que tendría la póliza.
            </p>
            <p>
              Estas tablas comparativas de coberturas y precios se muestran en
              un lapso aproximado de 60 segundos, lo que sin duda refleja la
              eficiencia que tenemos en El Mejor Seguro de Auto, pues deseamos
              que en cuanto antes, puedas estar protegido y respaldado.
            </p>
            <p>
              Los datos que se solicitan al momento de cotizar seguro de auto
              están relacionados con las características básicas de un auto, por
              ejemplo, la marca, el modelo y la submarca, ya que esto permite
              calcular mejor los costos de las pólizas a partir de lo que podría
              necesitar cada vehículo.
            </p>
            <p>
              Esto es muy importante ya que no todos los precios de las pólizas
              son los mismos para los automovilistas, ya que un auto deportivo
              va a necesitar más protecciones en comparación que uno coche que
              se queda varios días de la semana estacionado.
            </p>
            <p>
              Para hacer más eficiente nuestra tarea de cotizar seguro de auto,
              en nuestro portal solicitamos otros datos relacionados
              importantes, como tu edad, género, código postal y medios de
              contacto (correo electrónico y teléfono).
            </p>
            <p>
              Al utilizar nuestro cotizador, puedes obtener la póliza de tu
              seguro en el mismo día y sin necesidad de hacer trámites
              complicados, los cuales en otras circunstancias podrían hacer que
              pierdas mucho tiempo.
            </p>
            <p>
              Además, al trabajar con más de 20 compañías aseguradoras, la
              cotización de seguro de auto es más completa, extensa y efectiva,
              porque vas a notar, claramente, cuáles son los precios y los
              beneficios que están disponibles, sin engaños y con la seguridad
              de que tú eres el que puede elegir el mejor.
            </p>
            <!-- & -->
            <h3>¿Cuáles son las ventajas de cotizar seguro de auto?</h3>
            <p>
              Una de las principales ventajas, o por lo menos una de las que más
              valoran los usuarios, sobre cotizar seguro de auto en línea, es
              que al realizarse por medio de internet, se ahorra tiempo porque
              se evita buscar en cada una de las aseguradoras, ya que muestra
              toda la información en una comparativa muy clara.
            </p>
            <p>
              Eso es lo que hacemos en El Mejor Seguro de Auto, te evitamos una
              cansada búsqueda de información con las aseguradoras, y en lugar
              de eso, hacemos que puedas cotizar en 60 segundos las coberturas
              que ofrecen las más de 20 compañías con las que trabajamos.
            </p>
            <p>
              Al cotizar seguro de auto en línea, no sólo ahorras tiempo,
              también dinero, porque no es necesario que acudas a las sucursales
              de las aseguradoras, ya que con un solo clic te mostramos cuáles
              son los tipos de protecciones que hay en el mercado y cuáles son
              sus costos.
            </p>
            <p>
              Para hacer tu experiencia de navegación más completa, en El Mejor
              Seguro de Auto también ponemos a tu disposición la asesoría
              telefónica, pues deseamos que el momento de cotizar seguros de
              autos sea una experiencia satisfactoria para ti, es decir, que
              puedas encontrar y contratar la mejor protección para tu
              patrimonio.
            </p>
            <p>
              Este tipo de asesorías rápidas las realizan nuestros asesores
              telefónicos, quienes cuentan con la capacitación y los
              conocimientos necesarios para ayudarte a elegir el mejor seguro.
            </p>
            <p>
              De hecho, después de que haces una cotización de seguro de auto en
              nuestro comparador, la información te llega a tu correo
              electrónico y posteriormente uno de nuestros agentes se pondrá en
              contacto contigo para darle seguimiento al trámite y concluir la
              contratación, en caso de que tú así lo decidas.
            </p>
            <p>
              En El Mejor Seguro de Auto también sabemos lo importante que es
              para ti la economía familiar, por eso al usar nuestro cotizador
              puedes ahorrar hasta un 50% en el costo de tu póliza, sin que eso
              repercuta en la calidad del servicio que un aseguradora le
              brindará a tu patrimonio.
            </p>
            <!-- & -->
            <h3>¿Cuál es el mejor seguro para tu auto?</h3>
            <p>
              Cuando se utiliza un comparador para cotizar seguro de auto, lo
              que se desea es poder encontrar la mejor protección, aquella que
              vaya acorde con tus necesidades y que no rebase el presupuesto que
              destinaste para este fin.
            </p>
            <p>
              Pero, ¿cómo puedes saber cuál es el mejor seguro para tu auto? La
              respuesta va a depender de varios factores: el tipo de vehículo
              que tienes, la ciudad donde radicas, el uso que le das al auto y
              qué tipo de cobertura buscas.
            </p>
            <p>
              Debes de saber que, de forma general, en el mercado asegurador las
              compañías ofrecen tres tipos de coberturas, aunque existen más,
              pero todas dependen de lo que establezca cada empresa.
            </p>
            <p>
              Para que puedas cotizar seguro de auto de manera óptima, en El
              Mejor Seguro de Auto te mostramos cuáles son las coberturas
              básicas y que generalmente, todas las compañías integran en sus
              paquetes.
            </p>
            <ul>
              <li>
                <div
                  :class="'imgCheckSize imgCheck' + $store.state.config.img"
                ></div>
                &nbsp; <strong>Responsabilidad civil</strong>: es una protección
                que ampara a los conductores en caso de que causen un accidente
                y derivado de esto, terceras personas resulten con lesiones
                corporales o lleguen a fallecer. Esta cobertura también
                contempla la indemnización que legalmente determinen las
                autoridades por estas causas.
              </li>
              <li>
                <div
                  :class="'imgCheckSize imgCheck' + $store.state.config.img"
                ></div>
                &nbsp; <strong>Limitada</strong>: esta cobertura incluye los
                mismos beneficios que una de Responsabilidad civil, pero también
                protege a los conductores en caso del robo total de su vehículo.
                Depende de cada aseguradora, pero en ocasiones también brinda
                asistencia legal y cubre gastos médicos.
              </li>
              <li>
                <div
                  :class="'imgCheckSize imgCheck' + $store.state.config.img"
                ></div>
                &nbsp; <strong>Amplia</strong>: es una protección que contiene
                la cobertura de Responsabilidad civil y además de proteger en
                casos de robo total y daños materiales, también incluye
                protección legal y a veces, según lo que establezca cada
                aseguradora, puede ofrecer un vehículo sustituto en caso de
                siniestro.
              </li>
            </ul>
            <p>
              En el momento de cotizar seguros de autos para buscar el mejor,
              debes de tener en cuenta que las opciones que te mostramos también
              dependen de la ciudad donde radiques, pues esa es una variable que
              las aseguradoras toman en cuenta para establecer sus precios.
            </p>
            <p>
              No cuesta lo mismo una póliza para un vehículo que circula en
              ciudades como Guanajuato o Mérida, donde los índices de
              delincuencia no son tan elevados, que en otros municipio como
              Ecatepec, donde un auto necesita estar mejor protegido a causa de
              los robos.
            </p>
            <p>
              Después de entrar a nuestro sitio oficial y cotizar seguro de
              auto, los resultados te mostrarán las coberturas que ofrecen
              nuestras aseguradoras y los precios, así que la decisión de cuál
              es la mejor protección, es totalmente tuya.
            </p>
            <!-- & -->
            <h4>¿Cuáles son las aseguradoras con las que puedes cotizar?</h4>
            <p>
              El interés que tenemos en El Mejor Seguro de Auto por ofrecerte
              solamente las mejores opciones, se puede notar a partir de las
              aseguradoras con las que trabajamos, ya que solamente nos interesa
              tener en nuestra base a las más reconocidas del mercado.
            </p>
            <p>
              Quálitas, AXA, GNP, Sura, Zurich, Mapfre y HDI son algunas de las
              aseguradoras que dan vida a nuestro comparador, donde puedes
              cotizar seguros de autos acorde a tus necesidades y las de tu
              familia.
            </p>
            <p>
              Sabemos que hay compañías de origen mexicano que se preocupan por
              la protección y la conservación del patrimonio de las familias,
              por eso también las incluimos en nuestro comparador, para que a la
              hora de cotizar seguro de auto, los usuarios encuentren a Seguros
              La Latino y Seguros El Potosí.
            </p>
            <p>
              También trabajamos con otras empresas que ofrecen seguros
              especializados, como Miituo, que se enfoca en aquellos
              automovilistas que sólo desean estar protegidos cuando conducen,
              pues son pocas las ocasiones en que manejan sus vehículos.
            </p>
            <p>
              Por medio de la cotización de seguro de auto que puedes hacer en
              nuestro comparador, es posible que encuentres coberturas de
              Responsabilidad, Amplias o Limitadas, pero también las que se
              enfocan en el pago de un seguro por kilómetro, como la que
              caracteriza a Miitou.
            </p>
            <p>
              Lo anterior es un claro ejemplo de que nuestro interés es ofrecer
              la mejor variedad de coberturas, tanto las tradicionales como las
              que aparecieron en el mercado hace poco, con el fin de que ningún
              conductor quede desprotegido.
            </p>
            <p>
              Además, cotizar seguro de auto es una necesidad principalmente
              para los automovilistas que todavía no contratan una protección,
              porque las autoridades mexicanas establecieron como obligatorio el
              seguro para todos los conductores.
            </p>
            <!-- & -->
            <h4>¿Por qué es obligatorio el seguro de auto?</h4>
            <p>
              Desde que inició el 2019, todos los vehículos que circulen por las
              vías, caminos y puentes del país, están obligados a contar con un
              seguro de auto, pues desafortunadamente todavía hay un gran número
              de conductores que se suben a su auto sin estar protegidos.
            </p>
            <p>
              La Condusef informó que la cobertura mínima que se debe de
              contratar es la de Responsabilidad civil, así que al cotizar
              seguro de auto en nuestro comparador, puedes saber cuál es el
              precio que ofrecen las más de 20 aseguradoras que agrupamos.
            </p>
            <p>
              En El Mejor Seguro de Auto te proporcionamos en 60 segundos no
              sólo los beneficios que se pueden obtener con coberturas de
              Responsabilidad civil, también los de otras protecciones más
              completas, como la Amplia y la Limitada, para que ampares mejor a
              tu patrimonio y claro, a tu familia.
            </p>
            <p>
              Aunque sabemos que el seguro de auto es obligatorio, no deseamos
              que se convierta en un gasto insostenible para el presupuesto de
              tu familia, por eso es que en El Mejor Seguro de Auto te ofrecemos
              la ventaja de pagarlo a 6 o 12 meses, un beneficio que sin duda
              vale la pena aprovechar.
            </p>
            <p>
              Otros beneficios como asistencia vial y auto sustituto, los puedes
              obtener a partir de cotizar seguro de auto en nuestro sitio
              Mejorsegurodeauto.mx, donde te brindamos las facilidades que en
              otros lugares sería complicado para ti encontrar.
            </p>
            <p>
              Las opiniones de las personas que hasta el momento han confiado en
              nosotros, destacan la facilidad con la que pueden cotizar seguro
              de auto, pues nuestros trámites no son tardados y los agentes
              telefónicos que colaboran en estas tareas, tienen claro que la
              prioridad son los clientes.
            </p>
            <p>
              Para cuidar el patrimonio de toda tu familia, garantizar la
              integridad física de tus seres queridos y para cumplir con las
              obligaciones viales que marca la ley, tu mejor opción es acercarte
              a El Mejor Seguro de Auto donde seguro encuentras la protección
              que te hacía falta.
            </p>
            <!-- & -->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "~/components/common/header-principal.vue";
import fichamovil from "~/components/common/fichapromosub.vue";
import beneficios from "~/components/common/beneficios.vue";
import formulario from "~/components/forms/autosForm.vue";
import promo from "~/components/common/fichadescuentofunnel.vue";
import telefonoService from "~/plugins/telefonoService.js";

export default {
  beforeCreate() {
    this.$store.state.config.aseguradora = "QUALITAS";
    this.$store.state.config.catalogo_directo = true;
    this.$store.state.isGlobal = true;
    this.$store.state.config.cotizacion = false;
    this.$store.state.config.emision = true;
    this.$store.state.config.telefonoAS = "47440410";
    this.$store.state.config.grupoCallback = "VN COMPARADOR M";
    this.$store.state.config.from = "DOMINIO-GNP";
    this.$store.state.config.urlRedireccion = "/cotizar-seguro-de-auto";
    this.$store.state.config.idPagina = 54;
    this.$store.state.config.idMedioDifusion = 1303;
    this.$store.state.config.idSubRamo = 50;
    this.$store.state.config.dominioCorreo =
      "QUALITAS|mejorsegurodeauto-mx-qualitas";
    this.$store.state.config.idCampana = 70;
    this.$store.state.config.asgNombre = "Mejor Seguro de Auto";
    this.$store.state.config.telefonoAS = "47440410";
    this.$store.state.config.h1 = "Cotizar Seguro de Auto Rapidísimo";
    this.$store.state.config.txtBtn = "";
    this.$store.state.config.img = "ms";
    this.$store.state.config.k1 = "Cotizar Seguro de Auto";
    this.$store.state.config.k2 = "Cotizar Seguros de Autos";
    this.$store.state.config.k3 = "Cotizador de Seguros";
    this.$store.state.config.k4 = "Cotizador de Seguros de Autos";
    this.$store.state.config.k5 = "Cotización de seguro de auto";
    this.$store.state.config.k6 = "";
    this.$store.state.config.k7 = "";
  },

  components: {
    Header,
        fichamovil,
    beneficios,
    promo,
    formulario,
  },
  head() {
    return {
      title: "Cotizar Seguro de Auto en Segundos - Mejor Seguro de Auto",
      meta: [
        {
          hid: "keywords",
          name: "keywords",
          content:
            "Cotizar Seguro de Auto, Cotizar Seguros de Autos, Cotizador de Seguros, Cotizador de Seguros de Autos, Cotización de seguro de auto",
        },
        {
          hid: "description",
          name: "description",
          content:
            "Cotizar Seguro de auto es fácil, trabajamos con más de 20 aseguradoras para darte el mejor beneficio. ¡El Mejor Seguro de auto en 60 Segundos!",
        },
        { hid: "author", name: "author", content: "twitter | @vargasdesignMx" },
        {
          hid: "sitemap",
          rel: "sitemap",
          type: "application/xml",
          title: "sitemap",
          href: "sitemap.xml",
        },
        {
          hid: "canonical",
          rel: "canonical",
          href: "https://mejorsegurodeauto.mx/cotizar-seguro-de-auto/",
        },
        { hid: "robots", name: "robots", content: "index,follow" },
      ],
    };
  },
};
</script>
<style>
.imgLogoAsg {
  width: 118px;
}

h1,
.tuPatita p,
h2,
h3,
h4,
h5 {
  color: #044a94;
}
.bg {
  background-color: #044a94;
  border-radius: 5px;
  height: 100%;
}
.addCont p {
  color: #044a94;
  border-bottom: 2px solid #044a94;
}
.addCont span,
.tabla thead th,
.botonTop,
.alertaColor {
  background: #044a94;
}
.imgMsdaSize {
  background-position: -220px -11px;
}
.imgTelSize {
  background-position: -343px -10px;
}
.imgMulta {
  background-position: -404px -10px;
}
.imgReloj {
  background-position: -457px -11px;
}
.imgChevron {
  background-position: -280px -7px;
}
.imgTrailerSize {
  background-position: -469px 0;
}
.imgBochoSize {
  background-position: -506px 8px;
}
.imgTarjetaSize {
  background-position: -673px 0;
}
.imgCheckSize {
  background-position: -774px -6px;
}
.imgSuv {
  background-position: -755px 4px;
}
.imgLupa {
  background-position: -905px -5px;
}
.imgEscudo {
  background-position: -983px -6px;
}
.imgMsdaBlanco {
  background-position: -796px 0;
}
.imgEstrellaSize {
  background-position: -956px -10px;
}
.imgLogoSize {
  background-position: -131px -34px;
  background-size: 1600px;
}
@media (min-width: 1024px) and (max-width: 1199px) {
}
@media (min-width: 768px) and (max-width: 1024px) {
}
@media (min-width: 426px) and (max-width: 767px) {
  .bg {
    background: #044a94;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .bg {
    background: #044a94;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .bg {
    background: #044a94;
  }
}
@media (min-width: 280px) and (max-width: 320px) {
  .bg {
    background: #044a94;
  }
}
</style>
