<template>
  <div>
    <Header />
    <div id="graciasMSDA" class="container-fluid">
      <div id="graciasporcotizar" class="row">
        <div class="col-12 bgBarra">
          <p>
            Conoce las coberturas que te ofrece
            <b>{{ $store.state.config.asgNombre }}</b>
          </p>
        </div>
        <div class="col-12 datosAuto">
          <span
            >{{ $store.state.formData.marca }}
            {{ $store.state.formData.descripcion }}
            {{ $store.state.formData.modelo }}
            {{ $store.state.formData.detalle}}</span
          >
        </div>
        <div
          class="col-12"
          v-if="!$store.state.cargandocotizacion && !$store.state.msj"
        >
          <loader />
        </div>
        <div class="col-12 p-0" v-if="$store.state.cargandocotizacion">
          <tabla />
        </div>
        <!--  -->
        <div class="col-12" v-if="this.$store.state.config.loading == false && this.$store.state.msj == true && !$store.state.formData.precio">
          <msj />
        </div>
        <div class="col-12">
                <logica />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Header from "~/components/common/header-principal.vue";
import tabla from "~/components/utilities/tabla.vue";
import msjEjecutivo from "~/components/utilities/msjEjecutivo.vue";
import msj from "~/components/utilities/msj.vue";
import loader from "~/components/utilities/loader.vue";
import logica from "~/components/common/logica.vue";

export default {
  created: function () {
    this.$store.state.formData.aseguradora = "QUALITAS";
    this.$store.state.config.asgNombre = "Mejor Seguro de Auto";
    this.$store.state.config.telefonoAS = "47440410";
    this.$store.state.config.reload = false;

    if (this.$store.state.formData.nombre != "") {
    } else {
      this.$router.replace({ path: "/error/" });
    }
  },
  components: {
    Header,
    tabla,
    loader,
    msjEjecutivo,
    msj,
    logica
  },
  head() {
    return {
      title: "Mejor Seguro de Auto 🥇- Cotiza Seguros de Autos, Hasta 40%-",
      meta: [
        {
          hid: "keywords",
          name: "keywords",
          content:
            "Mejor Seguro de Auto, Seguros de Autos, Seguros para Autos, Cotizar Seguro de Auto, Aseguradoras, Aseguradoras de Autos, cuál es el mejor seguro de auto, cotizador de seguros, seguro de auto, Seguros de Autos en México, Aseguradoras en México",
        },
        {
          hid: "description",
          name: "description",
          content:
            "Cotiza Seguros de Autos en Segundos y Descubre cual es el Mejor Seguro de Auto en México, Compara 23 Aseguradoras de autos. ¡Hasta 40%- en Seguros para autos!",
        },
        { hid: "author", name: "author", content: "twitter | @vargasdesignMx" },
        {
          hid: "sitemap",
          rel: "sitemap",
          type: "application/xml",
          title: "sitemap",
          href: "sitemap.xml",
        },
        {
          hid: "canonical",
          rel: "canonical",
          href: "https://mejorsegurodeauto.mx/thanks/",
        },
        { hid: "robots", name: "robots", content: "index,follow" },
      ],
    };
  },
};
</script>

<style>
.sk-fading-circle .sk-circle:before,
.tel,
.bgBarra,
.tablaCoberturas p,
.botonTop {
  background-color: #044a94;
}
.tel:hover {
  background-color: #043870;
}
.precio p,
.datosEjecutivo span,
.datosEjecutivo a,
.msjEjecutivo p,
.msj p {
  color: #044a94;
}
.msjEjecutivo,
.msj {
  border: 2px solid #044a94;
}
</style>
