<template>
  <div>
    <div id="sff_127__widget-container"></div>
    
    <Header />
    <div id="graciasMSDA" class="container-fluid">
      <div id="graciasporcotizar" class="row">
        <div class="col-12 bgBarra">
          <p>
            Conoce las coberturas que te ofrece
            <b>{{$store.state.config.asgNombre}}</b>
          </p>
        </div>
        <div class="col-12 datosAuto">
          <span>{{$store.state.formData.marca}} {{$store.state.formData.descripcion}} {{$store.state.formData.modelo}} {{$store.state.formData.detalle}}</span>
        </div>
        <!-- <div
          class="col-12"
          v-if="!$store.state.cargandocotizacion && !$store.state.msj"
        >
          <loader />
        </div> -->
       
        <div class="col-12" v-if="$store.state.msjEje || $store.state.msj">
          <msj />
        </div>
        <!--<div class="col-12" v-if="this.$store.state.config.loading == false && this.$store.state.msj == true && !$store.state.formData.precio">
          <msj />
        </div>-->
        <div class="col-12">
                <!-- <tarjeta /> -->
        </div>
      </div>
    </div>
    <logica/>
  </div>
</template>
<script>

import Header from "~/components/common/header-principal.vue";
import tabla from "~/components/utilities/tabla.vue";
import msjEjecutivo from "~/components/utilities/msjEjecutivo.vue";
import msj from "~/components/utilities/msj.vue";
import loader from "~/components/utilities/loader.vue";
import tarjeta from "~/components/utilities/creditcard.vue";
import logica from "~/components/common/logica.vue";
export default {
  created: function() {
    var idSolicitud = this.$store.state.formData.correo; //ok
    var idCampana = "ID Campaña: funnel-MejorSeguro-EKOMI"; //ok

    setTimeout(function() {
      if (process.client) {
        (function(w) {
          w["_ekomiServerUrl"] = "https://smartforms.ekomi.com";
          w["_ekomiShopId"] = "128681";
          w["_ekomiFormId"] = "122231";
          w["_ekomiTransactionId"] = idSolicitud;
          w["_ekomiProductIds"] = idCampana;
          w["_ekomiWidgetWidth"] = "810px";
          w["_ekomiWidgetHeight"] = "780px";
          w["_ekomiEmbedWidget"] = "0";
          w["_ekomiEmail"] = "";
          var s = document.createElement("script");
          s.src =
            w["_ekomiServerUrl"] +
            "/script/widget.js?v=" +
            new Date().getTime();
          s.async = true;
          var e = document.getElementsByTagName("script")[0];
          e.parentNode.insertBefore(s, e);
        })(window);
      }
    }, 1);

    this.$store.state.config.asgNombre = "Mejor Seguro de Auto";
    this.$store.state.config.telefonoAS = "47440410";

    if (this.$store.state.formData.nombre != "") {
    } else {
      this.$router.replace({ path: "/error/" });
    }
  },
  components: {
        
    Header,
    tabla,
    loader,
    msjEjecutivo,
    msj,
    tarjeta,
    logica
  }
};
</script>

<style>
.sk-fading-circle .sk-circle:before,
.tel,
.bgBarra,
.tablaCoberturas p,
.botonTop {
  background-color: #044a94;
}
.tel:hover {
  background-color: #043870;
}
.precio p,
.datosEjecutivo span,
.datosEjecutivo a,
.msjEjecutivo p,
.msj p {
  color: #044a94;
}
.msjEjecutivo,
.msj {
  border: 2px solid #044a94;
}
</style>