<template>
  <div class="container-fluid bgCont">
    <div class="row">
      <div class="col-12 px-xl-5 px-1">
        <div class="endCont">
          <p>Artículos de interés</p>
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 col-md-6 p-1">
                <a
                  target="_blank"
                  class="btn"
                  href="https://mejorsegurodeauto.mx/seguros-de-autos/"
                >
                  <div :class="'imgSuv'+$store.state.config.img+' imgSuv'" class="imgSuv" title="Seguros de Autos"></div>Seguros de Autos
                  <!-- <img id="suv" src="/img/icon/suv.svg" alt="suv" /> Seguros de Autos -->
                </a>
              </div>
              <div class="col-12 col-md-6 p-1">
                <a
                  target="_blank"
                  class="btn"
                  href="https://mejorsegurodeauto.mx/seguros-de-coches/"
                >
                  <div :class="'imgSuv'+$store.state.config.img+' imgSuv'" class="imgSuv" title="Seguros de Coches"></div>Seguros de Coches
                </a>
              </div>
              <div class="col-12 col-md-6 p-1">
                <a
                  target="_blank"
                  class="btn"
                  href="https://mejorsegurodeauto.mx/cotizar-seguro-de-auto/"
                >
                  <div :class="'imgLupa'+$store.state.config.img+' imgLupa'" class="imgLupa" title="Cotizar Seguro de Auto"></div>Cotizar Seguro de Auto
                </a>
              </div>
              <div class="col-12 col-md-6 p-1">
                <a
                  target="_blank"
                  class="btn"
                  href="https://mejorsegurodeauto.mx/comparador-de-seguros-de-autos/"
                >
                  <div :class="'imgLupa'+$store.state.config.img+' imgLupa'" class="imgLupa" title="Comparador de Seguros de Autos"></div>Comparador de Seguros de Autos
                </a>
              </div>
              <div class="col-12 col-md-6 p-1">
                <a
                  target="_blank"
                  class="btn"
                  href="https://mejorsegurodeauto.mx/aseguradoras-de-autos/"
                >
                  <div :class="'imgEscudo'+$store.state.config.img+' imgEscudo'" class="imgEscudo" title="Aseguradoras de Autos"></div>Aseguradoras de Autos
                </a>
              </div>
              <div class="col-12 col-md-6 p-1">
                <a
                  target="_blank"
                  class="btn"
                  href="https://mejorsegurodeauto.mx/blog/cobertura-limitada-en-seguros-de-autos/"
                >
                  <div :class="'imgEscudo'+$store.state.config.img+' imgEscudo'" class="imgEscudo" title="Cobertuta limitada"></div>Cobertura limitada
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>