<template>
    <div class="row text-center m-auto">
        <!-- COMPRA POR TELEFONO -->
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 mx-auto">
            <div id="tooltip">
        <span class="mb-0 text-white text-center">Un ejecutivo se pondrá en contacto contigo.</span>
    </div>   
            <a class="btn p-0"  target="_blank" rel="nofollow" role="button" @click="conectarAInteraccion()" 
             v-bind:class="{
                disabled: this.$store.state.config.btnEmisionDisabled,
            }" :disabled="this.$store.state.config.btnEmisionDisabled" v-if="$store.state.config.emision === true">
                <img src="/img/bllamada.svg" width="180" height="75" class="img-fluid p-0">
                
            </a>
        </div>

        <!-- COMPRA EN LINEA -->
        <div class="col-12 col-md-6 col-lg-6" style="
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    ">
            <a class="btn p-0" target="_blank" rel="nofollow" role="button" @click="conectarAEmision()"  v-bind:class="{
                disabled: this.$store.state.config.btnEmisionDisabled,
            }" :disabled="this.$store.state.config.btnEmisionDisabled"
                v-if="$store.state.config.emision === true && this.$store.state.config.aseguradora != 'AXA'">
                <img src="/img/bcompra.svg" width="180" height="75" class="img-fluid p-0">
            </a>
        </div>
    </div>
</template>
<style>
#tooltip {
    width: auto;
    max-width: 300px;
    display: none;
    background: #463C3C;
    border: 3px solid #463C3C;
    padding: 10px;
    position: relative;
    top: -15px;
    word-wrap: break-word;
    border-radius: 5px;
    margin-top: -54px;
    z-index: 2;
    color: white!important;
}
#tooltip:after {
    content:'';
  position:absolute;
  display:block;
  top:103%;
  left:45%;
  margin:0auto;
  width:0;
  height:0;
  border-color:#463C3C transparent transparent transparent;
  border-style:solid;
  border-width:15px;
}
</style>
<script>
export default {
    data() {
        return {
            textBoton: '',
            idMedioDifusionFake: 0,
            aseguradoraVentaFake: "",
        };
    },
    methods: {
        conectarAEmision(indice) {
            if (!this.$store.state.config.habilitarBtnEmision) {
                this.$store.state.config.btnEmisionDisabled = true;
                this.$store.commit('saveEmision')
            }
        },
        conectarAInteraccion() {
            if (!this.$store.state.config.habilitarBtnInteraccion) {
                document.getElementById("tooltip").className = "d-block mx-auto";
                this.$store.state.config.btnEmisionDisabled = true;
                this.$store.commit('saveInteraccion')
            }
        }
    },

}
</script>