<template>
<div class="text-center">
  <a class="btn mx-auto btn-comlinea btn-block text-white mb-2 py-2" rel="nofollow" role="button" @click="emision()" v-bind:class="{disabled: this.$store.state.config.habilitarEmision}">
   <svg class="icon">
     <use xlink:href="#carrito-de-compra"/>
    </svg> &nbsp; Comprar en Linea &nbsp;
   <svg class="icon">
     <use xlink:href="#proximo"/>
    </svg>
</a>
</div>
  
</template>
<style >
.btn-comlinea{
  background-color: #28a745;
  border-color: #28a745;
  border-bottom: 5px solid #1e7e34;
}
.btn-comlinea:hover {
  border: solid #28a745;
  background: #28a745;
  border-width: 2px 2px 5px;
}


</style>
<script>
import ws_new_lead_emision from '~/plugins/wsNuevoLeadInteraccion'
export default {
  data() {
    return {
      textBoton: '',
      idMedioDifusionFake : 0,
      aseguradoraVentaFake:"",
      difusion: 0
    };
  },
  methods: {
    
    emision(indice) {
       if (!this.$store.state.config.habilitarEmision) {
        this.$store.state.config.habilitarEmision = true;

        //Llamar a funcion para guardar lead
        var jsonEcomerse = {
          nombreUsr: this.$store.state.formData.nombre,
          telefonoUsr: this.$store.state.formData.telefono,
          emailUsr: this.$store.state.formData.correo,
          generoUsr: this.$store.state.formData.genero.toLowerCase() == "masculino" || this.$store.state.formData.genero.toLowerCase() == "m" ? "M" : "F",
          codigoPostalUsr: this.$store.state.formData.codigoPostal,
          edadUsr: this.$store.state.formData.edad,
          datosCot: JSON.stringify(this.$store.state.formData),
          respuestaCot: JSON.stringify(this.$store.state.cotizacion),
          emailValid: 1,
          telefonoValid: 1,
          mensajeSMS: "Felicidades: Ya tenemos tu solicitud, en breve un ejecutivo te contactará.",
          codigoPostalValid: 1,
          idSubRamo: this.$store.state.config.idSubRamo,//ID-ASEGURADORA
          idMedioDifusion: 2421,//PAGINA
          aseguradora: this.$store.state.config.aseguradora,
          idPagina: "54",
          ip: this.$store.state.config.ipCliente,
          telefonoAS: this.$store.state.config.telefonoAS,
        };

        //Se valida si se esta trabajando con ambiente de pruebas
        ws_new_lead_emision.newLeadEm(JSON.stringify(jsonEcomerse)).then(resp => {
        }).catch(e => console.error('Error al guardar leads Ecommerse ' + e));
      }
    }
  },
  
}
</script>