<template>
  <div>
    <p v-show="cotizacion.Aseguradora == 'ELAGUILA2'" class="btn cober">¡Mejor Cobertura!</p>
    <div class="asgBox card">
      <div class="row">
        <div class="col-6 col-sm-4 col-md-2">
          <!-- LOGO -->
          <div
            class="imgLogo"
            :class="'imgLogoAsg'+cotizacion.Aseguradora.toLowerCase()+' imgLogoAsg'"
            :title="$store.state.config.asgNombre"
          >
          </div>
          <!-- <img alt="Logo" :src="'/img/logo/'+cotizacion.Aseguradora.toLowerCase()+'.svg'" /> -->
          <p v-if="$store.state.cotizacionesAmplia.length == 0" class="btn barato">¡Más barato!</p>
        </div>
        <div class="col-6 col-sm-4 col-md-1">
          <!-- ESCUDO -->
          <img
            style="opacity: 0.8;"
            v-show="cotizacion.Aseguradora != 'ELAGUILA2'"
            alt="Proteccion"
            class="proteccion"
            src="/img/icon/escudo.svg"
          />
          <!-- ESCUDO 100X -->
          <img
            v-show="cotizacion.Aseguradora == 'ELAGUILA2'"
            alt="Proteccion"
            class="proteccion"
            src="/img/icon/escudo100.svg"
          />
        </div>
        <div class="col-2 px-1 d-none d-md-block">
          <!-- ROBO TOTAL -->
          <!-- <img alt="check" class="check" src="/img/check/ms.svg" /> -->
          <div :class="'mt-4 imgCheckSize imgCheck'+$store.state.config.img"></div>
          <p
            class="txtValor"
          >Valor Comercial, Deducible {{$store.state.aseguradoras[cotizacion.Aseguradora].robo}}</p>
          <li v-show="cotizacion.Aseguradora === 'ELAGUILA2'">
            <div :class="'mt-4 imgCheckSize imgCheck'+$store.state.config.img"></div>
            <p class="txtValor">No pagas deducible en tus primeros dos accidentes</p>
          </li>
        </div>

        <div class="col-2 px-1 d-none d-md-block">
          <!-- DAÑOS DEL VEICULO -->
          <div :class="'mt-4 imgCheckSize imgCheck'+$store.state.config.img"></div>
          <p
            class="txtValor"
          >Valor Comercial, Deducible {{$store.state.aseguradoras[cotizacion.Aseguradora].daño}}</p>
          <li v-show="cotizacion.Aseguradora === 'ELAGUILA2'">
            <div :class="'mt-4 imgCheckSize imgCheck'+$store.state.config.img"></div>
            <p
              class="txtValor"
            >Si el auto sufre una pérdida total te pagamos la suma asegurada del auto y $10,000.00 más.</p>
          </li>
        </div>

        <div class="col-2 px-1 d-none d-md-block">
          <!-- RESPOMSAVILIDAD CIVIL -->
          <div :class="'mt-4 imgCheckSize imgCheck'+$store.state.config.img"></div>
          <p class="txtValor">{{$store.state.aseguradoras[cotizacion.Aseguradora].rc | currency}}</p>
          <li v-show="cotizacion.Aseguradora === 'ELAGUILA2'">
            <div :class="'mt-4 imgCheckSize imgCheck'+$store.state.config.img"></div>
            <p
              class="txtValor"
            >Si manejas un auto que no sea de tu propiedad y llegas a chocar cubrimos los daños que ocasiones al tercero.</p>
          </li>
        </div>
        <div class="col-12 d-block d-md-none">
          <li v-show="cotizacion.Aseguradora === 'ELAGUILA2'">
            <div :class="'mt-4 imgCheckSize imgCheck'+$store.state.config.img"></div>
            <p class="txtValor">No pagas deducible en tus primeros dos accidentes</p>
          </li>
          <li v-show="cotizacion.Aseguradora === 'ELAGUILA2'">
            <div :class="'mt-4 imgCheckSize imgCheck'+$store.state.config.img"></div>
            <p
              class="txtValor"
            >Si el auto sufre una pérdida total te pagamos la suma asegurada del auto y $10,000.00 más.</p>
          </li>
          <li v-show="cotizacion.Aseguradora === 'ELAGUILA2'">
            <div :class="'mt-4 imgCheckSize imgCheck'+$store.state.config.img"></div>
            <p
              class="txtValor"
            >Si manejas un auto que no sea de tu propiedad y llegas a chocar cubrimos los daños que ocasiones al tercero.</p>
          </li>
        </div>

        <div class="col-12 col-sm-4 col-md-3">
          <!-- PRECIO -->
          <p>Precio</p>
          <h6>
            <span>
              {{cotizacion.Cotizacion.PrimaTotal | currency}}
              <!-- <b>/MNX</b> -->
            </span>
          </h6>
          <p class="gId text-center" v-if="cotizacion.Aseguradora.toUpperCase()=='CRABI' && $store.state.config.idVentaLeadCrabi > 0">Tu ID es: {{$store.state.config.idVentaLeadCrabi}}</p>
        </div>

        <div class="col-md-12 col-lg-4 aguilaLi mt-4 mb-3">
          <div class="alertaColor mt-md-4 mt-lg-0 mt-md-0">
            <span>
              <img src="/img/icon/desc.svg" alt="Promo" />
              &nbsp;{{$store.state.aseguradoras[cotizacion.Aseguradora].promo}}
            </span>
          </div>
        </div>
        <div class="col-lg-3 d-none d-md-block mb-md-4 mt-lg-4">
          <!-- EL AGUILA -->
          <a
            href
            data-toggle="collapse"
            :data-target="'#collapse-'+ cotizacion.Aseguradora.toLowerCase()"
            aria-expanded="false"
            v-show="cotizacion.Aseguradora == 'ELAGUILA2'"
            class="spanValor"
          >
            Cobertura 100
            <img src="/img/icon/chevronFunnel.svg" class="chevron" />
          </a>
          <!-- NORMAL -->
          <a
            @click="mostrarTabla()"
            data-toggle="collapse"
            :data-target="'#collapse-'+ cotizacion.Aseguradora.toLowerCase()"
            aria-expanded="false"
            v-show="cotizacion.Aseguradora != 'ELAGUILA2'"
            class="spanValor"
          >
            Cobertura {{$store.state.aseguradoras[cotizacion.Aseguradora].cobertura}}
            <img
              src="/img/icon/chevronFunnel.svg"
              class="chevron"
            />
          </a>
        </div>
        <div class="col-lg-5">
          <div class="container-fluid">
            <div class="row px-0 py-1">
              <!-- TELEFONO -->
              <div class="col-6 col-xl-5 offset-xl-2 pr-1 telBox">
                <a :href="'tel:'+$store.state.aseguradoras[cotizacion.Aseguradora].DID" class="btn">
                  <p>Llama ahora</p>
                  <img src="/img/icon/telefonoFunel.svg" />
                  <span>{{$store.state.aseguradoras[cotizacion.Aseguradora].DID | tel}}</span>
                </a>

              </div>
              <!-- ASESORIA -->
              <div class="col-6 col-xl-5 btnAse pl-1">
                <a
                  href="javascript:void(0)"
                  :class="$store.state.aseguradoras[cotizacion.Aseguradora.toUpperCase()].btn+' btn'"
                  :id="indice"
                  @click="enviarLead(indice)"
                  data-toggle="modal"
                  data-target="#mod"
                >
                  <p>Recibir asesoría</p>
                  <img src="/img/icon/phoneFunnel.svg" />
                  <span>Gratuita</span>
                </a>
              </div>
            </div>
          </div>
          <!-- COBERTURAS EL AGUILA VISTA MOVILE -->
          <a href="#0">
            <span
              data-toggle="collapse"
              :data-target="'#collapse-'+ cotizacion.Aseguradora.toLowerCase()"
              aria-expanded="false"
              v-show="cotizacion.Aseguradora == 'ELAGUILA2'"
              class="spanValor d-md-none my-2"
            >
              Cobertura 100
              <img src="/img/icon/chevronFunnel.svg" class="chevron" />
            </span>
          </a>
          <!-- COBERTURAS NORMAL VISTA MOVILE -->
          <a href="#0">
            <span
              data-toggle="collapse"
              :data-target="'#collapse-'+ cotizacion.Aseguradora.toLowerCase()"
              aria-expanded="false"
              v-show="cotizacion.Aseguradora != 'ELAGUILA2'"
              class="spanValor d-md-none"
            >
              Cobertura {{$store.state.aseguradoras[cotizacion.Aseguradora].cobertura}}
              <img
                src="/img/icon/chevronFunnel.svg"
                class="chevron"
              />
            </span>
          </a>
          <!-- MODAL -->
          <div
            class="modal fade"
            id="mod"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-body styleModal p-0">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-12 p-1 styleModal">
                        <div class="navbar m-0 p-0">
                          <div class="m-auto">
                            <div
                              class="imgLogo"
                              :class="'imgLogoAsg'+this.$store.state.cotizacionesAmplia[this.$store.state.config.nodoModal].Aseguradora.toLowerCase()+' imgLogoAsg'"
                              title="Logo"
                            ></div>
                            <!-- <img
                              alt="Logo"
                              :src="'/img/logo/' + this.$store.state.cotizacionesAmplia[this.$store.state.config.nodoModal].Aseguradora.toLowerCase()"
                            /> -->
                          </div>
                          <a
                            class="text-left"
                            :href="'tel:'+$store.state.aseguradoras[this.$store.state.cotizacionesAmplia[this.$store.state.config.nodoModal].Aseguradora.toUpperCase()].phonecotizar"
                          >
                            <p>Llama Ahora</p>
                            {{$store.state.aseguradoras[this.$store.state.cotizacionesAmplia[this.$store.state.config.nodoModal].Aseguradora.toUpperCase()].phonecotizar}}
                          </a>
                        </div>
                      </div>
                      <div class="col-12 styleModal">
                        <span>Seguros {{$store.state.aseguradoras[this.$store.state.cotizacionesAmplia[this.$store.state.config.nodoModal].Aseguradora.toUpperCase()].asgNombre}} Te contactará a la brevedad, asegura tu auto y {{$store.state.aseguradoras[this.$store.state.cotizacionesAmplia[this.$store.state.config.nodoModal].Aseguradora.toUpperCase()].promo}}</span>
                      </div>
                      <div class="offset-xl-10 col-xl-1 offset-7 col-6 mt-3 mb-2">
                        <button class="btn" type="button" data-dismiss="modal">Aceptar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- BOTON -- GENERAR ID  -->
          <div class="navbar px-0 py-1" v-show="cotizacion.Aseguradora == 'ELAGUILA'">
            <!-- GENERAR ID-->
            <div class="m-auto">
              <a
                href="javascript:void(0)"
                :class="$store.state.aseguradoras[cotizacion.Aseguradora.toUpperCase()].btn+' btn'"
                :id="indice"
                @click="enviarLead(indice)"
                data-toggle="modal"
                data-target="#mod"
              >
                <p class="gId">Generar Id</p>
              </a>
            </div>
            <div class="m-auto">
              <img
                v-if="$store.state.idValid === false"
                src="/img/icon/cargaId.gif"
                alt="Cardano Id"
                class="id"
              />
              <p
                v-if="$store.state.idValid === true && $store.state.config.idVentaLeadsAseguradoraA1 > 0"
                class="gId text-center"
              >Tu ID es: {{this.$store.state.config.idVentaLeadsAseguradoraA1}}</p>
            </div>
          </div>
          <!-- BOTON -- GENERAR ID EL AGUILA 2 -->
          <div class="navbar px-0 py-1" v-show="cotizacion.Aseguradora == 'ELAGUILA2'">
            <!-- GENERAR ID-->
            <div class="m-auto">
              <a
                href="javascript:void(0)"
                :id="indice"
                @click="enviarLead(indice)"
                v-bind:class="{disabled: this.$store.state.aseguradoras[cotizacion.Aseguradora.toUpperCase()].habilitar}"
                data-toggle="modal"
                data-target="#mod"
              >
                <p class="gId">Generar Id</p>
              </a>
            </div>
            <div class="m-auto">
              <img
                v-if="$store.state.idValid2 === false"
                src="/img/icon/cargaId.gif"
                alt="Cardano Id"
                class="id"
              />
              <p
                v-if="$store.state.idValid2 === true && $store.state.config.idVentaLeadsAseguradoraA2 > 0"
                class="gId"
              >Tu ID es: {{this.$store.state.config.idVentaLeadsAseguradoraA2}}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- PROMOCION -->
      <!-- TABLA -->
      <!--<div
        class="table-responsive collapse"
        :id="'collapse-'+ cotizacion.Aseguradora.toLowerCase()"
      >-->
        <table class="table-bordered table table-striped tabla" v-if="tabla" >
          <thead>
            <tr>
              <th class="text-left">Cobertura</th>
              <th class="text-left">Suma asegurada</th>
              <th>Deducible</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="c in cotizacion.Coberturas[0]" :key="c">
              <td class="text-left">{{c | showName}}</td>
              <td class="text-left">{{c | showSuma}}</td>
              <td>{{c | showDeducible}}</td>
            </tr>
          </tbody>
        </table>
      <!--</div>-->
    </div>
  </div>
</template>
<script>
import newContactoInteresadoService from "~/plugins/wsContactoInteresado";
export default {
  data() {
    return {
      tabla: false,
      detalles: [],
      selectedDetalle: [],
      resultDatosTabla: {},
    };
  },
  computed: {
    bloquear(indice){
      return this.$store.state.config.nodoModal === indice ? true : false;
    }
  },
  filters: {
    tel: function(value) {
      if (value) {
        var val1 = value.charAt(0);
        var val2 = value.charAt(1);
        var val3 = value.charAt(2);
        var val4 = value.charAt(3);
        var val5 = value.charAt(4);
        var val6 = value.charAt(5);
        var val7 = value.charAt(6);
        var val8 = value.charAt(7);
        var val9 = value.charAt(8);
        var val10 = value.charAt(9);
      }
      return (
        "(" +
        val1 +
        val2 +
        ")-" +
        val3 +
        val4 +
        val5 +
        val6 +
        "-" +
        val7 +
        val8 +
        val9 +
        val10
      );
    },
    showName: function(value) {
      return value.substring(
        value.lastIndexOf("-N") + 2,
        value.lastIndexOf("-S")
      );
    },
    showSuma: function(value) {
      let value_aux = value.substring(
        value.lastIndexOf("-S") + 2,
        value.lastIndexOf("-D")
      );
      if (value_aux.indexOf(".") !== -1) {
        // Verifica si existe un punto en la suma
        if (value_aux.indexOf(".") === 1) {
          // Si el punto está en la posición 1 es V. Comercial y se sustituye por VALOR COMERCIAL
          return "VALOR COMERCIAL";
        } else if (value_aux.indexOf(".") !== value_aux.length - 2) {
          // Quita los decimales de Banorte
          return value_aux.substring(0, value_aux.indexOf("."));
          //  + "\nPOR EVENTO"
        }
        value_aux = value.substring(
          value.lastIndexOf("-S") + 2,
          value.lastIndexOf("-D") - 2
        ); // Quita los decimales de AFIRME
      }
      // Evita las palabras y los precios de GNP debido a que ya tienen el formato requerido
      if (!isNaN(parseInt(value_aux[0], 10)) && value_aux.indexOf("$") === -1) {
        if (value_aux.indexOf(",") !== -1) {
          // Evita los precios sin formato de comas
          return "$ " + value_aux;
        }
        if (value_aux.length > 3) {
          // Evita los montos que no son lo suficientemente largos para tener comas
          if (value_aux.length / 3 > 1 && value_aux.length / 3 <= 2) {
            // Se le agrega una coma
            value_aux =
              value_aux.substring(0, value_aux.length - 3) +
              "," +
              value_aux.substring(value_aux.length - 3, value_aux.length);
          } else if (value_aux.length / 3 > 2 && value_aux.length / 3 <= 3) {
            // Se le agrega dos comas
            value_aux =
              value_aux.substring(0, value_aux.length - 6) +
              "," +
              value_aux.substring(value_aux.length - 6, value_aux.length - 3) +
              "," +
              value_aux.substring(value_aux.length - 3, value_aux.length);
          }
        } else if (value_aux.length === 1) {
          if (value_aux[0] === "1") {
            // Cambia los 1's de MAPFRE por AMPARADA
            return "AMPARADA";
          } else if (value_aux[0] === "0") {
            // Cambia los 0's por NO APLICA
            return "NO APLICA";
          }
        }
        return "$ " + value_aux; // Regresa los precios con el formato requerido
      }
      return value_aux.toString().toUpperCase(); // Regresa las palabras en   mayúsculas
    },
    showDeducible: function(value) {
      let value_aux = value.substring(
        value.lastIndexOf("-D") + 2,
        value.lastIndex
      );
      if (value_aux.indexOf(".") !== -1) {
        // En caso de que haya decimales en el porcentaje
        value_aux = value_aux.substring(0, value_aux.indexOf("."));
        //   return value_aux + "%";
      }
      // ESTA VALIDACION ESTABA ANTES NO SE BIEN QUE HACIA PERO ESTABA
      // if (value_aux.indexOf(".") !== -1) {
      //   // En caso de que haya decimales en el porcentaje
      //   value_aux = value_aux.substring(0, value_aux.indexOf("."));
      //   return value_aux + "%";
      // }
      if (value_aux[0] !== "$" && !isNaN(parseInt(value_aux[1], 10))) {
        // Evita todos los que son dinero y los que son palabras
        if (value_aux.length > 3) {
          if (
            value_aux[0] === "0" &&
            value_aux[1] === "0" &&
            value_aux[2] === "0"
          ) {
            // Evita los tres ceros de Qualitas
            value_aux = value.substring(
              value.lastIndexOf("-D") + 5,
              value.lastIndex
            );
            if (value_aux[0] === "0") {
              // Si es cero se evita poner el signo de porcentaje
              return "NO APLICA";
            }
            return value_aux + " %";
          }
        } else if (value_aux[value_aux.length - 1] === "%") {
          // Evita colocar dos veces el signo de porcentaje
          return value_aux;
        } else {
          return value_aux + " %";
        }
      } else if (value_aux.length === 1) {
        // Verifica si solo es un caracter
        if (value_aux[0] === "0") {
          // Si es cero se sustituye por NO APLICA
          return "NO APLICA";
        }
        return value_aux + " %";
      } else if (value_aux.length === 0) {
        // Sustituye los espacios en blanco por NO APLICA
        return "NO APLICA";
      } else if (value_aux[0] !== "$") {
        return value_aux.toString().toUpperCase();
      }
      return value_aux;
    }
  },
  props: {
    cotizacion: { type: Object, required: true },
    indice: { type: Number, required: true },
    nodoModal: {type: Number, required: true },
    paquete_cot: { type: Number, required: true }
  },
  components: {},
  methods: {
      enviarLead(indice) {
          this.$store.state.config.nodoModal = indice;
          if (!this.$store.state.aseguradoras[this.$store.state.cotizacionesAmplia[indice].Aseguradora].habilitar) {
          this.$store.state.aseguradoras[this.$store.state.cotizacionesAmplia[indice].Aseguradora].habilitar = true;
        }
      },
    editModal(indice, paquete_cot) {
      this.$store.state.config.idNodoAseguradoraViewModal = indice;
      this.$store.state.config.tipoPaquete = paquete_cot;
    },
    limpiarCoberturas() {
      if (this.cotizacion.Coberturas) {
        for (var c in this.cotizacion.Coberturas[0]) {
          if (this.cotizacion.Coberturas[0][c] === "-" || this.cotizacion.Coberturas[0][c] === "") {
            delete this.cotizacion.Coberturas[0][c];
          }
        }
      }
    },
    obtieneDatosAseguradora(event) {
        if (!this.$store.state.asegRecomendada[this.indice].configuracionPeticion.btnDisabled) {
            this.$store.state.asegRecomendada[this.indice].configuracionPeticion.btnDisabled = true;
            var datosAseguradora = this.$store.state.aseguradoras[this.$store.state.asegRecomendada[this.indice].Aseguradora]
            let aseguradora = this.$store.state.asegRecomendada[this.indice].Aseguradora
            switch (aseguradora) {
                case 'ABA2':
                    this.$store.state.formCotizacion.aseguradora = 'ABA'
                    break;
                case 'HDI2':
                    this.$store.state.formCotizacion.aseguradora = 'HDI'
                    break;
                case 'LATINO':
                    this.$store.state.formCotizacion.aseguradora = 'LA-LATINO'
                    break;
                case 'ELAGUILA':
                    this.$store.state.formCotizacion.aseguradora = 'EL-AGUILA'
                    break;
                case 'ELPOTOSI':
                    this.$store.state.formCotizacion.aseguradora = 'EL-POTOSI'
                    break;
                default:
                    this.$store.state.formCotizacion.aseguradora = aseguradora

            }
            this.$store.state.formCotizacion.aseguradora = aseguradora === 'ABA2' ? 'ABA' : 
            (aseguradora === 'HDI2' ? 'HDI' : aseguradora)

            var jsonContactoInterezadoWs = {
                idPagina: datosAseguradora.id_pagina,
                idEstadoCotizacion: 7,
                idMedioDifusion: datosAseguradora.idInteraccion,
                idTipoContacto: 1,
                idProductoSolicitud: this.$store.state.config.idProductoSolicitud,
                peticion: JSON.stringify(this.$store.state.formCotizacion),
                respuesta: JSON.stringify(this.$store.state.asegRecomendada[this.indice]),
                idSubRamo: datosAseguradora.idSubRamo,
                isMailValid: this.$store.state.formCotizacion.emailValid,
                isTelefonoValid: this.$store.state.formCotizacion.telefonoValid === 'MOVIL' || this.$store.state.formCotizacion.telefonoValid === 'FIJO' ? true : false,
                isCpValid: this.$store.state.formCotizacion.codigoPostalValid,
                msgSms: this.$store.state.config.textoSMS
            };
            //Se valida si se esta trabajando con ambiente de pruebas
            if (!this.$store.state.ambientePruebas) {
                newContactoInteresadoService.nuevoContacto(JSON.stringify(jsonContactoInterezadoWs),
                    this.$store.state.config.accessToken)
                .then(resp => {
                    console.log('Contacto guardado con éxito')
                })
                .catch(error => {
                    var status = error.status ? error.status : (error.response ? error.response.status : 500);
                    var message = error.data ? JSON.stringify({
                        "error": error.data,
                        "peticion": error.config.data,
                    }) : JSON.stringify({
                        "error":error,
                        "peticion":jsonContactoInterezadoWs,
                    })
                    if (status === 401) {
                        this.$store.dispatch("getToken")
                        .then(resp => {
                            this.accessToken = resp.data.accessToken
                            this.obtieneDatosAseguradora()
                        })
                        .catch(error => {
                            console.log('Hubo un problema al generar el token', error)
                        })
                    } else {
                        console.log('Hubo un problema al cargar los detalles')
                    }
                })
            } else {
                console.log("Llamada al cliente.... ambiente de pruebas ");
            }
        }
    },
    mostrarTabla() {
      this.limpiarCoberturas();
      if(this.tabla == false){
        this.tabla = true;
      }
      else{
        this.tabla = false;
      }
      
    }
  },
  async created() {
    this.cotizacion.Aseguradora === 'ABA2'
    ? this.cotizacion.Aseguradora = 'ABA'
    : this.cotizacion.Aseguradora
    this.limpiarCoberturas();
    this.accessToken = this.$store.state.config.accessToken
  }
};
</script>

<style>
.aguilaLi li {
  text-align: left !important;
  padding: 0 0 0 10px;
  font-size: 13px !important;
  line-height: 1.8;
}
.aguilaLi li img {
  width: 17px !important;
  margin: 0 !important;
}
.chevron {
  width: 15px !important;
  margin: -3px 0 0 0 !important;
  transform: rotate(90deg);
}
.gId {
  margin: 0 !important;
  text-align: center !important;
  font-size: 18px !important;
}
.styleModal img {
  width: 190px;
  margin: 0 !important;
}
.styleModal a,
.styleModal a:hover {
  padding: 4px 4px;
  border-radius: 9px;
  border: 2px solid #004998;
  margin: 0 auto;
  color: #004998;
}
.styleModal p {
  font-size: 12px !important;
  color: #004998 !important;
  margin: 0 !important;
}
.styleModal span {
  font-size: 18px !important;
  color: #004998 !important;
  margin: 15px 0 0 0;
  display: block;
}
.styleModal button {
  background: #004998;
  color: #fff;
}
.styleModal button:hover {
  background: #0b67ca;
  color: #fff;
}
.proteccion {
  width: 80px !important;
  margin-top: 30px;
}
.escudo {
  width: 80px !important;
  margin: -50px 0 0 0;
  z-index: -1;
}
.check {
  width: 20px !important;
}
.txtValor {
  color: #444 !important;
  font-size: 14px !important;
  margin: 5px 0 0 0 !important;
  font-weight: normal !important;
}
.spanValor {
  color: #444 !important;
  font-size: 14px !important;
  font-weight: normal !important;
  text-decoration-line: underline !important;
}
.alertaColor {
  /* background: linear-gradient(to right, rgb(5, 64, 180) 10%, #147ae7e8 100%); */
  background: #fff !important;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.alertaColor img {
  width: 30px !important;
  height: auto !important;
  margin: 0 !important;
}
.alertaColor span {
  color: #044a94;
  font-weight: bold;
}
.asgBox {
  margin: 0 0 5px 0;
  padding: 0;
  text-align: center;
  border-radius: 10px;
}
.asgBox #imgLogo {
  width: 140px;
  margin: 30px 0 0 5px;
  background-size: 1800px;
  background-position: -10px -35px;
}
.asgBox h6 span {
  border-bottom: 3px solid #f5ea32;
  color: #004998;
  font-weight: bold;
  font-size: 34px;
  margin: -5px 0 0 0;
}
.asgBox h6 span b {
  font-size: 14px;
}
.asgBox span {
  font-size: 14px;
}
.asgBox p {
  color: #004998;
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0 0 0;
  right: 0;
}
.telBox a {
  width: 100%;
  padding: 8px 4px;
  border-radius: 9px;
  border: 2px solid #004998;
  margin: 0 0 0 0;
}
.telBox img {
  width: 25px;
  height: auto;
  margin: -10px 5px 0 0;
}
.telBox span {
  color: #004998;
  margin: 0px 0 -15px 0;
  padding: 0;
  font-size: 14px;
}
.telBox a p {
  color: #004998;
  margin: 0px 0 -8px 20px;
  padding: 0;
  font-size: 12px;
  font-weight: 100;
}
.btnAse a {
  width: 100%;
  background: #28a745;
  border-radius: 9px;
  color: #fff;
  margin: 0 0 0 0;
  padding: 8px 4px;
  font-weight: bold;
}
.btnAse a:hover {
  color: #fff;
  background: #0ecf3b;
}
.btnAse img {
  width: 25px;
  height: auto;
  margin: -8px 15px 0 -20px;
  /* float: left; */
}
.btnAse a p {
  color: #ffffff;
  margin: 0px 0 -8px 20px;
  padding: 0;
  font-size: 14px;
  font-weight: 100;
}
.card-body {
  border-bottom: 1px solid #d3d0d0;
}
.card {
  box-shadow: 0 0 15px 8px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 15px;
  position: static;
}
@media (min-width: 1025px) and (max-width: 1199px) {
  .proteccion {
    width: 70px !important;
  }
  .asgBox img {
    width: 130px;
  }
  .telBox img,
  .btnAse img {
    width: 25px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .asgBox img {
    width: 110px;
  }
  .telBox img,
  .btnAse img {
    width: 25px;
  }
  .proteccion {
    width: 50px !important;
  }
}
@media (min-width: 426px) and (max-width: 767px) {
}
@media (min-width: 376px) and (max-width: 425px) {
  .asgBox p {
    margin: 0;
  }
  .btnAse img {
    float: none;
    margin: -10px 15px 0 -15px;
  }
  .btnAse,
  .telBox {
    width: 100%;
    text-align: center;
  }
  .asgBox h6 span {
    font-size: 45px;
  }
  .asgBox img {
    width: 160px;
  }
  .telBox img,
  .btnAse img {
    width: 25px;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .asgBox p {
    margin: 0;
  }
  .asgBox img {
    width: 130px;
  }
  .asgBox h6 span {
    font-size: 45px;
  }
  .btnAse img {
    float: none;
    margin: -10px 15px 0 -15px;
    width: 25px;
  }
  .telBox img {
    width: 25px;
    height: auto;
    margin: -10px 5px 0 0;
  }
  .btnAse,
  .telBox {
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 280px) and (max-width: 320px) {
  .asgBox p {
    margin: 0;
  }
  .telBox img {
    width: 25px;
    height: auto;
    margin: -10px 5px 0 0;
  }
  .asgBox img {
    width: 130px;
  }
  .asgBox h6 span {
    font-size: 45px;
  }
  .btnAse a {
    margin: 8px 0;
    width: 98%;
  }
  .btnAse img {
    float: none;
    margin: -10px 15px 0 -15px;
    width: 25px;
  }
  .telBox img {
    width: 25px;
    height: auto;
    margin: -10px 5px 0 0;
  }
  .btnAse,
  .telBox {
    width: 100%;
    text-align: center;
  }
}
</style>
