<template>
  <div class="card-body col-12">
    <div class="container">
      <div class="row">
        <div class="col-10 offset-1">
          <div class="row shake animated" style="background:rgb(244, 249, 251);border: 1px solid #e7e6e6;padding:10px;">
            <div class="col-12 col-sm-3 col-md-3 col-lg-2">
              <!-- <img style="max-width:140px;width:100%;height:auto;display:block;margin:0 auto;" src="/img/bannergm.svg" alt="gastos médicos" /> -->
              <svg version="1.1" id="_x3C_Layer_x3E_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" title="gastos médicos"
   y="0px" viewBox="0 0 373.4813 289.089"
   tyle="max-width:140px;width:100%;height:auto;display:block;margin:0 auto;" xml:space="preserve">
<style scoped="">
  .st0{opacity:0.11;fill:#275C9B;}
  .st1{fill:none;}
  .st2{fill:#F9F9F9;}
  .st3{fill:#375477;}
  .st4{fill:#FFFFFF;}
  .st5{fill:#EDEDED;}
  .st6{fill:#F2F2F2;}
  .st7{fill:#E5E5E5;}
  .st8{fill:#434444;}
  .st9{fill:#4D6777;}
  .st10{fill:#FC7575;}
  .st11{fill:none;stroke:#FC7575;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;}
  .st12{fill:#EFBDA8;}
  .st13{fill:#F9B9B9;}
  .st14{fill:#6E6F70;}
  .st15{fill:#223B56;}
  .st16{fill:#ED9A9A;}
  .st17{fill:#023135;}
  .st18{fill:#F67301;}
  .st19{fill:#FF8C36;}
  .st20{fill:#FD5E5A;}
  .st21{fill:#B7B7B7;}
  .st22{fill:#E6E8E8;}
  .st23{fill:#8D8D8E;}
  .st24{fill:#A8A8A8;}
  .st25{fill:#4C647C;}
  .st26{fill:#D6D6D6;}
</style>
<ellipse transform="matrix(0.866 -0.5 0.5 0.866 -49.4205 113.5679)" class="st0" cx="187.2103" cy="149.0038" rx="174.7549" ry="101.2256"/>
<g>
  <path class="st1" d="M261.3004,81.0281c-0.0908,0.0471-0.1858,0.0631-0.2788,0.0965
    C261.1977,81.078,261.3004,81.0281,261.3004,81.0281z"/>
  <path class="st1" d="M-205.9327-10.0362v261.5328H23.6575l-4.6867-81.3408l10.8347-0.4914l2.0386,0.0236
    c1.3285-14.2489,3.5049-26.8064,5.8468-35.3574c0.2342-2.3785,0.5644-4.5191,1.0141-6.3205
    c4.1999-16.831,23.5444-23.0351,27.6765-19.8668c2.8418-0.7323,5.6331-1.2611,8.2317-1.6311
    c0.4598-10.3902,4.5982-25.1151,6.5139-31.4464l-0.0002-0.0001c0,0-0.091-5.0378-1.1195-9.9026
    c-0.283-1.0771-0.5657-2.1102-0.8256-3.1147c-0.1815-0.557-0.3745-1.1011-0.5919-1.6089
    c-2.3765-5.5525-5.4938-21.3553,1.2518-25.4128c6.7456-4.0572,10.5684,0,10.5684,0s6.9714-7.4741,15.7411-6.193
    c8.7701,1.282,4.2731,5.7666,9.4449,5.7666c5.1715,0,14.8415,13.0257,14.8415,13.0257s2.4735,2.1358,5.1715,2.1358
    c2.6993,0,4.7226,14.3077-6.8403,18.7923c-5.0021,1.94-8.5186,1.1597-11.1491-0.9003c-0.2983,1.0803-0.6191,2.2668-0.9659,3.5327
    c-0.0005-0.0002-0.0007-0.0005-0.001-0.0007c-2.8301,10.3191-7.337,25.5564-14.5491,25.5564c-0.4314,0-0.8719-0.0333-1.3166-0.0862
    l-0.3062,10.7108c1.768,0.5795,3.5566,1.3606,5.2215,2.4014v-0.0002l5.1715,1.9444l0.2671,3.4583
    c0.091,0.1508,0.1756,0.3085,0.2622,0.4641c7.1471,9.5584,24.2894,35.9404,26.2956,71.4181
    c1.0596,18.7431-7.6576,26.3741-18.7941,28.5362l0.1929,2.4949l-5.729-0.8774c7.3806,13.7253,17.8895,27.3492,20.8488,31.0914
    c1.9741,0.9695,4.1574,2.0442,6.4963,3.1989h98.3119c0.647-7.7681,1.255-15.3325,1.791-22.3866l-31.4696,0.9002l-4.2848-15.874
    c-3.0965-0.0016-5.9803-10.3268-7.3187-13.0696c0,0-0.0327-0.0675-0.0594-0.1219c-0.0173-0.0356-0.024-0.0496-0.023-0.0477
    c-0.001-0.0019,0.0057,0.0122,0.023,0.0477c0.0139,0.0289,0.0247,0.0491,0.0594,0.1219c0,0,1.144-1.8627,2.7324-3.9219
    l-13.2654-49.1453h42.9031c1.7431-2.3102,3.4406-4.588,5.0486-6.7828c-0.0564-4.1884,0.6414-8.7023,5.66-11.4831
    c1.0351-0.5732,2.1296-1.0136,3.2457-1.3665c0.5753-0.9172,1.0873-1.7678,1.5182-2.532c1.9741-3.5012,4.3041-5.8123,6.6956-7.314
    l-0.3982-1.9537l9.368-2.4662c3.1534-3.2558,6.4016-5.8528,9.648-7.8291c0.3431-3.5683,0.6606-7.8487,0.4541-10.9178
    c-0.1407-2.0885-0.2904-3.9659-0.3747-5.3912c-4.8784-4.2938-7.947-11.4122-9.0313-17.1829
    c-0.1442-0.7671-0.2533-1.5076-0.346-2.2363c-0.0022,0.0014-0.005,0.0027-0.0072,0.0041c-0.0092-0.073-0.0107-0.1403-0.0196-0.213
    c-0.0366-0.3013-0.0705-0.6009-0.0992-0.8964c-1.2464,0.6741-2.422,1.5034-3.2877,2.5379
    c-2.0965,2.4436-1.0952,6.2351,0.2978,8.0312c0.5917,0.774,1.677,1.3838,2.8148,1.0205c0,0-5.2625,3.7844-8.5453-2.0384
    c-3.2828-5.8218-5.034-14.6534,1.86-20.7675c6.894-6.1132,9.4367-17.6112,17.8623-19.2618
    c0.0012-0.0002,0.002-0.0002,0.0032-0.0005c3.0263-1.3172,6.3071-1.8714,8.9685-1.6018
    c6.6991,0.6792,15.0762,0.9706,19.4532,6.2106c0.3117,0.3732,0.5743,0.8026,0.8014,1.2696v0.0001
    c2.8039,2.4867,3.7893,26.2963,1.0844,34.1293c-0.8167,2.3652-2.122,4.6568-3.8309,6.6649l0.4344-0.134l2.0782,5.2958
    c4.9165,1.4639,9.6744,3.4152,14.0705,5.9426c2.3062,1.3469,4.4621,2.8386,6.5784,4.3943c2.1143,1.5943,4.1366,3.143,5.9957,5.2129
    l-1.7017,0.9959c-1.4791-1.7462-3.5044-3.4616-5.4802-5.0278c-2.0095-1.5742-4.103-3.115-6.2668-4.4636
    c-2.1846-1.3522-4.4997-2.5534-6.894-3.6195c-1.1078-0.4964-2.2417-0.9668-3.3859-1.4088c2.1163,1.1733,4.5957,2.6845,6.921,4.4325
    c1.9001,1.272,3.7325,2.6274,5.4792,4.0704c2.6021,2.1172,4.9786,4.4627,7.1048,6.9836c2.2014,2.4823,3.9288,5.2621,5.5534,8.0849
    l-1.864,0.7317c-1.4109-2.7666-2.9266-5.5279-4.9341-8.0286c-1.5978-2.1014-3.3896-4.0975-5.3422-5.9683
    c0.1227,0.1748,0.2456,0.3497,0.3586,0.5263c4.842,7.5522,7.644,15.0088,7.644,15.0088l-1.513,0.6003
    c4.4972,4.5585,9.5928,10.8704,11.765,17.734c3.9828,12.5842-3.3726,62.5151-4.4272,69.4783
    c-0.0495,0.5295-0.1249,0.8168-0.1249,0.8168s1.3387,12.1114-11.5144,9.7362c-4.3943-0.8121-8.6942-4.8456-12.4514-9.801
    c0.3802,3.6902,1.2184,7.0451,2.6832,9.7957c2.6558,4.9884,5.4938,18.2292,8.1819,34.4745h210.137V-10.0362H-205.9327z"/>
  <path class="st1" d="M311.5865,179.2674c-0.1647-1.5253-0.3512-3.1516-0.5531-4.849c-0.3221,1.228-0.6426,2.5043-0.9555,3.8175
    C310.5882,178.5809,311.1007,178.926,311.5865,179.2674z"/>
  <path class="st1" d="M270.3814,111.3158c-0.3243,0.2402-0.648,0.4846-0.9723,0.7398h0.9043
    C270.3307,111.843,270.3537,111.5951,270.3814,111.3158z"/>
  <path class="st1" d="M318.1731,114.0299l0.0151,0.0696c0.0156,0.0129,0.0327,0.0275,0.048,0.0405
    C318.2149,114.1037,318.1951,114.0658,318.1731,114.0299z"/>
  <path class="st1" d="M292.1137,93.7573l-0.9896-2.5219c-0.0564,0.0216-0.1108,0.0458-0.1674,0.0668
    c0.0537,1.5747,0.1064,3.3054,0.1506,5.0987c0.3715-0.9691,0.8019-1.8516,1.2023-2.623L292.1137,93.7573z"/>
  <path class="st2" d="M251.8245,131.0718c-3.3929,0.1104-6.7379,0.7798-8.7328,1.8846c-4.3899,2.4314-3.7329,7.3241-3.4717,12.1527
    c0.043,0.9583,0.1091,1.9235,0.1838,2.8903h2.5655c0.3646-0.9844,0.7801-2.0114,1.2538-3.0912
    C245.7398,140.0806,248.6862,135.3607,251.8245,131.0718z"/>
  <path class="st2" d="M235.2726,143.9552c-0.0482-0.881-0.0977-1.8019-0.1106-2.7386c-1.608,2.1948-3.3055,4.4726-5.0486,6.7828
    h5.4053C235.3189,145.5479,235.2818,144.0156,235.2726,143.9552z"/>
  <path class="st2" d="M253.4014,124.016l-1.1197-5.4949c-2.3916,1.5016-4.7216,3.8128-6.6956,7.314
    c-0.4309,0.7642-0.9429,1.6148-1.5182,2.532c2.4373-0.7707,4.9887-1.0795,7.3279-1.1289
    C252.0528,126.121,252.7231,125.0535,253.4014,124.016z"/>
  <path class="st3" d="M277.7192,181.4056c-1.7396,0-3.9781,0.6191-4.547-1.1434l-2.0456,3.6843
    c0.3634,1.2858-1.1254,2.8144-3.6981,3.7835c-0.9471,15.3831-2.5761,39.1737-4.3055,63.7665h13.6419l1.7317-70.0694
    C278.181,181.4142,277.9044,181.4056,277.7192,181.4056z"/>
  <path class="st3" d="M268.2765,171.1272c0,1.5988-0.2033,5.7557-0.5568,11.7728c0.6263-0.4251,1.4643-0.4999,2.1766-0.2159
    l2.8467-5.9921c-0.027-0.3473,0.0294-0.8248,0.2904-1.9357c0.6688-2.85,0.5352-2.4937-0.5363-5.9377
    c-0.4996-1.6069,2.5301-3.2653,6.1206-4.493l0.4408-0.9278c-1.4762-0.6467-2.5259-1.4582-1.5798-2.2972
    c0.5805-0.5149,1.6681-0.642,2.9387-0.5633l6.3308-13.3268c0.1536-0.3227,0.4009-0.5817,0.6963-0.7772l5.9714-16.9622h-0.0002
    c0,0-1.5338-7.8679-2.49-16.172c-0.0737,0.709-0.1618,1.3079-0.2694,1.7476c-0.9478,3.8669-9.5753,8.8639-14.3282,8.3604
    c-5.4654-0.5791-6.0204-10.4838-6.0204-10.4838c-0.0487,0-0.0398-0.3179,0.0057-0.8678h-0.9043
    c-0.1306,0.1028-0.261,0.2123-0.3915,0.3175L268.2765,171.1272z"/>
  <path class="st4" d="M267.39,183.1754c0.1004-0.1044,0.2117-0.1953,0.3297-0.2755c0.3535-6.0171,0.5568-10.174,0.5568-11.7728
    l-6.2215-17.9553c-3.3948,6.9355-7.8463,13.9783-11.6517,18.8042l2.4413,9.6486
    C258.4883,185.6535,264.9188,185.7509,267.39,183.1754z"/>
  <path class="st4" d="M254.2307,187.1031l10.4563,41.3242l-23.8706,0.6827c-0.3943,5.1898-0.8276,10.6558-1.2868,16.276
    c-0.2688,3.2901,2.3281,6.1106,5.6291,6.1106h17.9643c1.7294-24.5928,3.3585-48.3835,4.3055-63.7665
    C264.1926,188.9492,259.2647,189.2708,254.2307,187.1031z"/>
  <path class="st4" d="M260.0537,147.3962l-2.0114-5.8048l4.5522-1.7497l-6.6942-3.5633l-1.0497-5.1512
    c-0.9901-0.071-2.0094-0.0885-3.026-0.0554c-3.1383,4.2888-6.0847,9.0087-8.2015,13.8363
    c-0.4737,1.0798-0.8892,2.1068-1.2538,3.0912h1.9671l4.7955,18.9526C253.3257,161.1401,257.3858,153.7595,260.0537,147.3962z"/>
  <path class="st4" d="M307.0406,207.2264c-7.2319-9.5384-12.4514-22.4961-12.4514-22.4961
    c-4.1321-2.3711-12.9876-3.1746-16.0926-3.3031l-1.7317,70.0694h34.3971c3.5387,0,6.2179-3.2009,5.5974-6.6848
    c-2.3394-13.134-4.7548-23.5054-7.0356-27.7897C308.259,214.2715,307.4207,210.9167,307.0406,207.2264z"/>
  <path class="st5" d="M310.9714,119.0244l-0.1437,0.401l0.9966,4.236c0.1135-0.3765,0.2263-0.7485,0.3391-1.1161
    C311.7582,121.3978,311.351,120.2045,310.9714,119.0244z"/>
  <path class="st4" d="M301.8369,143.494l-4.6991,1.0965l2.4091,2.8499l-12.702,14.4677c1.1034,0.3435,1.8534,0.6174,1.8534,0.6174
    c1.6802,0.6518,5.5764,2.7674,7.8282,5.3677c0.2003-0.0253,0.4027-0.0441,0.6075-0.0561
    C298.4908,161.8059,300.4322,152.7141,301.8369,143.494z"/>
  <path class="st4" d="M305.7643,174.988c0,0.155-0.0151,0.3065-0.026,0.459c1.5365,0.9409,2.9815,1.8707,4.3397,2.789
    c0.3129-1.3132,0.6334-2.5895,0.9555-3.8175c-1.3483-11.3549-3.3241-25.6966-3.3241-31.4846c0-3.124,1.0008-7.9302,2.2887-12.8271
    l-2.3352,0.2679c-0.655,9.7386-2.771,22.501-6.3412,38.2155C303.9552,169.7737,305.7643,172.1909,305.7643,174.988z"/>
  <path class="st6" d="M261.2514,114.1012l-9.368,2.4662l0.3982,1.9537l1.1197,5.4949
    C255.9047,120.1857,258.5424,116.898,261.2514,114.1012z"/>
  <path class="st6" d="M269.0175,112.3731c-4.4028,3.5477-8.7983,8.4726-12.8877,15.0747c4.2079,0.4457,8.4286,1.6452,10.4153,4.9838
    c2.2699,3.8104-0.3035,12.1875-4.4901,20.7401l6.2215,17.9553L269.0175,112.3731z"/>
  <path class="st6" d="M255.9003,136.2785l6.6942,3.5633l-4.5522,1.7497l2.0114,5.8048c2.562-6.1107,3.841-11.2786,2.703-13.1895
    c-1.1012-1.8511-4.3008-2.8207-7.9062-3.0795L255.9003,136.2785z"/>
  <path class="st7" d="M303.6153,124.2795c-0.3638-1.0607-0.6465-2.1851-0.7635-3.3213l0.5288,9.2641
    C303.5268,128.1521,303.6096,126.1582,303.6153,124.2795z"/>
  <path class="st7" d="M309.6377,114.3685l1.19,5.0569l0.1437-0.401C310.4398,117.372,309.9642,115.7553,309.6377,114.3685z"/>
  <path class="st6" d="M289.5562,146.1971c1.0913,0.408,1.6028,1.5224,1.1437,2.4902c-0.0158,0.0325-0.0356,0.0693-0.0524,0.1018
    l-6.8243,12.2909c1.1163,0.2595,2.1714,0.5635,3.0218,0.8282l12.702-14.4677l-2.4091-2.8499l4.6991-1.0965
    c0.6738-4.4227,1.2234-8.8725,1.5254-13.0276l-9.9463-0.9952l-5.9714,16.9622
    C288.034,146.0432,288.8297,145.9258,289.5562,146.1971z"/>
  <path class="st8" d="M235.5187,147.9994h4.285c-0.0747-0.9668-0.1407-1.932-0.1838-2.8903
    c-0.2612-4.8286-0.9182-9.7213,3.4717-12.1527c1.9949-1.1048,5.34-1.7741,8.7328-1.8846c1.0166-0.0331,2.0359-0.0156,3.026,0.0554
    c3.6053,0.2588,6.805,1.2284,7.9062,3.0795c1.138,1.9109-0.141,7.0788-2.703,13.1895c-2.6679,6.3633-6.728,13.7438-10.9218,19.5557
    l1.2714,5.0241c3.8054-4.826,8.2569-11.8688,11.6517-18.8042c4.1866-8.5527,6.76-16.9298,4.4901-20.7401
    c-1.9867-3.3387-6.2074-4.5381-10.4153-4.9838c4.0894-6.6022,8.485-11.527,12.8877-15.0747
    c0.1306-0.1052,0.261-0.2148,0.3915-0.3175c0.3243-0.2552,0.648-0.4995,0.9723-0.7398c0.1195-1.2132,0.3225-3.011,0.5179-5.0438
    c-3.2464,1.9763-6.4946,4.5733-9.648,7.8291c-2.7089,2.7969-5.3466,6.0845-7.85,9.9148c-0.6782,1.0375-1.3485,2.105-2.0057,3.2221
    c-2.3392,0.0493-4.8905,0.3582-7.3279,1.1289c-1.116,0.3529-2.2105,0.7933-3.2457,1.3665
    c-5.0186,2.7809-5.7164,7.2947-5.66,11.4831c0.0129,0.9367,0.0623,1.8576,0.1106,2.7386
    C235.2818,144.0156,235.3189,145.5479,235.5187,147.9994z"/>
  <path class="st8" d="M269.2134,185.8122c-0.375-0.1632-0.5363-0.5599-0.377-0.8968l1.0599-2.2313
    c-0.7124-0.284-1.5504-0.2093-2.1766,0.2159c-0.118,0.0801-0.2293,0.171-0.3297,0.2755
    c-2.4713,2.5754-8.9017,2.4781-14.5454-1.5508l1.3861,5.4784c5.034,2.1677,9.9619,1.8462,13.1979,0.627
    c2.5726-0.9691,4.0614-2.4978,3.6981-3.7835l-0.8595,1.548C270.0752,185.8402,269.6042,185.9824,269.2134,185.8122z"/>
  <path class="st8" d="M297.1341,167.8372c0.1788-0.0105,0.3569-0.0241,0.539-0.0241c1.3141,0,2.5514,0.284,3.6486,0.7771
    c3.5702-15.7145,5.6862-28.4769,6.3412-38.2155l-0.8281,0.095c0,0-2.0367-2.7415-3.2195-6.1902
    c-0.0057,1.8787-0.0885,3.8726-0.2347,5.9428l0.0141,0.2474l-0.0324-0.0033c-0.302,4.155-0.8516,8.6049-1.5254,13.0276
    C300.4322,152.7141,298.4908,161.8059,297.1341,167.8372z"/>
  <path class="st8" d="M301.3217,168.5902c-1.0972-0.4931-2.3344-0.7771-3.6486-0.7771c-0.182,0-0.3601,0.0136-0.539,0.0241
    c-0.2048,0.012-0.4071,0.0308-0.6075,0.0561c0.6191,0.7147,1.121,1.4639,1.4096,2.2319c0.3342,0.8882,1.1093,2.0199,2.0846,3.2184
    l0.4591-0.9625c1.8707,1.0337,3.6065,2.0546,5.2583,3.0659c0.0109-0.1525,0.026-0.304,0.026-0.459
    C305.7643,172.1909,303.9552,169.7737,301.3217,168.5902z"/>
  <path class="st2" d="M318.2362,114.14c-0.0154-0.013-0.0324-0.0276-0.048-0.0405l3.0164,13.8968l-6.3439,1.7373
    c0,0-1.3265-3.3031-2.6973-7.1881c-0.1128,0.3676-0.2256,0.7396-0.3391,1.1161l1.4287,6.072l-3.2548,0.3733
    c-1.2879,4.8968-2.2887,9.7031-2.2887,12.8271c0,5.788,1.9758,20.1297,3.3241,31.4846c0.2018,1.6974,0.3883,3.3237,0.5531,4.849
    c19.2579,13.5277,19.8208,24.2549,19.5448,27.2071c1.0547-6.9632,8.41-56.8941,4.4272-69.4783
    c-2.1722-6.8636-7.2678-13.1755-11.765-17.734l-3.3281,1.3204C320.4655,120.5826,319.8432,116.8439,318.2362,114.14z"/>
  <path class="st9" d="M264.687,228.4273l-10.4563-41.3242l-1.3861-5.4784l-2.4413-9.6486l-1.2714-5.0241l-4.7955-18.9526h-1.9671
    h-2.5655h-4.285h-5.4053h-42.9031l13.2654,49.1453c2.1801-2.826,5.1992-6.0228,7.2643-5.2904
    c3.5707,1.2671-1.7849,4.2749-3.7478,7.4408c-1.9649,3.1675,0.1781,1.9005,0.1781,1.9005
    c6.9613-6.1755,12.1387-5.8578,12.1387-4.2749c0,1.5829-9.9077,9.0236-9.9077,9.0236s11.3354-7.2819,11.3354-4.7487
    c0,2.5331-10.3529,8.2322-10.3529,8.2322s9.4605-5.2244,9.4605-2.1577c0,3.0667-8.2109,6.866-11.7816,6.866
    c-0.0002,0-0.0002-0.0001-0.0007-0.0001l4.2848,15.874l31.4696-0.9002L264.687,228.4273z"/>
  <path class="st10" d="M197.7433,201.0666c-0.0346-0.0728-0.0455-0.0929-0.0594-0.1219
    C197.7107,200.9991,197.7433,201.0666,197.7433,201.0666z"/>
  <path class="st11" d="M197.684,200.9447c-0.0173-0.0356-0.024-0.0496-0.023-0.0477"/>
  <path class="st12" d="M216.8444,207.2702c0-3.0667-9.4605,2.1577-9.4605,2.1577s10.3529-5.6991,10.3529-8.2322
    c0-2.5332-11.3354,4.7487-11.3354,4.7487s9.9077-7.4407,9.9077-9.0236c0-1.5829-5.1774-1.9006-12.1387,4.2749
    c0,0-2.143,1.267-0.1781-1.9005c1.9629-3.1659,7.3185-6.1737,3.7478-7.4408c-2.0651-0.7325-5.0842,2.4644-7.2643,5.2904
    c-1.5885,2.0592-2.7324,3.9219-2.7324,3.9219c1.3384,2.7428,4.2222,13.068,7.3187,13.0696c0.0005,0,0.0005,0.0001,0.0007,0.0001
    C208.6335,214.1362,216.8444,210.3369,216.8444,207.2702z"/>
  <path class="st13" d="M277.4788,161.1006c-0.9461,0.839,0.1036,1.6505,1.5798,2.2972l1.3589-2.8604
    C279.1469,160.4586,278.0593,160.5858,277.4788,161.1006z"/>
  <path class="st13" d="M283.8232,161.08l-1.1608,2.0904c2.7891-0.6541,5.2615-0.9452,6.036-0.6448c0,0-0.75-0.2739-1.8534-0.6174
    C285.9946,161.6434,284.9395,161.3394,283.8232,161.08z"/>
  <path class="st14" d="M272.7431,176.692l-2.8467,5.9921l-1.0599,2.2313c-0.1593,0.3369,0.002,0.7336,0.377,0.8968
    c0.3908,0.1702,0.8618,0.028,1.0537-0.3177l0.8595-1.548l2.0456-3.6843c-0.0876-0.2722-0.1388-0.5969-0.1388-0.994
    C273.0334,177.4572,272.7854,177.2354,272.7431,176.692z"/>
  <path class="st14" d="M290.6475,148.7891c0.0168-0.0325,0.0366-0.0693,0.0524-0.1018c0.4591-0.9678-0.0524-2.0822-1.1437-2.4902
    c-0.7264-0.2713-1.5222-0.1539-2.1116,0.2363c-0.2953,0.1955-0.5427,0.4545-0.6963,0.7772l-6.3308,13.3268l-1.3589,2.8604
    l-0.4408,0.9278c1.3223-0.4521,2.7184-0.8441,4.0446-1.1552l1.1608-2.0904L290.6475,148.7891z"/>
  <path class="st12" d="M300.0209,173.3436c-0.9753-1.1985-1.7505-2.3302-2.0846-3.2184c-0.2887-0.768-0.7905-1.5172-1.4096-2.2319
    c-2.2518-2.6003-6.148-4.7159-7.8282-5.3677c-0.7744-0.3003-3.2469-0.0093-6.036,0.6448
    c-1.3263,0.3111-2.7223,0.7031-4.0446,1.1552c-3.5905,1.2277-6.6202,2.8861-6.1206,4.493c1.0715,3.444,1.2051,3.0878,0.5363,5.9377
    c-0.261,1.1108-0.3174,1.5884-0.2904,1.9357c0.0423,0.5434,0.2904,0.7652,0.2904,2.5762c0,0.3971,0.0512,0.7218,0.1388,0.994
    c0.5689,1.7625,2.8074,1.1434,4.547,1.1434c0.1852,0,0.4618,0.0085,0.7774,0.0216c3.1049,0.1286,11.9604,0.932,16.0926,3.3031
    L300.0209,173.3436z"/>
  <path class="st2" d="M312.024,178.8299c-0.4858-0.3414-0.9983-0.6866-1.5085-1.0315c-1.3582-0.9183-2.8032-1.8481-4.3397-2.789
    c-1.6518-1.0113-3.3877-2.0322-5.2583-3.0659l-0.4591,0.9625l-5.4317,11.3868c0,0,5.2195,12.9577,12.4514,22.4961
    c3.7572,4.9554,8.057,8.9889,12.4514,9.801c12.8531,2.3753,11.5145-9.7362,11.5145-9.7362s0.0754-0.2873,0.1249-0.8168
    C331.8449,203.0848,331.2819,192.3576,312.024,178.8299z"/>
  <path class="st15" d="M308.5335,95.4823c0.9431,0.5659,1.8635,1.1617,2.7732,1.7708c-2.3253-1.748-4.8047-3.2592-6.921-4.4325
    c-0.9664-0.3734-1.9399-0.719-2.9149-1.0419C303.9094,92.873,306.2626,94.1241,308.5335,95.4823z"/>
  <path class="st15" d="M308.2377,95.85c-2.3577-1.5626-4.8275-3.0036-7.4127-4.2695c-1.7804,1.7362-4.399,2.6298-7.058,2.3505
    l-1.4574-0.1531c-0.4005,0.7715-0.8308,1.6539-1.2023,2.623c0.1538,6.2344,0.2018,13.1997-0.1815,16.8982
    c0.9562,8.3041,2.49,16.172,2.49,16.172h0.0002l9.9463,0.9952l0.0324,0.0033l-0.0141-0.2474l-0.5288-9.2641
    c0.117,1.1362,0.3997,2.2606,0.7635,3.3213c1.1828,3.4487,3.2195,6.1902,3.2195,6.1902l0.8281-0.095l2.3352-0.2679l3.2548-0.3733
    l-1.4287-6.072l-0.9966-4.236l-1.19-5.0569c0.3265,1.3868,0.8021,3.0035,1.3337,4.6559c0.3797,1.1801,0.7868,2.3733,1.192,3.521
    c1.3708,3.885,2.6973,7.1881,2.6973,7.1881l6.3439-1.7373l-3.0164-13.8968l-0.0151-0.0696
    c0.022,0.0359,0.0418,0.0738,0.0631,0.1101c1.607,2.7039,2.2293,6.4426,2.2293,6.4426l3.3281-1.3204l1.513-0.6003
    c0,0-2.8019-7.4566-7.644-15.0088c-0.113-0.1766-0.236-0.3515-0.3586-0.5263c-0.4062-0.3891-0.8096-0.7803-1.2303-1.1575
    C313.6487,99.7617,311.0317,97.7067,308.2377,95.85z"/>
  <path class="st3" d="M291.1241,91.2354l0.9896,2.5219l0.1959,0.0206l1.4574,0.1531c2.659,0.2794,5.2776-0.6142,7.058-2.3505
    c-0.0302-0.0148-0.0606-0.0291-0.091-0.0439c-0.1061-0.0336-0.2122-0.0717-0.3183-0.1046l0.0156-0.0415
    c-0.3503-0.1681-0.6948-0.3451-1.0495-0.5061c0.3599,0.1443,0.7114,0.3053,1.0676,0.457l0.2849-0.7685
    c0.2463,0.0706,0.49,0.1485,0.7356,0.2216l-2.0782-5.2958l-0.4344,0.134C296.9011,88.0495,294.2476,90.0373,291.1241,91.2354z"/>
  <path class="st15" d="M300.1398,64.0035c0.0005,0.0001,0.0005,0.0002,0.0008,0.0003c3.8982,2.177-0.2869,12.1527-3.9209,12.1527
    c-0.001,0-0.0017-0.0003-0.0027-0.0003c-0.4321,3.3381-2.4952,7.5655-5.4144,11.0379c0.0386,0.9444,0.0816,2.0556,0.1249,3.2768
    c0.0092,0.251,0.0181,0.5035,0.0267,0.7574c0,0.0001,0,0.0001,0,0.0001c0.0007,0.0241,0.0017,0.0496,0.0025,0.0736
    c0.0566-0.0211,0.1111-0.0453,0.1674-0.0668c3.1235-1.1981,5.777-3.1859,7.8332-5.6026c1.7089-2.0081,3.0142-4.2996,3.8309-6.6649
    c2.705-7.833,1.7195-31.6426-1.0844-34.1293v-0.0001C304.157,49.8859,301.9091,59.8995,300.1398,64.0035z"/>
  <path class="st12" d="M270.3134,112.0556c-0.0455,0.5499-0.0544,0.8678-0.0057,0.8678c0,0,0.555,9.9047,6.0204,10.4838
    c4.753,0.5036,13.3804-4.4934,14.3282-8.3604c0.1076-0.4397,0.1956-1.0386,0.2694-1.7476
    c0.3834-3.6986,0.3354-10.6639,0.1815-16.8982c-0.0443-1.7933-0.097-3.524-0.1506-5.0987
    c-0.0007-0.0241-0.0017-0.0496-0.0025-0.0736c-5.5049,7.2985-12.3445,9.9474-19.6007,4.1257
    c0.2065,3.0691-0.1111,7.3495-0.4541,10.9178c-0.1954,2.0328-0.3985,3.8305-0.5179,5.0438
    C270.3537,111.5951,270.3307,111.843,270.3134,112.0556z"/>
  <path class="st12" d="M290.8025,87.1942c-0.0005,0.0009-0.0012,0.0016-0.002,0.0025c0.0406,0.9815,0.0848,2.105,0.1269,3.2744
    C290.8842,89.2497,290.8411,88.1385,290.8025,87.1942z"/>
  <path class="st16" d="M290.9542,91.2285c0-0.0001,0-0.0001,0-0.0001c-0.0087-0.254-0.0176-0.5064-0.0267-0.7574
    c-0.042-1.1693-0.0863-2.2929-0.1269-3.2744c-3.5094,4.1738-8.25,7.251-12.8776,6.3501c-2.6201-0.5101-4.9321-1.8128-6.9442-3.5837
    c0.0843,1.4253,0.234,3.3027,0.3747,5.3912C278.6096,101.176,285.4492,98.527,290.9542,91.2285z"/>
  <path class="st12" d="M261.4755,69.4385c0.0287,0.2955,0.0626,0.5951,0.0992,0.8964c-0.0376-0.3086-0.0544-0.6023-0.0833-0.9048
    C261.4861,69.4329,261.4807,69.4356,261.4755,69.4385z"/>
  <path class="st12" d="M290.8006,87.1966c0.0007-0.0009,0.0015-0.0016,0.002-0.0025c2.9192-3.4724,4.9823-7.6998,5.4144-11.0379
    c-3.6303-0.003-2.3184-5.3179-2.3184-5.3179s0.4383-10.5777-0.5471-15.3326c-0.8516-4.1139-2.4445-6.4834-5.9746-8.3672
    c-3.68,6.9373-11.3811,18.4392-19.321,20.7586c-2.9192,0.8524-4.9927,1.7521-6.4545,2.6467
    c0.0927,0.7287,0.2018,1.4692,0.346,2.2363c1.0844,5.7707,4.1529,12.8891,9.0313,17.1829
    c2.0121,1.7709,4.3241,3.0736,6.9442,3.5837C282.5506,94.4476,287.2912,91.3704,290.8006,87.1966z"/>
  <path class="st16" d="M268.0558,67.8971c7.9398-2.3194,15.6409-13.8213,19.321-20.7586c-0.5508-0.2938-1.145-0.5771-1.795-0.8521
    c-2.8039,6.8028-8.7432,16.2363-15.9063,19.9961l-1.7245,0.6634c-1.1796,0.4214-3.9622,1.1368-6.4597,2.4842
    c0.0289,0.3025,0.0457,0.5962,0.0833,0.9048c0.0089,0.0727,0.0104,0.14,0.0196,0.213c0.0022-0.0014,0.0049-0.0027,0.0072-0.0041
    C263.0632,69.6492,265.1367,68.7495,268.0558,67.8971z"/>
  <path class="st15" d="M285.5818,46.2864c0.65,0.275,1.2441,0.5583,1.795,0.8521c3.5301,1.8838,5.123,4.2534,5.9746,8.3672
    c0.9854,4.7549,0.5471,15.3326,0.5471,15.3326s2.3426-9.0104,6.2413-6.8349c1.7693-4.104,4.0172-14.1176,1.564-19.165
    c-0.2271-0.467-0.4897-0.8964-0.8014-1.2696c-4.377-5.24-12.7542-5.5314-19.4532-6.2106
    c-2.6614-0.2696-5.9423,0.2846-8.9685,1.6018C280.9042,37.3124,285.8143,42.9297,285.5818,46.2864z"/>
  <path class="st12" d="M300.1406,64.0038c-0.0002-0.0001-0.0002-0.0002-0.0008-0.0003c-3.8987-2.1755-6.2413,6.8349-6.2413,6.8349
    s-1.3119,5.315,2.3184,5.3179c0.001,0,0.0017,0.0003,0.0027,0.0003C299.8537,76.1565,304.0388,66.1808,300.1406,64.0038z"/>
  <path class="st3" d="M300.4493,91.3415c0.3409,0.1451,0.6839,0.2858,1.0215,0.4372c0.975,0.3228,1.9486,0.6685,2.9149,1.0419
    c1.1442,0.4419,2.2781,0.9124,3.3859,1.4088c2.3943,1.0661,4.7095,2.2673,6.894,3.6195c2.1638,1.3487,4.2573,2.8894,6.2668,4.4636
    c1.9758,1.5662,4.0011,3.2816,5.4802,5.0278l1.7017-0.9959c-1.859-2.07-3.8813-3.6187-5.9957-5.2129
    c-2.1163-1.5557-4.2722-3.0474-6.5784-4.3943c-4.3961-2.5273-9.154-4.4786-14.0705-5.9426
    c-0.2456-0.0731-0.4893-0.1509-0.7356-0.2216L300.4493,91.3415z"/>
  <path class="st3" d="M300.4156,91.4321c0.1061,0.0329,0.2122,0.071,0.3183,0.1046c-0.1007-0.0491-0.2018-0.0975-0.3028-0.1461
    L300.4156,91.4321z"/>
  <path class="st3" d="M301.4708,91.7787c-0.3376-0.1514-0.6807-0.2922-1.0215-0.4372c-0.3562-0.1516-0.7077-0.3126-1.0676-0.457
    c0.3547,0.161,0.6992,0.338,1.0495,0.5061c0.1009,0.0485,0.2021,0.097,0.3028,0.1461c0.0304,0.0148,0.0609,0.0291,0.091,0.0439
    c2.5853,1.2659,5.055,2.7069,7.4127,4.2695c2.794,1.8566,5.4109,3.9117,7.8359,6.1193c0.4207,0.3772,0.8242,0.7684,1.2303,1.1575
    c1.9525,1.8707,3.7443,3.8669,5.3422,5.9683c2.0075,2.5007,3.5232,5.262,4.9341,8.0286l1.864-0.7317
    c-1.6246-2.8228-3.352-5.6026-5.5534-8.0849c-2.1262-2.5209-4.5027-4.8663-7.1048-6.9836
    c-1.7468-1.443-3.5791-2.7985-5.4792-4.0704c-0.9097-0.609-1.8301-1.2048-2.7732-1.7708
    C306.2626,94.1241,303.9094,92.873,301.4708,91.7787z"/>
  <path class="st15" d="M256.8867,71.2121c2.3904-3.5045,7.6301-4.9795,11.8172-6.5168
    c6.6358-3.3781,13.0124-12.7089,16.8779-18.4088c0.2325-3.3567-4.6776-8.974-13.1012-7.3264
    c-0.0012,0.0002-0.002,0.0002-0.0032,0.0005c-8.4256,1.6505-10.9683,13.1486-17.8623,19.2618
    c-6.894,6.1141-5.1428,14.9456-1.86,20.7675c3.2828,5.8228,8.5453,2.0384,8.5453,2.0384s-0.1027,0.0499-0.2788,0.0965
    C257.8543,82.2631,253.6937,75.6125,256.8867,71.2121z"/>
  <path class="st17" d="M267.951,66.9459l1.7245-0.6634c7.1631-3.7598,13.1024-13.1933,15.9063-19.9961
    c-3.8655,5.6999-10.2421,15.0307-16.8779,18.4088c-4.1871,1.5373-9.4268,3.0123-11.8172,6.5168
    c-3.193,4.4005,0.9676,11.051,4.1349,9.9125c0.093-0.0334,0.188-0.0494,0.2788-0.0965c-1.1378,0.3633-2.2231-0.2465-2.8148-1.0205
    c-1.393-1.7961-2.3943-5.5875-0.2978-8.0312c0.8657-1.0345,2.0414-1.8638,3.2877-2.5379c0.0052-0.0028,0.0107-0.0056,0.0158-0.0084
    C263.9887,68.0827,266.7714,67.3673,267.951,66.9459z"/>
  <path class="st18" d="M133.7901,249.0498c-6.5002-1.2307-14.5339-0.4496-23.0116,1.4569c-0.3722,0.0837-0.5225,0.5356-0.2752,0.826
    l0,0c0.0875,0.1029,0.2147,0.1639,0.3498,0.1639l23.6767,0c1.5252,0,2.0031-2.0608,0.6344-2.7335
    c-0.272-0.1337-0.5404-0.2655-0.8051-0.3956c-0.0489,0.0501-0.0113,0.0116-0.0602,0.0617
    C134.4321,248.7469,134.1622,249.1202,133.7901,249.0498z"/>
  <path class="st18" d="M78.0786,207.9509c-3.5338-2.1355-6.6076-6.4285-8.5052-11.1341c-0.6401,0.3818-1.2578,0.6325-1.8328,0.731
    c1.3196,3.8141,3.1311,7.2022,5.5554,9.9433c11.0311,12.473,25.6893,34.1493,32.2022,40.3322
    c0.0272-0.0077,0.0519-0.0145,0.0791-0.0221c0.8153,0.7511,1.5011,1.2548,2.0156,1.4276c0.8521,0.2866,1.6273,0.8005,2.3246,1.4751
    c9.3423-2.1762,18.1933-3.0312,25.1101-1.3908c0,0-0.2953-0.3638-0.8103-1.0153c-2.9592-3.7422-13.4682-17.3661-20.8488-31.0914
    l-8.1026-1.2409C93.2315,214.7121,81.6399,210.1033,78.0786,207.9509z"/>
  <path class="st18" d="M69.2088,142.5117c-2.6251,10.7075-4.9533,25.2122-4.3394,38.4249c2.1029-0.5434,4.007-0.9579,5.3479-1.2304
    c0.0853-0.0837,0.164-0.1735,0.254-0.2532c0.0465-0.0412,0.1021-0.0759,0.1504-0.116c-0.0275-0.0108-0.0613-0.024-0.092-0.0358
    c-0.0416-0.0167-0.0579-0.0233-0.0559-0.0224c-0.002-0.0009,0.0143,0.0057,0.0559,0.0224c0.024,0.0088,0.0514,0.0195,0.092,0.0357
    c6.8829-5.7273,30.3303,0.5502,30.337,0.5521l4.7436-70.1211c-1.6649-1.0407-3.4534-1.8218-5.2215-2.4014l-0.4309,15.0759
    c-7.2247,4.5592-25.3809-11.606-25.3809-11.606c-0.1153-1.3145-0.1242-2.7737-0.0557-4.3244
    c-2.5986,0.37-5.3899,0.8988-8.2317,1.6311c0.0448,0.0343,0.098,0.0633,0.139,0.0997
    C66.5206,108.2429,73.9251,123.2684,69.2088,142.5117z"/>
  <path class="st18" d="M111.403,115.6347c-0.0866-0.1556-0.1712-0.3133-0.2622-0.4641l0.0101,0.1294
    C111.2343,115.4107,111.3164,115.519,111.403,115.6347z"/>
  <path class="st18" d="M65.9097,190.4365c0.0101,0.0552,0.0218,0.1095,0.0319,0.1647c0.4437-0.5907,0.7383-0.9634,0.7383-0.9634
    S66.386,189.9477,65.9097,190.4365z"/>
  <path class="st18" d="M47.353,206.5155c-6.3259-13.964-11.6401-52.102-9.6621-72.1849c-2.3419,8.551-4.5183,21.1085-5.8468,35.3574
    c-0.4925,5.2819-0.8667,10.7957-1.0913,16.4211c-0.6626,16.601-0.0049,34.1744,2.8623,49.6792
    c0.4673,2.5265,0.9925,4.9985,1.5803,7.4022c1.1923,4.8759,5.5599,8.3062,10.5794,8.3062h43.1068
    C78.4392,241.4378,53.1602,219.3346,47.353,206.5155z"/>
  <path class="st19" d="M110.6402,251.4966c-0.2313-0.2822-0.4712-0.5494-0.7227-0.7928c-0.6973-0.6745-1.4725-1.1884-2.3246-1.4751
    c-0.5145-0.1728-1.2004-0.6765-2.0156-1.4276c-0.0272,0.0077-0.0519,0.0145-0.0791,0.0221
    c0.0737,0.0701,0.1521,0.1487,0.2236,0.2147c-3.4792,0.9799-6.9559,2.0452-10.3447,3.4586"/>
  <path class="st12" d="M74.6689,110.8366c0,0,18.1562,16.1652,25.3809,11.606l0.4309-15.0759l0.3062-10.7108l0,0l-0.2793,9.7584
    c-8.7489-0.3554-16.9251-12.0729-17.874-25.991c-0.0351-0.5134-0.0871-1.0131-0.1437-1.5085
    c-0.3421-1.2374-0.5793-2.5087-0.6997-3.8038c-0.0097,0.0001-0.0186,0.0001-0.028,0.0001c-0.0032,0.0108-0.0079,0.0109-0.0136,0
    c-0.3849,0.0003-0.6208-0.0452-0.6216-0.0454c-1.9157,6.3313-6.054,21.0563-6.5139,31.4464
    C74.5448,108.0629,74.5537,109.5221,74.6689,110.8366z"/>
  <path class="st16" d="M82.49,78.9149c0.0566,0.4954,0.1086,0.9951,0.1437,1.5085c0.9488,13.9181,9.1251,25.6356,17.874,25.991
    l0.2793-9.7584C93.675,95.8106,85.101,88.3572,82.49,78.9149z"/>
  <path class="st12" d="M107.7077,58.6705c-0.4118-0.4624-0.6035-4.0828-7.8518-6.7098c-1.3149,2.7382-5.0869,1.9365-8.6546,6.3848
    c1.1215,2.0642,1.635,4.488-0.3408,6.3645c-0.5254,0.4988-1.0436,0.8655-1.5464,1.1212c-0.8247,6.2295-2.9016,8.013-4.9652,8.5839
    c-1.0141,0.5683-1.9575,0.6901-2.5585,0.6959c0.1205,1.2951,0.3577,2.5665,0.6997,3.8038
    c2.611,9.4424,11.185,16.8958,18.2969,17.7411l0,0c0.4447,0.0529,0.8853,0.0862,1.3166,0.0862
    c7.2121,0,11.719-15.2373,14.5491-25.5564C112.8804,68.7217,110.1321,64.1479,107.7077,58.6705z"/>
  <path class="st16" d="M80.0074,65.163c-0.2256-1.0672-0.5006-2.1192-0.8256-3.1147C79.4417,63.0528,79.7244,64.086,80.0074,65.163z
    "/>
  <path class="st16" d="M110.5017,56.1681c-3.0703-6.8336-13.5704-8.542-13.5704-8.542s0.9001,2.349-2.0233,5.1252
    c-1.4413,1.3685-2.8806,3.4101-3.9711,5.1302c0.0913,0.1522,0.1791,0.3073,0.2644,0.4641
    c3.5677-4.4483,7.3397-3.6466,8.6546-6.3848c7.2482,2.6271,7.4399,6.2474,7.8518,6.7098
    c2.4245,5.4774,5.1727,10.0511,8.945,12.5153c0.0003,0.0002,0.0005,0.0005,0.001,0.0007c0.3468-1.2659,0.6676-2.4524,0.9659-3.5327
    C114.1688,64.9516,112.2435,60.0455,110.5017,56.1681z"/>
  <path class="st16" d="M89.314,65.8313c-0.1974,0.1003-0.3898,0.1696-0.5818,0.2357c-0.7517,5.1349-2.6639,7.3842-4.3835,8.3482
    C86.4124,73.8443,88.4894,72.0607,89.314,65.8313z"/>
  <path class="st20" d="M81.7623,75.1111c-0.0047,0-0.0091,0-0.0136,0C81.7544,75.1221,81.7591,75.1219,81.7623,75.1111z"/>
  <path class="st15" d="M81.7487,75.1111c0.0045,0,0.0089,0,0.0136,0c0.0094,0,0.0183,0.0001,0.028-0.0001
    c0.6011-0.0058,1.5444-0.1276,2.5585-0.6959c1.7195-0.964,3.6318-3.2133,4.3835-8.3482c-3.2993,1.1362-5.7365-2.6249-4.6184-6.6953
    c0.0908-0.33,0.186-0.6406,0.284-0.931c0.9706-2.8684,4.943-3.2036,6.521-0.5905c0.0059,0.0103,0.0119,0.021,0.0181,0.0313
    c1.0905-1.7201,2.5299-3.7617,3.9711-5.1302c2.9234-2.7762,2.0233-5.1252,2.0233-5.1252s10.5001,1.7084,13.5704,8.542
    c1.7418,3.8774,3.6672,8.7835,7.1179,11.4857c2.6305,2.0601,6.147,2.8403,11.1491,0.9003
    c11.5629-4.4846,9.5396-18.7923,6.8403-18.7923c-2.698,0-5.1715-2.1358-5.1715-2.1358s-9.67-13.0257-14.8415-13.0257
    c-5.1718,0-0.6748-4.4846-9.4449-5.7666c-8.7697-1.281-15.7411,6.193-15.7411,6.193s-3.8227-4.0572-10.5684,0
    c-6.7456,4.0575-3.6283,19.8603-1.2518,25.4128c0.2174,0.5077,0.4103,1.0518,0.5919,1.6089
    c0.325,0.9955,0.6001,2.0475,0.8256,3.1147c1.0285,4.8648,1.1195,9.9026,1.1195,9.9026l0.0002,0.0001
    C81.1279,75.0659,81.3638,75.1114,81.7487,75.1111z"/>
  <path class="st12" d="M90.8604,64.71c1.9758-1.8765,1.4623-4.3003,0.3408-6.3645c-0.0853-0.1568-0.1731-0.3118-0.2644-0.4641
    c-0.0062-0.0103-0.0121-0.021-0.0181-0.0313c-1.5781-2.6131-5.5504-2.2779-6.521,0.5905c-0.098,0.2904-0.1932,0.601-0.284,0.931
    c-1.118,4.0704,1.3191,7.8315,4.6184,6.6953c0.1919-0.0661,0.3844-0.1354,0.5818-0.2357
    C89.8169,65.5756,90.3351,65.2088,90.8604,64.71z"/>
  <path class="st19" d="M105.7217,248.038c-0.0715-0.066-0.1499-0.1446-0.2236-0.2147
    c-6.5129-6.1829-21.1711-27.8592-32.2022-40.3322c-2.4242-2.7411-4.2358-6.1292-5.5554-9.9433
    c-0.1744,0.0299-0.3495,0.0618-0.5145,0.0607c-0.9958-0.0068-1.1917-0.5256-0.9562-1.2723
    c-1.3619,1.4435-2.8074,2.6016-3.9372,2.5937c-2.3953-0.0162,1.8279-5.9578,3.609-8.3288
    c-0.0101-0.0552-0.0218-0.1095-0.0319-0.1647c-1.9595,2.0104-7.11,7.1431-8.6141,7.1325
    c-1.8699-0.0131-2.2034-4.8242,5.1458-11.2427c0,0,1.5135-1.9795-2.2419-0.1807c-3.7557,1.7987-7.1325,6.6668-8.8196,3.4228
    c-1.9892-3.8261,6.731-6.8854,13.4895-8.6317c-0.6139-13.2128,1.7144-27.7175,4.3394-38.4249
    c4.7164-19.2433-2.6882-34.2688-2.6882-34.2688c-0.0411-0.0364-0.0942-0.0654-0.139-0.0997
    c-4.1322-3.1683-23.4766,3.0358-27.6765,19.8668c-0.4497,1.8014-0.7799,3.942-1.0141,6.3205
    c-1.978,20.0829,3.3362,58.221,9.6621,72.1849c5.8072,12.8191,31.0862,34.9223,41.5286,44.9811h6.4953
    C98.7659,250.0832,102.2426,249.0179,105.7217,248.038z"/>
  <path class="st2" d="M118.9045,215.5889c11.1365-2.162,19.8537-9.793,18.7941-28.5362
    c-2.0062-35.4776-19.1485-61.8596-26.2956-71.4181c-0.0866-0.1156-0.1687-0.224-0.252-0.3347L118.9045,215.5889z"/>
  <path class="st2" d="M76.9685,186.5938c-0.0233,2.6676-3.9674,8.1781-7.3951,10.223c1.8976,4.7056,4.9714,8.9986,8.5052,11.1341
    c3.5613,2.1523,15.1529,6.7611,27.1873,8.0145l-6.6786-1.0229l2.3713-35.0533c-0.0067-0.0018-23.4541-6.2794-30.337-0.5521
    c0.0161,0.0064,0.0275,0.0108,0.0515,0.0204c0,0-0.022-0.0087-0.0515-0.0204c-0.0482,0.0401-0.1039,0.0747-0.1504,0.116
    c-0.09,0.0797-0.1687,0.1694-0.254,0.2532c1.2085-0.2456,1.9627-0.3769,1.9627-0.3769
    C75.4092,180.5938,76.9932,183.7176,76.9685,186.5938z"/>
  <polygon class="st21" points="98.5873,214.9425 105.2659,215.9654 113.3684,217.2064 119.0975,218.0838 118.9045,215.5889 
    111.151,115.3 111.1408,115.1706 110.8737,111.7123 105.7022,109.7679 105.7022,109.7681 100.9586,179.8892   "/>
  <path class="st10" d="M70.6216,179.3371c-0.0406-0.0162-0.068-0.027-0.092-0.0357
    C70.5603,179.3132,70.5941,179.3264,70.6216,179.3371c0.0294,0.0117,0.0515,0.0204,0.0515,0.0204
    C70.6491,179.3479,70.6377,179.3435,70.6216,179.3371z"/>
  <path class="st11" d="M70.4737,179.279c-0.002-0.0009,0.0143,0.0057,0.0559,0.0224"/>
  <path class="st12" d="M76.9685,186.5938c0.0247-2.8763-1.5593-6-4.7886-7.2644c0,0-0.7542,0.1313-1.9627,0.3769
    c-1.3409,0.2724-3.2449,0.687-5.3479,1.2304c-6.7585,1.7463-15.4787,4.8056-13.4895,8.6317
    c1.6871,3.244,5.0639-1.6241,8.8196-3.4228c3.7555-1.7988,2.2419,0.1807,2.2419,0.1807
    c-7.3491,6.4186-7.0157,11.2296-5.1458,11.2427c1.5041,0.0106,6.6546-5.122,8.6141-7.1325
    c0.4764-0.4888,0.7702-0.7988,0.7702-0.7988s-0.2946,0.3727-0.7383,0.9634c-1.7811,2.371-6.0043,8.3125-3.609,8.3288
    c1.1299,0.0079,2.5754-1.1502,3.9372-2.5937c-0.2355,0.7467-0.0396,1.2655,0.9562,1.2723c0.165,0.0011,0.3401-0.0308,0.5145-0.0607
    c0.5751-0.0985,1.1927-0.3492,1.8328-0.731C73.0011,194.772,76.9452,189.2615,76.9685,186.5938z"/>
</g>
</svg>



            </div>
            <div class="col-12 col-sm-9 col-md-9 col-lg-6 pt-3">
              <p style="font-size:20px;font-weight:700;margin-bottom: 0.2rem;">Obtén tu Seguro de Gastos Médicos al Mejor Precio</p>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 pt-3">
              <a href="https://gnpgastosmedicos.mx/landing-autos/" target="_blank" rel="nofollow" class="btn btn-block btn-success mt-2 fff" style="line-height:2;font-weight:bold;font-size:20px;font-family:sans-serif;">Cotizar Gratis&nbsp;&nbsp;
              <div class="imgFormW">
                <div class="imgForm size" title="Cotiza Gratis Ahora"></div>
              </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
  .fff{color:#fff!important;}
  .animated{-webkit-animation-duration: 1s;animation-duration: 1s;-webkit-animation-fill-mode: both;animation-fill-mode: both;}
@-webkit-keyframes shake {
  from,
  to {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
  10%,30%,50%,70%,90% {-webkit-transform: translate3d(-10px, 0, 0);transform: translate3d(-10px, 0, 0);}
  20%,40%,60%,80% {-webkit-transform: translate3d(10px, 0, 0);transform: translate3d(10px, 0, 0);}}

@keyframes shake {
  from,
  to {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
  10%,30%,50%,70%,90% {-webkit-transform: translate3d(-10px, 0, 0);transform: translate3d(-10px, 0, 0);}
  20%,40%,60%,80% {-webkit-transform: translate3d(10px, 0, 0);transform: translate3d(10px, 0, 0);}}
  .shake {-webkit-animation-name: shake;animation-name: shake;}
</style>


<!--<template>
  <div>
  <section>
    <br>
  <div class="card-body col-12">
      <div class="container">
      <div class="row">
      <div class="col-10 offset-1">
      <div class="row shake animated" style="background:/*#efefef*/#f6f4f0;border: 1px solid #e7e6e6;padding:10px;">
      <div class="col-12 col-sm-12 col-md-2 col-lg-2">
        <img style="width:auto;height:39px;display:inline-block;" src="/img/icon/amex.png" alt="amex" />
        <img style="width:auto;height:50px;display:inline-block;" src="/img/icon/amex-gold.png" alt="amex"/>
      </div>
      <div class="col-12 col-sm-12 col-md-10 col-lg-6">
        <p style="font-size:20px;font-weight:bold;margin-bottom: 0.2rem;">Obtén tu tarjeta de crédito. ¡Gratis, fácil y rápido!</p>
        <span>Obtén $2,000 en monedero electrónico en Liverpool</span>		
    </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-4">
        <a href="https://americanexpresstarjetas.com.mx/GoldElite?o=100287839&utm_source=ahorracredit&utm_medium=affiliates&utm_campaign=affiliatesgoldgrcc1&utm_content=goldgrcc" target="_blank" rel="nofollow" class="btn btn-block btn-success mt-2 fff" style="line-height:2;font-weight:bold;font-size:20px;">Solicitar aquí&nbsp;&nbsp;&nbsp;<div class="imgChevron"></div></a>
      </div>
      </div>
      </div>
      </div>
      </div>
  </div>
  </section>
  </div>
</template>

<style>
  .fff{color:#fff!important;}
  .animated{-webkit-animation-duration: 1s;animation-duration: 1s;-webkit-animation-fill-mode: both;animation-fill-mode: both;}
@-webkit-keyframes shake {
  from,
  to {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
  10%,30%,50%,70%,90% {-webkit-transform: translate3d(-10px, 0, 0);transform: translate3d(-10px, 0, 0);}
  20%,40%,60%,80% {-webkit-transform: translate3d(10px, 0, 0);transform: translate3d(10px, 0, 0);}}

@keyframes shake {
  from,
  to {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
  10%,30%,50%,70%,90% {-webkit-transform: translate3d(-10px, 0, 0);transform: translate3d(-10px, 0, 0);}
  20%,40%,60%,80% {-webkit-transform: translate3d(10px, 0, 0);transform: translate3d(10px, 0, 0);}}
  .shake {-webkit-animation-name: shake;animation-name: shake;}
</style>-->