<template>
  <div>
    <!-- INDEX -->
    <div v-if="$store.state.config.asgNombre == 'Mejor Seguro de Auto'" class="py-4"></div>
    <!-- EL AGUILA -->
    <!--<a href="/" v-if="$store.state.config.asgNombre == 'El Aguila'">
      <img :alt="$store.state.config.asgNombre" class="logo" src="/img/logo/msdaN.svg" />
    </a>-->
    <a href="/">
      <div
        :class="'imgLogoAsg'+$store.state.config.img+' imgLogoAsg'"
        :title="$store.state.config.asgNombre"
        v-if="$store.state.config.asgNombre != 'Mejor Seguro de Auto' "
      ></div>
    </a>
    <h1>{{$store.state.config.h1}}</h1>
    <p>{{$store.state.config.msi}}</p>
    <span
      v-if="$store.state.config.asgNombre != 'Primero Seguros' && $store.state.config.asgNombre != 'Multiva' && $store.state.config.asgNombre != 'Chubb' && $store.state.config.asgNombre != 'Citibanamex'"
    >Obtén {{$store.state.config.desc}}</span>
    <span
      v-if="$store.state.config.asgNombre == 'Primero Seguros' || $store.state.config.asgNombre == 'Multiva' || $store.state.config.asgNombre == 'Chubb' || $store.state.config.asgNombre == 'Citibanamex'"
    >{{$store.state.config.desc}}</span>
    <div class="container-fluid mt-4">
      <div class="row">
        <div class="col-md-6 p-md-0 col-lg-4 m-auto multa">
          <div :class="'imgMulta'+$store.state.config.img+' imgMulta'" :title="$store.state.config.k2"></div>
          <p>Evita multa de</p>
          <p>
            <b>$4,100 por</b>
          </p>
          <p>NO tener seguro</p>
        </div>
        <div class="col-md-6 p-md-0 col-lg-4 m-auto reloj">
          <div :class="'imgReloj'+$store.state.config.img+' imgReloj'" :title="$store.state.config.k3"></div>
          <p>Cotiza y Contrata</p>
          <p>RÁPIDO</p>
        </div>
        <div class="col-md-6 m-auto mt-md-2 mt-lg-0 col-lg-4 inf-cta">
          <img :src="'/img/cta/'+ $store.state.config.asgNombre.toLowerCase()  + '.svg'" alt="cta" class="cta">
          
        </div>
      </div>
    </div>
    <div>
      <div>
        <img
          class="banner"
          :src="'/img/bg/' + this.$store.state.config.img + '.jpg'"
          :alt="$store.state.config.k4"
        />
      </div>
    </div>
  </div>
</template>