<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="addCont">
          <p>Recibe todos los beneficios en tu Seguro de Auto {{$store.state.config.asgNombre}}</p>
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 col-sm-3">
                <img src="/img/icon/1.png" alt="Migo Atropellamiento" />
                <br />
                <span>Atropellamiento</span>
              </div>
              <div class="col-12 col-sm-3">
                <img src="/img/icon/2.png" alt="Migo Extención" />
                <br />
                <span>Extensión de Gastos Medicos Mayores</span>
              </div>
              <div class="col-12 col-sm-3">
                <img src="/img/icon/3.png" alt="Migo Reparación" />
                <br />
                <span>Reparación de Agencias</span>
              </div>
              <div class="col-12 col-sm-3">
                <img src="/img/icon/4.png" alt="Migo Robo" />
                <br />
                <span>Robo de objetos Personales</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>