<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="addCont">
          <p
            v-if="this.$store.state.config.asgNombre === 'Mejor Seguro de Auto'"
          >Recibe todos los beneficios de el {{$store.state.config.asgNombre}}</p>
          <p
            v-if="this.$store.state.config.asgNombre !== 'Mejor Seguro de Auto'"
          >Recibe todos los beneficios en tu Seguro de Auto {{$store.state.config.asgNombre}}</p>
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 col-sm-4">
                <div :class="'imgTrailer'+$store.state.config.img+' imgTrailerSize'" title="Asistencia Vial"></div>
                <br />
                <span>Asistencia Vial</span>
              </div>
              <div class="col-12 col-sm-4">
                <div :class="'imgBocho'+$store.state.config.img+' imgBochoSize'" title="Auto Sustituto"></div>
                <br />
                <span>Auto Sustituto</span>
              </div>
              <div class="col-12 col-sm-4">
                <div :class="'imgTarjeta'+$store.state.config.img+' imgTarjetaSize'" title="Meses Sin Intereses"></div>
                <br />
                <span>{{$store.state.config.msi}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>