<template>
  <div class="asgList">
    <li>
      <a href="../../seguros-aba/">
        <div class="imgLinkAsg imgLinkAsgaba" title="aba" ></div>
      </a>
    </li>
    <li>
      <a href="../../seguros-afirme/">
        <div class="imgLinkAsg imgLinkAsgafirme" title="afirme" ></div>
      </a>
    </li>
    <li>
      <a href="../../seguros-el-aguila/">
        <div class="imgLinkAsg imgLinkAsgelaguila" title="el aguila" ></div>
      </a>
    </li>
    <li>
      <a href="../../seguros-aig/">
        <div class="imgLinkAsg imgLinkAsgaig" title="aig" ></div>
      </a>
    </li>
    <li>
      <a href="../../seguros-ana/">
        <div class="imgLinkAsg imgLinkAsgana" title="ana" ></div>
      </a>
    </li>
    <li>
      <a href="../../seguros-atlas/">
        <div class="imgLinkAsg imgLinkAsgatlas" title="atlas" ></div>
      </a>
    </li>
    <li>
      <a href="../../seguros-axa/">
        <div class="imgLinkAsg imgLinkAsgaxa" title="axa" ></div>
      </a>
    </li>
    <li>
      <a href="../../seguros-banorte/">
        <div class="imgLinkAsg imgLinkAsgbanorte" title="banorte" ></div>
      </a>
    </li>
    <li>
      <a href="../../general-de-seguros/">
        <div class="imgLinkAsg imgLinkAsggeneral" title="general de seguros" ></div>
      </a>
    </li>
    <li>
      <a href="../../seguros-gnp/">
        <div class="imgLinkAsg imgLinkAsggnp" title="gnp" ></div>
      </a>
    </li>
    <li>
      <a href="../../seguros-hdi/">
        <div class="imgLinkAsg imgLinkAsghdi" title="hdi" ></div>
      </a>
    </li>
    <li>
      <a href="../../seguros-inbursa/">
        <div class="imgLinkAsg imgLinkAsginbursa" title="inbursa" ></div>
      </a>
    </li>
    <li>
      <a href="../../seguros-la-latino/">
        <div class="imgLinkAsg imgLinkAsglatino" title="la latino" ></div>
      </a>
    </li>
    <li>
      <a href="../../seguros-mapfre/">
        <div class="imgLinkAsg imgLinkAsgmapfre" title="mapfre" ></div>
      </a>
    </li>
    <li>
      <a href="../../seguros-miituo/">
        <div class="imgLinkAsg imgLinkAsgmiituo" title="miituo" ></div>
      </a>
    </li>
    <!--<li>
      <a href="../../seguros-multiva/">
        <div class="imgLinkAsg imgLinkAsgmultiva" title="multiva" ></div>
      </a>
    </li>-->
    <li>
      <a href="../../seguros-ve-por-mas/">
        <div class="imgLinkAsg imgLinkAsgbxmas" title="ve por mas" ></div>
      </a>
    </li>
    <li>
      <a href="../../seguros-el-potosi/">
        <div class="imgLinkAsg imgLinkAsgpotosi" title="el potosi" ></div>
      </a>
    </li>
    <!--<li>
      <a href="../../primero-seguros/">
        <div class="imgLinkAsg imgLinkAsgprimero" title="primero seguros" ></div>
      </a>
    </li>-->
    <li>
      <a href="../../seguros-qualitas/">
        <div class="imgLinkAsg imgLinkAsgqualitas" title="quálitas" ></div>
      </a>
    </li>
    <li>
      <a href="../../seguros-sura/">
        <div class="imgLinkAsg imgLinkAsgsura" title="sura" ></div>
      </a>
    </li>
    <!--<li>
      <a href="../../seguros-uber/">
        <div class="imgLinkAsg imgLinkAsguber" title="uber" ></div>
      </a>
    </li>-->
    <li>
      <a href="../../seguros-zurich/">
        <div class="imgLinkAsg imgLinkAsgzurich" title="zurich" ></div>
      </a>
    </li>
    <li>
      <a href="../../seguros-migo/">
        <div class="imgLinkAsg imgLinkAsgmigo" title="migo" ></div>
      </a>
    </li>
    <!--<li>
      <a href="#">
        <div class="imgLinkAsg2 imgLinkAsgcrabi" title="crabi" ></div>
      </a>
    </li>-->
  </div>
</template>