<template>
  <div class="col-xl-10 offset-xl-1 my-5">
    <div class="msj text-center">
      <p>Gracias por cotizar en Seguros {{$store.state.config.k2}}</p>
      <span>¡Tenemos increíbles descuentos!, por favor ponte en contacto con nosotros para recibir más información.</span>
      <br />
      <a :href="'tel:55'+$store.state.config.telefonoAS" class="btn btn-success">
        <svg class="icon">
      <use xlink:href="#llamada"/>
    </svg>
    &nbsp;
        <span>(55) {{$store.state.config.telefonoAS}}</span>
    &nbsp;
    <svg class="icon">
      <use xlink:href="#proximo"/>
    </svg>
      </a>
    </div>
  </div>
</template>