<template>
  <div class="col-xl-10 offset-xl-1 my-5">
    <div class="msjEjecutivo">
      <p>Gracias por cotizar en {{$store.state.config.k2}}</p>
      <p>
        Nombre:
        <span>{{$store.state.solicitud.nombreEjecutivo}}</span>
      </p>
      <p>
        Telefono:
        <a
          :href="'tel:55'+$store.state.config.telefonoAS"
        >55{{$store.state.config.telefonoAS}}</a>
      </p>
      <span>¡En {{$store.state.config.k2}} tenemos increíbles descuentos!, por favor espera la llamada de uno de nuestros agentes especializados.</span>
    </div>
  </div>
</template>