<template>
  <div class="col-12 pag">
    <li>Paginas</li>
    <li>
      <a class="btn r1" href="https://mejorsegurodeauto.mx/opiniones-mejorsegurodeauto/1/">1</a>
    </li>
    <li>
      <a class="btn r2" href="https://mejorsegurodeauto.mx/opiniones-mejorsegurodeauto/">2</a>
    </li>
    <li>
      <a class="btn r3" href="https://mejorsegurodeauto.mx/opiniones-mejorsegurodeauto/3/">3</a>
    </li>
  </div>
</template>