<template>
  <div>
    <div class="col-xl-10 offset-xl-1">
      <div class="row m-0">
        <div class="col-12 col-md-4 offset-md-1">
          <div class="mx-auto text-center mt-lg-5">
            <img
              v-if="$store.state.config.asgNombre.toLowerCase() === 'aba'"
              :src="'/img/logoaseg/chubb.svg'"
              width="180"
              height="100"
              alt="logo"
            />
            <img
              v-else
              :src="
                '/img/logoaseg/' +
                $store.state.config.asgNombre.toLowerCase() +
                '.svg'
              "
              width="180"
              height="100"
              alt="logo"
            />
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div
            class="precio text-center"
            v-show="
              $store.state.formData.precio !== 0 &&
              $store.state.formData.precio !== '' &&
              $store.state.formData.precio !== null
            "
          >
            <span>Precio de tu Seguro</span>
            <p>
              {{ $store.state.cotizacion.cotizacion.primaTotal | currency }}
            </p>

            <p
              class="descuentog my-2"
              v-show="this.$store.state.config.aseguradora == 'BANORTE'"
            >
              <img
                src="/img/igracias.svg"
                width="20"
                height="20"
                class="img-fluid"
              />
              Da clic en COMPRAR EN LINEA y obtén 30% de descuento + 6 y 12
              Meses Sin Intereses
            </p>

            <comprarLinea />
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 px-xl-5 p-1">
      <div class="tablaCoberturas mt-5">
        <p>Cobertura Amplia</p>
        <div>
          <table class="table table-striped table-responsive">
            <thead>
              <tr>
                <th>Cobertura</th>
                <th>Suma asegurada</th>
                <th>Deducible</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(item, index) in this.$store.state.cotizacion.coberturas"
                :key="index"
              >
                <td>{{ item | showName }}</td>
                <td>{{ item | showSuma }}</td>
                <td>{{ item | showDeducible }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import comprarLinea from "~/components/utilities/comprarLinea.vue";

export default {
  components: {
    comprarLinea,
  },
  filters: {
    showName: function (value) {
      return value.nombre;
    },
    showSuma: function (value) {
      var sumaAseg = value.sumaAsegurada;
      var regExp = /[123456789]/;
      var result = regExp.exec(sumaAseg);
      if (sumaAseg == 0 || sumaAseg == "") {
        sumaAseg = "NO APLICA";
      } else if (sumaAseg == 1) {
        sumaAseg = "AMPARADA";
      } else if (sumaAseg.includes("DÍAS")){
        sumaAseg = sumaAseg;
      } else if (result != null) {
        //tiene numeros 1-9
        var regExp2 = /[a-zA-Z]/g;
        var result2 = regExp2.exec(sumaAseg);
        if (sumaAseg.includes("$") == false) {
          if (result2 != null) {
            //V. COMERCIAL50000
            sumaAseg =
              sumaAseg.substring(0, result.index) +
              " $ " +
              sumaAseg.substring(result.index, sumaAseg.length);
          } else {
            sumaAseg = "$ " + sumaAseg;
          }
        }
        if (sumaAseg.includes(".0") == true) {
          if (sumaAseg.includes(".00") == false) {
            sumaAseg = sumaAseg + "0";
          }
        } else {
          sumaAseg = sumaAseg + ".00";
        }
      }
      return sumaAseg;
    },
    showDeducible: function (value) {
      var deducible = value.deducible;
      var regExp = /[123456789]/;
      var result = regExp.exec(deducible);
      if (deducible == 0 || deducible == "" || deducible == "0%") {
        deducible = "NO APLICA";
      } else if (deducible.includes("$") == true) {
        if (deducible.includes(".0") == true) {
          if (deducible.includes(".00") == false) {
            deducible = deducible + "0";
          }
        } else {
          deducible = deducible + ".00";
        }
      } else if (result != null) {
        //tiene numeros 1-9
        if (deducible.includes("%") == false) {
          deducible = deducible + " %";
        }
      }
      return deducible;
    },
  },
};
</script>
