<template>
  <div>
    <div class="col-xl-10 offset-xl-1">
      <div class="navbar px-0">
        <div
          :class="'imgLogoAsg' + $store.state.config.img + ' imgLogoAsg'"
          :title="$store.state.config.asgNombre"
          v-if="
            $store.state.config.asgNombre != 'Mejor Seguro de Auto' &&
              $store.state.config.asgNombre != 'El Aguila'
          "
        ></div>
        <div class="precio">
          <span>Precio de tu Seguro</span>
          <p>{{ this.$store.state.formData.precio | currency }}</p>

          <comprarLinea /> 
        </div>
      </div>
    </div>
    <div class="col-12 px-xl-5 p-1">
      <div class="datosEjecutivo my-4">
<!--         <p>
          El Ejecutivo
          <span>{{ $store.state.solicitud.nombreEjecutivo }}</span> se pondrá en
          contacto contigo o llama al
          <a :href="'tel:55' + $store.state.config.telefonoAS"
            >55{{ $store.state.config.telefonoAS }}</a
          >
        </p> -->
      </div>
      <!-- <comprarLinea
      v-if="$store.state.formData.aseguradora  === 'GNP' || $store.state.formData.aseguradora === 'QUALITAS'"/>-->
      <div class="tablaCoberturas mt-5">
        <p>Cobertura Amplia</p>
        <div>
          <table class="table table-striped table-responsive">
            <thead>
              <tr>
                <th>Cobertura</th>
                <th>Suma asegurada</th>
                <th>Deducible</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(item, index) in this.$store.state.cotizacion.coberturas"
                :key="index"
              >
                <td>{{ item | showName }}</td>
                <td>{{ item | showSuma }}</td>
                <td>{{ item | showDeducible }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import comprarLinea from "~/components/utilities/comprarLinea.vue";
export default {
  components: {
    comprarLinea,
  },

  filters: {
        showName: function(value) {
          return value.nombre;
        },
        showSuma: function(value) {
          var sumaAseg = value.sumaAsegurada;
          var regExp = /[123456789]/;
          var result = regExp.exec(sumaAseg);
          if (sumaAseg == 0 || sumaAseg == "") {
            sumaAseg = "NO APLICA";
          } else if (sumaAseg == 1) {
            sumaAseg = "AMPARADA";
          } else if (result != null) {
            //tiene numeros 1-9
            var regExp2 = /[a-zA-Z]/g;
            var result2 = regExp2.exec(sumaAseg);
            if (sumaAseg.includes("$") == false) {
              if (result2 != null) {
                //V. COMERCIAL50000
                sumaAseg =
                  sumaAseg.substring(0, result.index) +
                  " $ " +
                  sumaAseg.substring(result.index, sumaAseg.length);
              } else {
                sumaAseg = "$ " + sumaAseg;
              }
            }
            if (sumaAseg.includes(".0") == true) {
              if (sumaAseg.includes(".00") == false) {
                sumaAseg = sumaAseg + "0";
              }
            } else {
              sumaAseg = sumaAseg + ".00";
            }
            //Comas
            var result3 = regExp.exec(sumaAseg);
            var inicio = result3.index;
            var regExp3 = /\.00/;
            var result4 = regExp3.exec(sumaAseg);
            var fin = result4.index;
            var n = (fin - inicio) / 3;
            if (n > 1 && n <= 2) {
              //1,000->100,000
              var z = sumaAseg.substring(fin - 3, fin);
              var y = sumaAseg.substring(inicio, fin - 3);
              var x = sumaAseg.substring(0, inicio);
              var zz = sumaAseg.substring(fin, sumaAseg.length);
              sumaAseg = x + y + "," + z + zz;
            } else if (n > 2 && n <= 3) {
              //1,000,000->100,000,000
              var z = sumaAseg.substring(fin - 3, fin);
              var z2 = sumaAseg.substring(fin - 6, fin - 3);
              var y2 = sumaAseg.substring(inicio, fin - 6);
              var x = sumaAseg.substring(0, inicio);
              var zz = sumaAseg.substring(fin, sumaAseg.length);
              var sumaAseg = x + y2 + "," + z2 + "," + z + zz;
            }
          }
          return sumaAseg;
        },
        showDeducible: function(value) {
          var deducible = value.deducible;
          var regExp = /[123456789]/;
          var result = regExp.exec(deducible);
          if (deducible == 0 || deducible == "" || deducible == "0%") {
            deducible = "NO APLICA";
          } else if (deducible.includes("$") == true) {
            if (deducible.includes(".0") == true) {
              if (deducible.includes(".00") == false) {
                deducible = deducible + "0";
              }
            } else {
              deducible = deducible + ".00";
            }
          } else if (result != null) {
            //tiene numeros 1-9
            if (deducible.includes("%") == false && deducible.length < 7) {
              deducible = deducible + " %";
            }
          }
          return deducible;
        },
      },
};
</script>
