<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-4 offset-md-2 text-center">
        <div class="mx-auto text-center mt-lg-5">
            <img :src="'/img/logoaseg/' + $store.state.config.asgNombre.toLowerCase() + '.svg'" width="180" height="100" alt="logo" />
         </div>
      </div>
      <div class="col-12 col-md-4 precio text-center">
        <span>Precio de tu Seguro</span>
        <p>{{ $store.state.cotizacion.cotizacion.primaTotal | currency }}</p>
        <comprarLinea />
      </div>
    </div>
    <div class="col-12 px-xl-5 p-1">
      <div class="tablaCoberturas mt-5">
        <p>Cobertura Amplia</p>
        <div>
          <table class="table table-striped table-responsive">
            <thead>
              <tr>
                <th>Cobertura</th>
                <th>Suma asegurada</th>
                <th>Deducible</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in this.$store.state.cotizacion.coberturas" :key="index">
                <td>{{ item | showName }}</td>
                <td>{{ item | showSuma }}</td>
                <td>{{ item | showDeducible }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import comprarLinea from "~/components/utilities/comprarLinea.vue";
export default {
  components: {
    comprarLinea,
  },
  filters: {
    showName: function (value) {
      return value.nombre;
    },
    showSuma: function (value) {
      var sumaAseg = value.sumaAsegurada;
      var regExp = /[123456789]/;
      var result = regExp.exec(sumaAseg);
      if (sumaAseg == 0 || sumaAseg == "") {
        sumaAseg = "NO APLICA";
      } else if (sumaAseg == 1) {
        sumaAseg = "AMPARADA";
      } else if (result != null) {
        //tiene numeros 1-9
        var regExp2 = /[a-zA-Z]/g;
        var result2 = regExp2.exec(sumaAseg);
        if (sumaAseg.includes("$") == false) {
          if (result2 != null) {
            //V. COMERCIAL50000
            sumaAseg =
              sumaAseg.substring(0, result.index) +
              " $ " +
              sumaAseg.substring(result.index, sumaAseg.length);
          } else {
            sumaAseg = "$ " + sumaAseg;
          }
        }
        if (sumaAseg.includes(".0") == true) {
          if (sumaAseg.includes(".00") == false) {
            sumaAseg = sumaAseg + "0";
          }
        } else {
          sumaAseg = sumaAseg + ".00";
        }
        
      }
      return sumaAseg;
    },
    showDeducible: function (value) {
      var deducible = value.deducible;
      var regExp = /[123456789]/;
      var result = regExp.exec(deducible);
      if (deducible == 0 || deducible == "" || deducible == "0%") {
        deducible = "NO APLICA";
      } else if (deducible.includes("$") == true) {
        if (deducible.includes(".0") == true) {
          if (deducible.includes(".00") == false) {
            deducible = deducible + "0";
          }
        } else {
          deducible = deducible + ".00";
        }
      } else if (result != null) {
        //tiene numeros 1-9
        if (deducible.includes("%") == false) {
          deducible = deducible + " %";
        } else if (typeof deducible != `string`) {
          deducible = deducible;
        }
      }
      return deducible;
    },
  },
};
</script>
