.logprom{
    position: absolute;
    
}
.logomejor{width: 90px; height: auto;}
.tar-card{border-radius: 5px;}
#idTelDID {
    margin: 0;
    padding: 0 6px 2px;
    color: #494949;
    float: right;
    font-size:20px;
    text-decoration: underline;

}
.fichacolor{background-color: rgb(0, 255, 128);}
.f-form{ border: solid;}

.textben{color: gray; font-weight: bold;line-height: 1;}
.textben2{color: gray;}
.tcandado{color: gray;text-align: right; font-size: 14px;}
.flearriba{transform: rotate(-90deg);}
.descuento{color: #494949; font-size: 23px;font-weight: 700;}
.listben{padding-left: 0px; font-size: 16px;}
.listben li {display: -webkit-inline-box;}
.acentoBorde{border:solid 2px #044a94 !important; padding: 0;}
.btn-successCuadrado{background-color: #044a94; box-shadow: -3px 2px 20px -6px #8a8a8a; height: 62px;font-size: 24px;}
.btn-successCuadrado:hover, .btn-success:active,  .btn-success:focus {background-color: #044080; }


.cuadrologo {
    background: white;
    border-radius: 5px;
}
.card {
    box-shadow: 0 0 10px 2px rgb(0 0 0 / 10%);
}
.cliente {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.base{position: relative;}
.textprincipal{color: #044a94;font-size: 38px;font-weight: bold;}
.t-desc{font-size: 28px;color: #555;}
.addCont{text-align: center;margin: 2% 0 3% 0;}
.addCont p{font-size: 30px;font-weight: 600;display: inline;}
.addCont img{margin: 30px 0 0 0;width: 80px;}
.addCont span{color: #fff;padding: 4px 15px;border-radius: 5px;font-size: 16px;}
.asgList{text-align: center;margin: 0 0 2% 0;}
.asgList li{display: inline;margin: 0 10px;}
.bgCont{background: #f1f1f1;}
.cont{color: #555;line-height: 1.8;}
.cont li img{width: 17px;}
.tri {width: 0;height: 0;margin: 0 0 0 14%;border-bottom: 15px solid transparent;border-top: 33px solid #FFF;border-left: 33px solid transparent;border-right: 33px solid transparent;}
.endCont{margin: 15px 0;}
.endCont p{text-align: center;color: #044992;font-weight: bold;font-size: 24px;}
.endCont a {background: #fff;width: 100%;margin: 0;text-align: left;color: #044992;font-size: 18px;display: flex;align-items: center;}
.endCont a:hover {box-shadow: 2px 2px 10px 1px #e2e3e4;color: #044992;}
.logo{width: 180px;height: 80px;}
.logoaguila{width: 245px;height: 80px;}
.sinrespuesta{color: #044992;font-weight: bold;border: solid 2px #044992;padding: 15px 10px;}
.multiselect__option--highlight {
    background: #044992!important;
}




/*******************/
body{font-size: 18px;}
a, a:hover{text-decoration: none;}
li, ul {list-style: none;}
.inf-cta{z-index: 1;}
.cta{width: 100%;}
h2,
h3,
h4,
h5 {
  margin-top: 1.5%;
}
ul {
    padding-left: 25px;
}
.imgLinkAsg{
    display: inline-block;
    background-image: url(/img/logo/aseguradoras01.png);
    width: 98px;
    height: 50px;
    background-repeat: no-repeat;
    margin: 0 0 15px 0;
    background-size: 580px;
}
.imgLinkAsg2{
    display: inline-block;
    background-image: url(/img/logo/aseguradoras01.png);
    width: 98px;
    height: 50px;
    background-repeat: no-repeat;
    margin: 0 0 15px 0;
    background-size: 580px;
}
.imgLinkAsgaba{
    background-position: 0 -1px;
}
.imgLinkAsgafirme{
    background-position: -98px -1px;
}
.imgLinkAsgelaguila{
    background-position: -190px -1px;
}
.imgLinkAsgaig{
    background-position: -286px -1px;
}
.imgLinkAsgana{
    background-position: -378px -1px;
}
.imgLinkAsgatlas{
    background-position: -478px -1px;
}
.imgLinkAsgaxa{
    background-position: 1px -48px;
}
.imgLinkAsgbanorte{
    background-position: -192px -48px;
}
.imgLinkAsggeneral{
    background-position: -1px -94px;
}
.imgLinkAsggnp{
    background-position: -96px -94px;
}
.imgLinkAsghdi{
    background-position: -190px -94px;
}
.imgLinkAsginbursa{
    background-position: -287px -94px;
}
.imgLinkAsglatino{
    background-position: -382px -94px;
}
.imgLinkAsgmapfre{
    background-position: -477px -96px;
}
.imgLinkAsgmiituo{
    background-position: -94px -142px;
}
.imgLinkAsgmultiva{
    background-position: -192px -142px;
}
.imgLinkAsgbxmas{
    background-position: -287px -48px;
}
.imgLinkAsgpotosi{
    background-position: -478px -48px;
}
.imgLinkAsgprimero{
    background-position: -287px -142px;
}
.imgLinkAsgqualitas{
    background-position: -383px -142px;
}
.imgLinkAsgsura{
    background-position: -478px -142px;
}
.imgLinkAsguber{
    background-position: -1px -189px;
}
.imgLinkAsgzurich{
    background-position: -97px -189px;
}
.imgLinkAsgmigo{
    background-position: -1px -142px;
}
.imgLinkAsgcrabi{
    background-position: -479px -189px;
}
/* SIZE */
.imgTrailerSize{
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    margin: 30px  0 0 0;
    display: inline-block;
    background-position: -482px 0;
    background-size: 1150px;
}
.imgBochoSize{
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    margin: 30px  0 0 0;
    display: inline-block;
    background-position: -515px 8px;
    background-size: 1050px;
}
.imgTarjetaSize{
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    margin: 30px  0 0 0;
    display: inline-block;
    background-position: -682px 0;
    background-size: 1200px;
}
.imgCheckSize{
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-position: -774px -6px;
    display: inline-block;
    margin: 0;
    background-size: 1000px;
}
.imgLogoSize{
    width: 130px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: -128px -27px;
    margin: 0;
    background-size: 1450px;
}
.LogoSize{
    width: 180px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: -15px -32px;
    margin: 0;
    background-size: 1600px;
}
.imgLogoAsg{
    width: 124px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: -1px -18px;
    margin:10px 0;
    background-size: 1400px;
}
.imgEstrellaSize{
    width: 25px;
    height: 25px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: -958px -10px;
    margin: 0;
    background-size: 1300px;
}
.imgMsdaSize{
    width: 124px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: -240px -11px;
    margin: 0;
    background-size: 1270px;
}
.imgTelSize{
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-position: -361px -10px;
    float: left;
    margin: -5px 5px 0 0;
    background-size: 1250px;
}
.imgMulta{
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    float: left;
    margin: 0 6px 0 0;
    background-position: -421px -10px;
    background-size: 1250px;
}
.imgReloj{
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    float: left;
    margin: 0 6px 0 0;
    background-position: -472px -11px;
    background-size: 1250px;
}
.imgChevron{
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-position: -294px -7px;
    display: inline-block;
    margin: 0 0 -5px 5px;
    background-size: 950px;
}
.imgSuv{
    background-position: -755px 4px;
    background-size: 1200px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    margin: 0 3% 0 10%;
    float: left;
}
.imgLupa{
    background-position: -905px -5px;
    background-size: 1350px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    margin: 0 3% 0 10%;
    float: left;
}
.imgEscudo{
    background-position: -983px -6px;
    background-size: 1400px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    margin: 0 3% 0 10%;
    float: left;
}
.imgMsdaBlanco{
    width: 200px;
    height: 78px;
    background-repeat: no-repeat;
    background-position: -798px 0;
    margin: 0;
    background-size: 1000px;
}
/* GENERAL DE SEGUROS */
.imgTrailergeneral, 
.imgBochogeneral, 
.imgTarjetageneral,
.imgCheckgeneral,
.imgLogogeneral,
.imgLogoAsggeneral,
.imgEstrellageneral,
.imgMsdageneral,
.imgTelgeneral,
.imgMultageneral,
.imgRelojgeneral,
.imgChevrongeneral,
.imgSuvgeneral,
.imgLupageneral,
.imgEscudogeneral,
.imgMsdaBlancogeneral{
    background-image: url(/img/icon/generalSprite.png);
}
/* PRIMERO SEGUROS */
.imgTrailerprimero, 
.imgBochoprimero, 
.imgTarjetaprimero,
.imgCheckprimero,
.imgLogoprimero,
.imgLogoAsgprimero,
.imgEstrellaprimero,
.imgMsdaprimero,
.imgTelprimero,
.imgMultaprimero,
.imgRelojprimero,
.imgChevronprimero,
.imgSuvprimero,
.imgLupaprimero,
.imgEscudoprimero,
.imgMsdaBlancoprimero{
    background-image: url(/img/icon/primeroSprite.png);
}
/* GNP */
.imgTrailergnp, 
.imgBochognp, 
.imgTarjetagnp,
.imgCheckgnp,
.imgLogognp,
.imgLogoAsggnp,
.imgEstrellagnp,
.imgMsdagnp,
.imgTelgnp,
.imgMultagnp,
.imgRelojgnp,
.imgChevrongnp,
.imgSuvgnp,
.imgLupagnp,
.imgEscudognp,
.imgMsdaBlancognp{
    background-image: url(/img/icon/gnpSprite.png);
}
/* ABA */
.imgTraileraba,
.imgBochoaba,
.imgTarjetaaba,
.imgCheckaba,
.imgLogoaba,
.imgLogoAsgaba,
.imgEstrellaaba,
.imgMsdaaba,
.imgTelaba,
.imgMultaaba,
.imgRelojaba,
.imgChevronaba,
.imgSuvaba,
.imgLupaaba,
.imgEscudoaba,
.imgMsdaBlancoaba{
    background-image: url(/img/icon/abaSprite.png);
}
/*AFIRME*/
.imgTrailerafirme,
.imgBochoafirme,
.imgTarjetaafirme,
.imgCheckafirme,
.imgLogoafirme,
.imgLogoAsgafirme,
.imgEstrellaafirme,
.imgMsdaafirme,
.imgTelafirme,
.imgMultaafirme,
.imgRelojafirme,
.imgChevronafirme,
.imgSuvafirme,
.imgLupaafirme,
.imgEscudoafirme,
.imgMsdaBlancoafirme{
    background-image: url(/img/icon/afirmeSprite.png);
}
/*AIG*/
.imgTraileraig,
.imgBochoaig,
.imgTarjetaaig,
.imgCheckaig,
.imgLogoaig,
.imgLogoAsgaig,
.imgEstrellaaig,
.imgMsdaaig,
.imgTelaig,
.imgMultaaig,
.imgRelojaig,
.imgChevronaig,
.imgSuvaig,
.imgLupaaig,
.imgEscudoaig,
.imgMsdaBlancoaig{
    background-image: url(/img/icon/aigSprite.png);
}
/*ANA*/
.imgTrailerana,
.imgBochoana,
.imgTarjetaana,
.imgCheckana,
.imgLogoana,
.imgLogoAsgana,
.imgEstrellaana,
.imgMsdaana,
.imgTelana,
.imgMultaana,
.imgRelojana,
.imgChevronana,
.imgSuvana,
.imgLupaana,
.imgEscudoana,
.imgMsdaBlancoana{
    background-image: url(/img/icon/anaSprite.png);
}
/*ATLAS*/
.imgTraileratlas,
.imgBochoatlas,
.imgTarjetaatlas,
.imgCheckatlas,
.imgLogoatlas,
.imgLogoAsgatlas,
.imgEstrellaatlas,
.imgMsdaatlas,
.imgTelatlas,
.imgMultaatlas,
.imgRelojatlas,
.imgChevronatlas,
.imgSuvellaatlas,
.imgLupaatlas,
.imgEscudoatlas,
.imgMsdaBlancoatlas{
    background-image: url(/img/icon/atlasSprite.png);
}
/*MEJOR SEGURO*/
.imgTrailerms,
.imgBochoms,
.imgTarjetams,
.imgCheckms,
.imgLogoms,
.imgLogoAsgms,
.imgEstrellams,
.imgMsdams,
.imgTelms,
.imgMultams,
.imgRelojms,
.imgChevronms,
.imgSuvms,
.imgLupams,
.imgEscudoms,
.imgMsdaBlancoms{
    background-image: url(/img/icon/msSprite.png);
}
/*UNDEFINED*/
.imgTrailerundefined,
.imgBochoundefined,
.imgTarjetaundefined,
.imgCheckundefined,
.imgLogoundefined,
.imgLogoAsgundefined,
.imgEstrellaundefined,
.imgMsdaundefined,
.imgTelundefined,
.imgMultaundefined,
.imgRelojundefined,
.imgChevronundefined,
.imgSuvundefined,
.imgLupaundefined,
.imgEscudoundefined,
.imgMsdaBlancundefineds{
    background-image: url(/img/icon/msSprite.png);
}
/*AXA*/
.imgTraileraxa,
.imgBochoaxa,
.imgTarjetaaxa,
.imgCheckaxa,
.imgLogoaxa,
.imgLogoAsgaxa,
.imgEstrellaaxa,
.imgMsdaaxa,
.imgTelaxa,
.imgMultaaxa,
.imgRelojaxa,
.imgChevronaxa,
.imgSuvaxa,
.imgLupaaxa,
.imgEscudoaxa,
.imgMsdaBlancoaxa{
    background-image: url(/img/icon/axaSprite.png);
}
/*BANORTE*/
.imgTrailerbanorte,
.imgBochobanorte,
.imgTarjetabanorte,
.imgCheckbanorte,
.imgLogobanorte,
.imgLogoAsgbanorte,
.imgEstrellabanorte,
.imgMsdabanorte,
.imgTelbanorte,
.imgMultabanorte,
.imgRelojbanorte,
.imgChevronbanorte,
.imgSuvbanorte,
.imgLupabanorte,
.imgEscudobanorte,
.imgMsdaBlancobanorte{
    background-image: url(/img/icon/banorteSprite.png);
}
/*CHUBB*/
.imgTrailerchubb,
.imgBochochubb,
.imgTarjetachubb,
.imgCheckchubb,
.imgLogochubb,
.imgLogoAsgchubb,
.imgEstrellachubb,
.imgMsdachubb,
.imgTelchubb,
.imgMultachubb,
.imgRelojchubb,
.imgChevronchubb,
.imgSuvchubb,
.imgLupachubb,
.imgEscudochubb,
.imgMsdaBlancochubb{
    background-image: url(/img/icon/chubbSprite.png);
}
/*EL AGUILA*/
.imgTrailerelaguila,
.imgBochoelaguila,
.imgTarjetaelaguila,
.imgCheckelaguila,
.imgLogoelaguila,
.imgLogoAsgelaguila,
.imgLogoAsgelaguila2,
.imgEstrellaelaguila,
.imgMsdaelaguila,
.imgTelelaguila,
.imgMultaelaguila,
.imgRelojelaguila,
.imgChevronelaguila,
.imgSuvelaguila,
.imgLupaelaguila,
.imgEscudoelaguila,
.imgMsdaBlancoelaguila{
    background-image: url(/img/icon/elaguilaSprite.png);
}
/*EL POTOSI*/
.imgTrailerpotosi,
.imgBochopotosi,
.imgTarjetapotosi,
.imgCheckpotosi,
.imgLogopotosi,
.imgLogoAsgpotosi,
.imgEstrellapotosi,
.imgMsdapotosi,
.imgTelpotosi,
.imgMultapotosi,
.imgRelojpotosi,
.imgChevronpotosi,
.imgSuvpotosi,
.imgLupapotosi,
.imgEscudopotosi,
.imgMsdaBlancopotosi{
    background-image: url(/img/icon/potosiSprite.png);
}
/*HDI*/
.imgTrailerhdi,
.imgBochohdi,
.imgTarjetahdi,
.imgCheckhdi,
.imgLogohdi,
.imgLogoAsghdi,
.imgEstrellahdi,
.imgMsdahdi,
.imgTelhdi,
.imgMultahdi,
.imgRelojhdi,
.imgChevronhdi,
.imgSuvhdi,
.imgLupahdi,
.imgEscudohdi,
.imgMsdaBlancohdi{
    background-image: url(/img/icon/hdiSprite2.png);
}

/*INBURSA*/
.imgTrailerinbursa,
.imgBochoinbursa,
.imgTarjetainbursa,
.imgCheckinbursa,
.imgLogoinbursa,
.imgLogoAsginbursa,
.imgEstrellainbursa,
.imgMsdainbursa,
.imgTelinbursa,
.imgMultainbursa,
.imgRelojinbursa,
.imgChevroninbursa,
.imgSuvinbursa,
.imgLupainbursa,
.imgEscudoinbursa,
.imgMsdaBlancoinbursa{
    background-image: url(/img/icon/inbursaSprite.png);
}
/*LA LATINO*/
.imgTrailerlatino,
.imgBocholatino,
.imgTarjetalatino,
.imgChecklatino,
.imgLogolatino,
.imgLogoAsglatino,
.imgEstrellalatino,
.imgMsdalatino,
.imgTellatino,
.imgMultalatino,
.imgRelojlatino,
.imgChevronlatino,
.imgSuvlatino,
.imgLupalatino,
.imgEscudolatino,
.imgMsdaBlancolatino{
    background-image: url(/img/icon/latinoSprite.png);
}
/*MAPFRE*/
.imgTrailermapfre,
.imgBochomapfre,
.imgTarjetamapfre,
.imgCheckmapfre,
.imgLogomapfre,
.imgLogoAsgmapfre,
.imgEstrellamapfre,
.imgMsdamapfre,
.imgTelmapfre,
.imgMultamapfre,
.imgRelojmapfre,
.imgChevronmapfre,
.imgSuvmapfre,
.imgLupamapfre,
.imgEscudomapfre,
.imgMsdaBlancomapfre{
    background-image: url(/img/icon/mapfreSprite.png);
}
/*MIGO*/
.imgTrailermigo,
.imgBochomigo,
.imgTarjetamigo,
.imgCheckmigo,
.imgLogomigo,
.imgLogoAsgmigo,
.imgEstrellamigo,
.imgMsdamigo,
.imgTelmigo,
.imgMultamigo,
.imgRelojmigo,
.imgChevronmigo,
.imgSuvmigo,
.imgLupamigo,
.imgEscudomigo,
.imgMsdaBlancomigo{
    background-image: url(/img/icon/migoSprite.png);
}
/*CRABI*/
.imgTrailercrabi,
.imgBochocrabi,
.imgTarjetacrabi,
.imgCheckcrabi,
.imgLogocrabi,
.imgLogoAsgcrabi,
.imgEstrellacrabi,
.imgMsdacrabi,
.imgTelcrabi,
.imgMultacrabi,
.imgRelojcrabi,
.imgChevroncrabi,
.imgSuvcrabi,
.imgLupacrabi,
.imgEscudocrabi,
.imgMsdaBlancocrabi{
    background-image: url(/img/icon/crabiSprite.png);
}
/*MIITUO*/
.imgTrailermiituo,
.imgBochomiituo,
.imgTarjetamiituo,
.imgCheckmiituo,
.imgLogomiituo,
.imgLogoAsgmiituo,
.imgEstrellamiituo,
.imgMsdamiituo,
.imgTelmiituo,
.imgMultamiituo,
.imgRelojmiituo,
.imgChevronmiituo,
.imgSuvmiituo,
.imgLupamiituo,
.imgEscudomiituo,
.imgMsdaBlancomiituo{
    background-image: url(/img/icon/miituoSprite.png);
}
/*MULTIVA*/
.imgTrailermultiva,
.imgBochomultiva,
.imgTarjetamultiva,
.imgCheckmultiva,
.imgLogomultiva,
.imgLogoAsgmultiva,
.imgEstrellamultiva,
.imgMsdamultiva,
.imgTelmultiva,
.imgMultamultiva,
.imgRelojmultiva,
.imgChevronmultiva,
.imgSuvmultiva,
.imgLupamultiva,
.imgEscudomultiva,
.imgMsdaBlancomultiva{
    background-image: url(/img/icon/multivaSprite.png);
}
/*QUALITAS*/
.imgTrailerqualitas,
.imgBochoqualitas,
.imgTarjetaqualitas,
.imgCheckqualitas,
.imgLogoqualitas,
.imgLogoAsgqualitas,
.imgEstrellaqualitas,
.imgMsdaqualitas,
.imgTelqualitas,
.imgMultaqualitas,
.imgRelojqualitas,
.imgChevronqualitas,
.imgSuvqualitas,
.imgLupaqualitas,
.imgEscudoqualitas,
.imgMsdaBlancoqualitas{
    background-image: url(/img/icon/qualitasSprite.png);
}
/*SURA*/
.imgTrailersura,
.imgBochosura,
.imgTarjetasura,
.imgChecksura,
.imgLogosura,
.imgLogoAsgsura,
.imgEstrellasura,
.imgMsdasura,
.imgTelsura,
.imgMultasura,
.imgRelojsura,
.imgChevronsura,
.imgSuvsura,
.imgLupasura,
.imgEscudosura,
.imgMsdaBlancosura{
    background-image: url(/img/icon/suraSprite.png);
}
/*UBER*/
.imgTraileruber,
.imgBochouber,
.imgTarjetauber,
.imgCheckuber,
.imgLogouber,
.imgLogoAsguber,
.imgEstrellauber,
.imgMsdauber,
.imgTeluber,
.imgMultauber,
.imgRelojuber,
.imgChevronuber,
.imgSuvuber,
.imgLupauber,
.imgEscudouber,
.imgMsdaBlancouber{
    background-image: url(/img/icon/uberSprite.png);
}
/*DIDI*/
.imgTrailerdidi,
.imgBochodidi,
.imgTarjetadidi,
.imgCheckdidi,
.imgLogodidi,
.imgLogoAsgdidi,
.imgEstrelladidi,
.imgMsdadidi,
.imgTeldidi,
.imgMultadidi,
.imgRelojdidi,
.imgChevrondidi,
.imgSuvdidi,
.imgLupadidi,
.imgEscudodidi,
.imgMsdaBlancodidi{
    background-image: url(/img/icon/didiSprite.png);
}
/*CABIFY*/
.imgTrailercabify,
.imgBochocabify,
.imgTarjetacabify,
.imgCheckcabify,
.imgLogocabify,
.imgLogoAsgcabify,
.imgEstrellacabify,
.imgMsdacabify,
.imgTelcabify,
.imgMultacabify,
.imgRelojcabify,
.imgChevroncabify,
.imgSuvcabify,
.imgLupacabify,
.imgEscudocabify,
.imgMsdaBlancocabify{
    background-image: url(/img/icon/cabifySprite.png);
}
/*ZURICH*/
.imgTrailerzurich,
.imgBochozurich,
.imgTarjetazurich,
.imgCheckzurich,
.imgLogozurich,
.imgLogoAsgzurich,
.imgEstrellazurich,
.imgMsdazurich,
.imgTelzurich,
.imgMultazurich,
.imgRelojzurich,
.imgChevronzurich,
.imgSuvzurich,
.imgLupazurich,
.imgEscudozurich,
.imgMsdaBlancozurich{
    background-image: url(/img/icon/zurichSprite.png);
}
/*BXMAS*/
.imgTrailerbxmas,
.imgBochobxmas,
.imgTarjetabxmas,
.imgCheckbxmas,
.imgLogobxmas,
.imgLogoAsgbxmas,
.imgEstrellabxmas,
.imgMsdabxmas,
.imgTelbxmas,
.imgMultabxmas,
.imgRelojbxmas,
.imgChevronbxmas,
.imgSuvbxmas,
.imgLupabxmas,
.imgEscudobxmas,
.imgMsdaBlancobxmas{
    background-image: url(/img/icon/bxmasSprite.png);
}
/*  */
.asgRecCard{
    padding: 10px 15px;
    box-shadow: 2px 2px 10px 0px #eceef4;
    border-radius: 10px;
    min-height: 110px;
}
.asgRecCard p{
    font-size: 18px !important;
    color: #044a94 !important;
    margin: 0;
}
.asgRecCard div{
    float: left;
    margin: 0 0 15px !important;
}
.asgRecCard span{
    font-size: 18px !important;
    color: #044a94 !important;
    display: block;
    margin: 15px 0 0 0 !important;
}
.au{
    display: flex;
    align-items: center;
}
.au img{
    width: 90%;
}
.pag{
    text-align: center;
    margin: 5% 0 2% 0;
}
.pag li{
    display: inline;
    margin: 0 5px;
}
.pag a{
    margin: 0 10px;
}
.textOpi{
    background: #FFF;
    padding: 15px;
    margin: 2% 0;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 5px;
}
.textOpi h1{
    color: #044a94;
    font-weight: normal;
}
.cardOpi{
    background: #FFF;
    padding: 10px;
    margin: 5% 0;
    box-shadow: 0 0 15px 3px rgb(207, 207, 207);
    border-radius: 5px;
    text-align: center;
    color: #666;
    min-height: 200px;
}
.opistar{
    color: #044a94;
    font-size: 30px;
}
.txtOpi{
    font-size: 17px;
    display: block;
    margin: 0 0 18px 0;
}
.cardOpi .navbar{
    font-size: 14px;
}
.bgGris{
    background: #ebebeb;
}
.ban{
    width: 280px;
    margin: 0;
    float: left;
}
.bgFunnel p{
    color: #044a94;
    margin: 3px 0 0 0;
    font-size: 19px;
    line-height: 1.3;
}
.linea{
    border-bottom: 3px solid #faea00;
    display: inline;
}
.barraCar{
    background: #044a94;
    height: 50px;
    display: block;
    margin: -30px 0 0 0;
    z-index: -1;
}
.bgFunnel p span{
    font-weight: bold;
    font-size: 22px;
}

.navFunnel{
    text-align: center;
}
.navFunnel p{
    border-left: 2px solid rgb(206, 206, 206);
    color: #444;
    padding: 0;
    padding: 5px 0;
    font-size: 17px;
}
.pipe{
    border-right: 2px solid rgb(206, 206, 206);
}
.asgRec {
    background:#1b96ab;
}
.barato {
    background:#28a745;
}
.barato, .cober, .asgRec {
    margin: 5px 0 -20px 4px;
    color: #fff;
    padding: 3px 45px;
    font-size: 15px;
    border-radius: 7px;
}
.cober {
    background:#ff6712;
}
.btnform button img{
    width: 26px;
    margin: -7px 0 0 10px;
}

h1{
    font-weight: bold;
    margin: 0;
    font-size: 36px;
}
.tuPatita{
    z-index: 1;
}
.tuPatita p{
    font-weight: bold;
    font-size: 38px;
    margin: 0;
}
.tuPatita span{
    color: #555;
    font-size: 28px;
}
.minHead{
    margin: 0 -10px;
}
.minHead a{
    border: 2px solid #fff;
    margin: 0;
    padding: 0 6px 2px;
    color: #fff;
    border-radius: 10px;
}
.minHead a:hover{
    color: white;
    border: 2px solid white;
}
.minHead a p{
    margin: 0 0 -5px 20px;
    font-size: 15px;
}
.minHead a span{
    margin: 0;
    font-weight: bold;
    font-size: 17px;
}
.tel{
    padding: 0 6px 2px;
    color: #fff;
    border-radius: 10px;
}
.tel:hover{
    color: #fff;
}
.tel img{
    height: 28px;
    margin: -20px 8px 0 0;
}
.tel p{
    margin: 0 0 -5px 20px;
    font-size: 15px;
}
.tel span{
    margin: 0;
    font-weight: bold;
    font-size: 17px;
}
.header a{
    border: 2px solid #fff;
    margin: 0;
    padding: 0 6px 2px;
    color: #fff;
    border-radius: 10px;
    background: #000;
}
.bgBarra{
    color: #fff;
    text-align: center;
    padding: 6px 0;
}
.bgBarra p{
    margin: 0;
    font-size: 26px;
}
.datosAuto{
    text-align: center;
    font-size: 20px;
    margin: 10px 0 0 0;
    display: block;
}
.precio span{
    color: #555;
    font-weight: 600;
}
.precio p{
    font-weight: bold;
    font-size: 42px!important;
    text-align: center;
    margin: -8px 0 0 0;
}
.datosEjecutivo{
    text-align: center;
    color: #555;
    font-size: 20px;
}
.datosEjecutivo span, .datosEjecutivo a{
    font-weight: bold;
}
.tablaCoberturas p{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    margin: 0;
    padding: 1px 0 4px 0;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
}
.tablaCoberturas thead th{
    color: #555;
    padding: 6px !important;
}
.tablaCoberturas tbody td{
    color: #555;
    padding: 3px 6px !important;
    font-size: 17px;
}
.msjEjecutivo, .msj{
    border-radius: 10px;
    padding: 15px;
    background: #f3f3f3;
}
.msjEjecutivo p, .msj{
    font-weight: 600;
    font-size: 20px;
}
.msjEjecutivo span{
    color: #555;
    font-weight: 600;
    font-size: 20px;
}
.msj a{
    /* background: #ff6e00; */
    margin: 40px 0 0 0;
    color: #fff;
    padding: 5px 15px;
    border-radius: 10px;
}
.msj a:hover{
    /* background: #dd6000; */
    color: #fff;
}
.msj a p{
    margin: -2px 0 -4px 20px;
    color: #fff;
    text-align: left;
}
.msj img{
    width: 25px;
    margin: -22px 0 0 10px;
}
/* .city{
    height: 100%;
    width: 90%;
    background-image: url(/img/bg/city.png);
    background-repeat: no-repeat;
    margin: -10% 0 0 0;
} */
.banner{
    width: 100%;
    margin: 50px 0 0;
}
.txtForm{
    text-align: center;
    color: #fff;
    font-size: 24px;
    margin: 0 0 10px;
}
.form {
    padding: 4px 4px;   
}
.form select {
    height: 52px;
    border-radius: 5px;
    border: none;
    padding: 0 0 0 8px;
    font-size: 18px;
    color: #555;
}
.form input {
    height: 52px;
    border-radius: 5px;
    border: none;
    padding: 0 0 0 12px;
    font-size: 18px;
    color: #111;
    background: #fff;
}
.form select:focus,
.form input:focus {
    box-shadow: 0 0 0 3px #007bff;
}
.form select.is-invalid,
.form input.is-invalid {
    box-shadow: 0 0 0 2px #ff0000;
}
.checkBox, .checkBox a {
    color: #fff;
    font-size: 16px;
    margin: auto;
    text-align: center;
}
.btnform {
    margin: 0;
    padding: 10px 5px 5px;
}
.btnform button {
    background: #28a745;
    color: #fff;
    border-radius: 5px;
    width: 100%;
    font-size: 24px;
    padding: 11px 0;
    margin: 0 0 10px 0;
}
.btnform button:hover {
    background: #18bd3e;
    color: #fff;
}
.multa{
    /*width: 190px;*/
    z-index: 1;
}
.multa p, .reloj p{
    font-size: 15px;
    margin: 0 0 0 0;
    line-height: 1.2;
    color: #555 !important;
    font-weight: normal;
}
.reloj{
    /*width: 174px;*/
    z-index: 1;
}



.triGrey {
    width: 0;
    height: 0;
    margin: 0 0 0 5%;
    border-bottom: 15px solid transparent;
    border-top: 33px solid #f1f1f1;
    border-left: 33px solid transparent;
    border-right: 33px solid transparent;
}


.tabla{
    margin: 3% 0 0 0;
}
.tabla tbody td img{
    width: 17px;
    display: block;
    margin: auto;
}
.tabla tr:nth-of-type(odd){
    background: #e9e9e9;
}
.tabla thead th{
    color: #fff;
    padding: 3px 10px;
}
.tabla td{
    padding: 2px 10px;
}
.tabla td, .tabla th{
    border-left: 8px solid #fff;
    border-right: 8px solid #fff;
}
/* FOOTER */
.footer{
    background: #4e5d6a;
    padding: 0 0 1% 0;
}
.footer img{
    width: 200px;
}
.footer li{
    list-style: none;
}
.footer a{
    color: #fff;
}
.footer a img{
    width: 8px;
    margin: -5px 5px 0 0;
}
.footer p{
    color: #fff;
    margin: 0 0 5px 0;
    font-weight: bold;
    font-size: 18px;
}
.barra{
    border-bottom: 2px solid #fff;
    width: 63px;
    display: inline-block;
    margin: 0 5px 3px 0;
}
.footer span{
    color: #fff;  
}
.star a{
    font-size: 14px;
    margin: -5px 0 0 0;
    font-weight: normal;
    display: block;
}
.star span{
    font-size: 26px;
    color: #fff;
}
/* .star img{
    width: 25px;
    margin: -8px 0 0 0;
} */
.descuentog {
    border: 2px solid #28a745;
    width: 100%;
    padding: 5px;
    border-radius: 50px;
    background-color: #28a745;
    color: #fff!important;
    font-size: 12px!important;
}

.contenedorPromo{background:#fff;padding:5px;border-radius:6px;box-shadow:2px 2px 5px #bababa;width:100%;height:auto;}
.adornosPromo{border:4px dotted #ffc300;border-radius:6px;}
.labelPromo{position:absolute;top:-10px;left:-10px;background:#6e6f6f;color:#fff;border-radius:10px;padding:0px 12px;}
.descuentosPromo{background:#ffc300;color:#fff;text-align:center;font-weight:bold;font-size:1.1rem;margin-bottom:0;padding:0.5rem 0.1rem;border-radius:5px;}
.msiPromo{font-weight:bold;font-size:1.1rem;text-align:center;display:block;line-height:1;}
.labelendPromo{font-weight: bold!important;   font-weight:500;font-size:0.8rem;text-align:center;display:block;text-transform:uppercase;}
/*Vista mobile*/

@media (min-width: 1024px) and (max-width: 1199px) {
.tuPatita p {
    font-size: 36px;
}
.multa p, .reloj p {
    font-size: 15px;
}
.asgRecCard span{
    margin: 5px 0 0 0 !important;
}
}
@media (min-width: 768px) and (max-width: 1023px) {
    .logprom{width: 50px;}

    *, ::after, ::before {font-size: 12px !important;}
    
    
    .logo {
        width: 120px;
    }
    .logoaguila{
        width: 150px;
        height: 80px;
        margin-left: -30px;
    }

    h1{
        font-size: 34px;
    }
    .tuPatita p {
        font-size: 30px;
    }
    .tuPatita span {
        font-size: 26px;
    }
    .multa img, .reloj img {
        width: 40px;
    }
    .multa p, .reloj p {
        font-size: 15px;
    }
    .multa {
        width: 180px;

    }
    .asgRecCard span{
        margin: 5px 0 0 0 !important;
    }
    .descuentosPromo {
    
    font-size: .9rem;
    }
}
@media (min-width: 426px) and (max-width: 767px) {
    .logprom {
        left: 28%;
        /*top: 3.5rem;*/
        top: auto;
        width: 52px;
    }
    .tarjetas{width: 90px; height: auto;}
    .tcandado{font-size: 10px;}
    .imgcan{width: 15px; height: auto;}
    .imben{width: 50px; height: 60px;}
    .textben, .textben2{font-size: 12px;}
    h1{font-size: 22px;}
    .descuento{font-size:17px;}


    .t-desc{font-size: 28px;}
    .textprincipal{font-size: 25px;}

    .logoaguila {
        width: 180px;
        height: 80px;
    }
.addCont p{
    display: block;
}
.asgRecCard{
    box-shadow: none;
    text-align: center;
}
.asgRecCard div{
    float: none;
    margin: auto !important;
}
.asgRecCard p, .asgRecCard span{
    font-size: 19px;
    color: #044a94;
}
.precio{
    margin: auto;
}
.ban-axa{width: 100%; height: auto;}
  .tit1{
      color: white;
      text-align: center;
    }
}
@media (min-width: 376px) and (max-width: 425px) {
    .logprom {
        left: 7.5rem;
        /*top: 3.5rem;*/
        top: auto;
        width: 37px;
    }
    .tarjetas{width: 90px; height:auto;}
    .tcandado{font-size: 10px;}
    .imgcan{width: 15px; height: auto;}
    #idTelDID {font-size: 17px;padding: 0 0px 2px;}
    .imben{width: 50px; height: 60px;}
    .textben, .textben2{font-size: 12px;}
    h1{font-size: 22px;}
    .descuento{font-size:17px;}


    .t-desc{font-size: 25px;}
    .textprincipal{font-size: 23px;}
    .logoaguila {
        width: 180px;
        height: 80px;
    }
    .imgLogoAsg{margin: 0%;}
    .addCont p{
        display: block;
    }
    .endCont img {
        width: 30px;
        margin: 0 1% 0 0;
    }
    #suv {
        width: 40px;
        margin: 0 1% 0 0;
    }
    .addCont p {
        font-size: 24px;
    }
    .bgBarra p{
        font-size: 22px;
    }
    h2,
    h3,
    h4,
    h5 {
    font-size: 24px;
    }
    .asgRecCard{
        box-shadow: none;
        text-align: center;
    }
    .asgRecCard div{
        float: none;
        margin: auto !important;
    }
    .asgRecCard p, .asgRecCard span{
        font-size: 18px;
        color: #044a94;
        font-weight: bold;
    }
    .precio{
        margin: auto;
    }
    .ban-axa{width: 100%; height: auto;}
    .descuentosPromo {font-size: .9rem;}
    .msiPromo {font-size: 1rem;}
    .labelendPromo {font-size: .9rem;}
    .tit1 {
        color: white;
        font-size: 32px;
        text-align: center;
    }

}
@media (min-width: 321px) and (max-width: 375px) {
    .logprom {
        left: 7rem;
        /*top: 3.5rem;*/
        top: auto;
        width: 30px;
    }
    .tarjetas{width: 90px; height: auto;}
    .tcandado{font-size: 10px;}
    .imgcan{width: 15px; height: auto;}
    #idTelDID {font-size: 17px; padding: 0 0px 2px;}
    .imben{width: 50px; height: 60px;}
    .textben, .textben2{font-size: 12px;}
    h1{font-size: 20px;}
    .descuento{font-size:13px;}

    .t-desc{font-size: 25px;}
    .textprincipal{font-size: 21px;}

    .logoaguila {
        width: 160px;
        height: 80px;
    }
    .imgLogoAsg{margin: 0%;}
    .descuentosPromo{font-size: .8rem;}

    .addCont p{
        display: block;
    }
    .endCont img {
        width: 30px;
        margin: 0 1% 0 0;
    }
    #suv {
        width: 40px;
        margin: 0 1% 0 0;
    }
    .endCont a {
        font-size: 16px;
    }
    .addCont p {
        font-size: 20px;
    }
    .bgBarra p{
        font-size: 20px;
    }
    .logo {
        width: 150px;
    }
    .tel, .minHead a {
        padding: 0 2px 0;
    }
    .precio{
        margin: auto;
    }
    .precio span {
        font-size: 15px;
    }
    .precio p {
        font-size: 36px;
    }
    .datosEjecutivo {
        font-size: 16px;
    }
    .table thead th {
        font-size: 16px;
    }
    .table tbody td {
        font-size: 14px;
    }
    h2,
    h3,
    h4,
    h5 {
    font-size: 23px;
    }
    .asgRecCard{
        box-shadow: none;
        text-align: center;
    }
    .asgRecCard div{
        float: none;
        margin: auto !important;
    }
    .asgRecCard p, .asgRecCard span{
        font-size: 16px;
        color: #044a94;
        font-weight: bold;
    }
    .ban-axa{width: 100%; height: auto;}
    .tit1 {
        color: white;
        font-size: 32px;
        text-align: center;
    }
}
@media (min-width: 280px) and (max-width: 320px) {
    .logprom {
        left: 5.7rem;
        /*top: 3.3rem;*/
        top: auto;
        width: 30px;
    }
    .tarjetas{width: 90px; height: auto;}
    .tcandado{font-size: 11px;}
    .imgcan{width: 15px; height: auto;}
    #idTelDID {font-size: 12px; padding: 0 0px 2px;}
    .itel{height: 15px;width: 15px;}
    .imben{width: 50px; height: 60px;}
    .textben, .textben2{font-size: 12px;}
    .footer li {font-size: 13px;}
    h1{font-size: 17px;}
    .descuento{font-size:13px;}


    .t-desc{font-size: 18px;}
    .textprincipal{font-size: 16px;}
    .tit1{color: white;}

    .logoaguila {
        width: 140px;
        height: 80px;
    }
    .imgLogoAsg{margin: 0%;}
    .descuentosPromo{font-size: .6rem;padding: 0.7rem 0.1rem;}
    .labelendPromo{font-size: .7rem;}

    .addCont p{
        display: block;
    }
    .endCont img {
        width: 30px;
        margin: 0 1% 0 0;
    }
    #suv {
        width: 40px;
        margin: 0 1% 0 0;
    }
    .endCont a {
        font-size: 16px;
    }
    .txtForm {
        font-size: 22px;
    }
    .addCont p {
        font-size: 20px;
    }
    .bgBarra p{
        font-size: 20px;
    }
    .logo {
        width: 140px;
    }
    .tel, .minHead a {
        padding: 0 2px 0;
    }
    .precio{
        margin: auto;
    }
    .precio span {
        font-size: 15px;
    }
    .precio p {
        font-size: 36px;
    }
    .datosEjecutivo {
        font-size: 16px;
    }
    .table thead th {
        font-size: 16px;
    }
    .table tbody td {
        font-size: 14px;
    }
    h2,
    h3,
    h4,
    h5 {
    font-size: 22px;
    }
    .asgRecCard{
        box-shadow: none;
        text-align: center;
    }
    .asgRecCard div{
        float: none;
        margin: auto !important;
    }
    .asgRecCard p, .asgRecCard span{
        font-size: 16px;
        color: #044a94;
        font-weight: bold;
    }
    .ban-axa{width: 100%; height: auto;}
    .tit1 {
        color: white;
        font-size: 27px;
        text-align: center;
    }

}
svg.icon{width:20px;height:20px;}

/* TAMAÑO DEL FORM */
.multiselect__tags {
    min-height: 52px !important;
    border: none !important;
    font-size: 1.2rem !important;
    padding: 0 !important;

}

.multiselect__placeholder {
    color: #495057 !important;
    font-size: 16px;
    margin: 14px 15px;
    padding-top: 0 !important;
}

.form-Style {
    min-height: 58px;
}

.form-control {
    border: 1px solid rgba(21, 90, 206, .43);
    height: auto;
    color: #333;
    border-radius: 5px;
    font-size: 1.2rem;
}
