<template>
  <div>
  <promo/>
    <div class="container-fluid" style="background: #f3f3f3">
      <Header></Header>
      <div class="row mt-md-3">
        <div class="container container-leo">
          <div class="row">
            <div class="col-3 d-none d-md-block">
              <section class="bg px-3">
                <div class="text-center py-md-3">
                  <img
                    src="/img/nuevo/logomejorblanco.svg"
                    alt="logo"
                    width="150"
                    height="150"
                    class="img-fluid"
                  />
                </div>
                <div class="my-4 py-2">
                  <ul class="listben">
                    <li class="text-white">
                      <img
                        src="/img/nuevo/check.svg"
                        alt="check"
                        width="17"
                        height="17"
                        class="img-fluid"
                      />
                      <p class="mb-0 mx-2">Atención inmediata en siniestros</p>
                    </li>
                    <li class="text-white">
                      <img
                        src="/img/nuevo/check.svg"
                        alt="check"
                        width="17"
                        height="17"
                        class="img-fluid"
                      />
                      <p class="mb-0 mx-2">
                        Atención Vial: envío de grúa, gasolina y más
                      </p>
                    </li>
                    <li class="text-white">
                      <img
                        src="/img/nuevo/check.svg"
                        alt="check"
                        width="17"
                        height="17"
                        class="img-fluid"
                      />
                      <p class="mb-0 mx-2">Cobertura contra robo y más</p>
                    </li>
                  </ul>
                </div>
                <div class="text-center base">
                  <img
                    v-if="this.$store.state.config.promoSpecial"
                    :src="this.$store.state.config.promoImg"
                    alt="carro"
                    width="60"
                    height="60"
                    class="logprom img-fluid"
                  />

                  <img
                    src="/img/nuevo/auto.png"
                    alt="carro"
                    width="200"
                    height="200"
                    class="img-fluid"
                  />
                </div>
              </section>
            </div>
            <div
              class="col-12 col-sm-12 col-md-9 col-lg-9 pt-4 pt-md-3 pt-lg-3 px-md-3 px-lg-5 bg-white text-center tar-card"
            >
              <div class="row">
                <div class="col-4 d-md-none">
                  <img
                    src="/img/nuevo/logomejor.svg"
                    alt="logo"
                    width="120"
                    height="120"
                    class="img-fluid logasg"
                  />
                </div>
                <div class="col-8 col-md-12 text-center tituloh1">
                  <h1>
                    <img
                      v-if="this.$store.state.config.promoSpecial"
                      :src="this.$store.state.config.promoImg"
                      alt="carro"
                      width="50"
                      height="30"
                      class="logprom img-fluid d-block d-md-none"
                    />
                    Cotizar Seguro de Auto Rapidísimo
                  </h1>

                  <div class="mb-0 descuento">
                    <span>
                      {{ this.$store.state.config.promoLabel }}
                    </span>
                    <span>
                      {{ this.$store.state.config.funnelDto }}
                    </span>
                    <span>
                      {{ this.$store.state.config.funnelMsi }}
                      {{ this.$store.state.config.extraMsg }}
                    </span>
                  </div>
                  <!--<p> {{this.$store.state.config.extraMsg}} </p>-->
                </div>
              </div>
		          <fichamovil/>
              <formulario :config="this.$store.state.config" />
            </div>

            <div class="col-12 col-md-9 offset-md-3 mt-3 mb-1">
              <div class="row">
                <div class="col-6">
                  <img
                    src="/img/nuevo/tarjetas.svg"
                    alt="tarjetas"
                    width="150"
                    height="50"
                    class="img-fluid tarjetas"
                  />
                </div>

                <div class="col-6 px-2 px-md-3">
                  <p class="mb-0 tcandado">
                    <img
                      src="/img/nuevo/candado.svg"
                      alt="candado"
                      width="20"
                      height="20"
                      class="img-fluid imgcan"
                    />
                    Tu información está segura
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <beneficios />
  </div>
</template>

<script>
import Header from "~/components/common/header-principal.vue";
import fichamovil from "~/components/common/fichapromosub.vue";
import beneficios from "~/components/common/beneficios.vue";
import formulario from "~/components/forms/autosForm.vue";
import promo from "~/components/common/fichadescuentofunnel.vue";
import telefonoService from "~/plugins/telefonoService.js";

export default {
  beforeCreate() {
    this.$store.state.config.aseguradora = "QUALITAS";
    this.$store.state.config.catalogo_directo = true;
    this.$store.state.isGlobal = true;
    this.$store.state.config.cotizacion = false;
    this.$store.state.config.emision = true;
    this.$store.state.config.grupoCallback = "VN COMPARADOR M";
    this.$store.state.config.from = "DOMINIO-GNP";
    this.$store.state.config.urlRedireccion = "/cotizar-seguro-de-auto/facebook";
    this.$store.state.config.idPagina = 54;
    this.$store.state.config.idMedioDifusion = 1686;
    this.$store.state.config.idSubRamo = 50;
    this.$store.state.config.dominioCorreo =
      "QUALITAS|mejorsegurodeauto-mx-qualitas";
    this.$store.state.config.textoSMS =
      "Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.";
    // this.$store.state.config.idCampana = 70;
    this.$store.state.config.asgNombre = "Mejor Seguro de Auto";
    this.$store.state.config.telefonoAS = "47440410";
    this.$store.state.config.h1 = "Cotizar Seguro de Auto Rapidísimo";
    this.$store.state.config.k1 = "Cotizar Seguro de Auto";
    this.$store.state.config.k2 = "Cotizar Seguros de Autos";
    this.$store.state.config.k3 = "Cotizador de Seguros";
    this.$store.state.config.k4 = "Cotizador de Seguros de Autos";
    this.$store.state.config.k5 = "Cotización de seguro de auto";
  },
   
  components: {
    Header,
    fichamovil,
    beneficios,
    promo,
    formulario,
  },
  head() {
    return {
      title: "Cotizar Seguro de Auto en Segundos - Mejor Seguro de Auto",
      meta: [
        {
          hid: "keywords",
          name: "keywords",
          content:
            "Cotizar Seguro de Auto, Cotizar Seguros de Autos, Cotizador de Seguros, Cotizador de Seguros de Autos, Cotización de seguro de auto",
        },
        {
          hid: "description",
          name: "description",
          content:
            "Cotizar Seguro de auto es fácil, trabajamos con más de 20 aseguradoras para darte el mejor beneficio. ¡El Mejor Seguro de auto en 60 Segundos!",
        },
        { hid: "author", name: "author", content: "twitter | @vargasdesignMx" },
        {
          hid: "sitemap",
          rel: "sitemap",
          type: "application/xml",
          title: "sitemap",
          href: "sitemap.xml",
        },
        {
          hid: "canonical",
          rel: "canonical",
          href: "https://mejorsegurodeauto.mx/cotizar-seguro-de-auto/",
        },
        { hid: "robots", name: "robots", content: "index,follow" },
      ],
    };
  },
};
</script>
<style>
.imgLogoAsg {
  width: 118px;
}

h1,
.tuPatita p,
h2,
h3,
h4,
h5 {
  color: #044a94;
}
.bg {
  background-color: #044a94;
  border-radius: 5px;
  height: 100%;
}
.addCont p {
  color: #044a94;
  border-bottom: 2px solid #044a94;
}
.addCont span,
.tabla thead th,
.botonTop,
.alertaColor {
  background: #044a94;
}
.imgMsdaSize {
  background-position: -220px -11px;
}
.imgTelSize {
  background-position: -343px -10px;
}
.imgMulta {
  background-position: -404px -10px;
}
.imgReloj {
  background-position: -457px -11px;
}
.imgChevron {
  background-position: -280px -7px;
}
.imgTrailerSize {
  background-position: -469px 0;
}
.imgBochoSize {
  background-position: -506px 8px;
}
.imgTarjetaSize {
  background-position: -673px 0;
}
.imgCheckSize {
  background-position: -774px -6px;
}
.imgSuv {
  background-position: -755px 4px;
}
.imgLupa {
  background-position: -905px -5px;
}
.imgEscudo {
  background-position: -983px -6px;
}
.imgMsdaBlanco {
  background-position: -796px 0;
}
.imgEstrellaSize {
  background-position: -956px -10px;
}
.imgLogoSize {
  background-position: -131px -34px;
  background-size: 1600px;
}
@media (min-width: 1024px) and (max-width: 1199px) {
}
@media (min-width: 768px) and (max-width: 1024px) {
}
@media (min-width: 426px) and (max-width: 767px) {
  .bg {
    background: #044a94;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .bg {
    background: #044a94;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .bg {
    background: #044a94;
  }
}
@media (min-width: 280px) and (max-width: 320px) {
  .bg {
    background: #044a94;
  }
}
</style>
