<template>
  <div class="container-fluid">
    <div class=" row px-3 px-md-0">
      <div class="col-4 text-center my-3 my-md-4">
        <img src="/img/nuevo/logo1.svg" width="60" height="60" class="img-fluid imben"/>
        <p class="mb-0 textben">Protege tu auto</p>
        <p class="mb-0 textben">con las mejores coberturas</p>
        <!-- <p class="mb-0 textben2">con las mejores coberturas</p> -->
      </div>
      <div class="col-4 text-center my-3 my-md-4">
        <img src="/img/nuevo/logo2.svg" width="60" height="60" class="img-fluid imben"/>
        <p class="mb-0 textben">Descuentos</p>
        <p class="mb-0 textben">increibles</p>
        <!--<p class="mb-0 textben2">------</p>-->
      </div>
      <div class="col-4 text-center my-3 my-md-4">
        <img src="/img/nuevo/logo3.svg" width="60" height="60" class="img-fluid imben"/>
        <p class="mb-0 textben">Tu póliza</p>
        <p class="mb-0 textben">hoy mismo</p>
        <!-- <p class="mb-0 textben2">--------</p> -->
      </div>
    </div>
  </div>
</template>