<template>
    <div class="row mx-0" id="cookies">
        <div class="alert alert-secondary alert-dismissible  mb-0" role="alert">
            <p class="mb-0 ms-5">Al navegar en este sitio aceptas el uso de cookies, las cuales nos ayudan a 
                mejorar tu experiencia de navegación. <privacidad /></p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" @click="cerrarModal"></button>
        </div>
    </div>
</template>

<script>
  import privacidad from "~/components/common/privacidadCookies.vue";

export default {
  components: {
    privacidad
  },
  data(){
    return{
      switchModal:false,
      switchModalclass:false
    }
  },
  methods:{
    cerrarModal(){
        var x = document.getElementById("cookies");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
  }
}
</script>

<style>
#cookies{
    position: fixed;
    z-index: 99;
    width: 100%;
    bottom: 0;
}
</style>