<template>
<div></div>
</template>
<script>
  import getInsurersPromos from "~/plugins/promoData.js";

  export default{
    async created() {
      /*************SE TRAEN TODAS LAS PROMOS PARA TODAS LAS ASEGURADORAS **************/
      this.$store.state.insurers = await getInsurersPromos();

      // se trae la promo especifica para este funnel.
      const promoFunnel = this.$store.state.insurers
        .find((insurer) => insurer.name === "funnel")
        .promotions.find((promo) => promo.type === "mejorseguro");

      this.$store.state.config.funnelDto = promoFunnel.dto;
      this.$store.state.config.funnelMsi = promoFunnel.msi;
      this.$store.state.config.promoSpecial = promoFunnel.isSpecial;
      this.$store.state.config.promoLabel = promoFunnel.label;
      this.$store.state.config.promoImg = promoFunnel.urlImg;
      this.$store.state.config.extraMsg = promoFunnel.extraMsg;

      /*****************************************************************************************************/
    },
  }
</script>