<template>
<div class="d-block d-md-none">
    <div v-if="this.$store.state.config.promoSpecial" class="row contenedorPromo">
        <div class="container-fluid p-0 m-0 adornosPromo">
            <div class="row mx-0 pt-3 pb-1 px-0">
                <div class="col-4 text-center">
                    <img
                        :src="this.$store.state.config.promoImg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="65"
                        height="65"
                    />
                </div>
                <div class="col-8">
                    <small class="labelPromo">{{
                        this.$store.state.config.promoLabel
                    }}</small>
                    <p class="descuentosPromo">{{this.$store.state.config.funnelDto }}</p>
                    <div>
                        <small class="msiPromo">{{ this.$store.state.config.funnelMsi }}</small>
                        <section>
                            <small class="labelendPromo">
                             <small>{{ this.$store.state.config.extraMsg }} </small>
                            </small>
                        </section>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div v-if="!this.$store.state.config.promoSpecial" class="row contenedorPromo">
        <div class="container-fluid p-0 m-0 adornosProm">
            <div class="row mx-0 pt-3 pb-1 px-0">
                <div class="col-4 text-center">
                    <img
                        src="/img/nuevo/logomejor.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="95"
                        height="65"
                    />
                </div>
                <div class="col-8">
                    <small class="labelPromo">{{
                        this.$store.state.config.promoLabel
                    }}</small>
                    <p class="descuentosProm">{{this.$store.state.config.funnelDto }}</p>
                    <div>
                        <small class="msiPromo">{{ this.$store.state.config.funnelMsi }}</small>
                        <section>
                            <small class="labelendPromo">
                             {{ this.$store.state.config.extraMsg }}
                            </small>
                        </section>
                    </div>
   
                </div>
            </div>
        </div>
    </div>
</div>
  
</template>
<style>

.adornosPromo {
    border: 4px dotted #E30613;
    border-radius: 6px;
}
.adornosProm {
    border: 4px dotted #044a94;
    border-radius: 6px;
}
.labelPromo {
    position: absolute;
    top: 12px;
    background: #909191;
    color: #fff;
    border-radius: 10px;
    padding: 0px 12px;
    margin-left: 35%;
}
.descuentosPromo {
    background: #E30613;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0;
    padding: 8px;
    padding: 0.8rem 0rem;
    border-radius: 5px;
    line-height: 1;
}
.descuentosProm {
    background: #044a94;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0;
    padding: 8px;
    padding: 0.8rem 0rem;
    border-radius: 5px;
    line-height: 1;
}
.msiPromo {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    display: block;
    line-height: 1;
}
.labelendPromo {
    font-weight: 500;
    font-size: 0.8rem;
    text-align: center;
    display: block;
}
@media (min-width: 600px) and (max-width: 768px){
  .logasg{

    display: none;
  }

}
@media (min-width: 200px) and (max-width: 764px) {
  .tituloh1 {
    display: none;
  }
  .logasg{

    display: none;
  }
  .descuento {
    display: none;
  }
}
@media (min-width: 426px) and (max-width: 767px) {
  .tituloh1 {
    display: none;
  }
  .logasg{

    display: none;
  }
  .descuento {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 930px){
    
   
    .descuentosPromo {
        font-size: .55rem;
    }
    .labelendPromo {
        font-size: 0.5rem;
    }
    .msiPromo {
        font-size: .9rem;
    }
}
@media (min-width: 420px) and (max-width: 765px){
    .contenedorPromo{min-height:100px;height:auto;}
    .contenedorPromo {
    background: #fff;
    padding: 5px;
    border-radius: 6px;
    box-shadow: 2px 2px 5px #BABABA;
    max-width: 760px;
    width: 100%;
    height: auto;
    margin: auto;
    position: relative;
    
}
    .descuentosPromo {
        font-size: 1rem;
    }
    .labelendPromo {
        font-size: 0.7rem;
    }
    .msiPromo {
        font-size: 1rem;
    }
}
@media (max-width: 419px){
    .contenedorPromo{min-height:100px;height:auto;}
    .contenedorPromo {
    background: #fff;
    padding: 5px;
    border-radius: 6px;
    box-shadow: 2px 2px 5px #BABABA;
    max-width: 760px;
    width: 100%;
    height: auto;
    margin: auto;
    position: relative;
}
    .descuentosPromo {
        font-size: 0.9rem;
    }
    .labelendPromo {
        font-size: 0.9rem;
    }
}
</style>