<template>
<div></div>
</template>
<script>
  import getInsurerPromo from "~/plugins/promoData.js";

  export default{
    async created() {
      try {
        // Traemos la promoción especifica de la aseguradora para este dominio.
        const insurer = await getInsurerPromo(this.$store.state.config.aseguradora);
        // Establecemos el porcentaje y meses sin intereses.
        this.$store.state.config.desc = insurer.promo.dto;
        this.$store.state.config.msi = insurer.promo.msi;
        this.$store.state.config.promoLabel = insurer.promo.label;
        // La promo es especial?
        this.$store.state.config.promoSpecial = insurer.promo.isSpecial;
        // Imagen para la promoción especial.
        this.$store.state.config.promoImg = insurer.promo.urlImg;
        //Se establece el mensaje extra
        this.$store.state.config.extraMsg = insurer.promo.extraMsg;
      } catch (err) {
        console.log(err);
      }
    },
  }
</script>