<template>
  <div>
    <div v-if="this.$store.state.config.promoSpecial" class="row contenedorPromo d-block d-md-none">
        <div class="container-fluid p-0 m-0 adornosPromo">
            <div class="row mx-0 pt-3 pb-1 px-0">
                <div class="col-4 my-2 px-md-1 px-lg-3">
                    <img
                        v-if="this.$store.state.config.aseguradora == 'ABA'"
                        src="/img/logoaseg/chubb.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="140"
                        height="34"
                    />
                    <img
                        v-if="this.$store.state.config.aseguradora == 'AXA'"
                        src="/img/logoaseg/axa.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="55"
                        height="34"
                    />
                    <img
                        v-if="this.$store.state.config.aseguradora == 'ELAGUILA'"
                        src="/img/logoaseg/elaguila.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="85"
                        height="34"
                    />
                    <img
                        v-if="this.$store.state.config.aseguradora == 'LATINO'"
                        src="/img/logoaseg/la latino.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="65"
                        height="34"
                    />
                    <img
                        v-if="this.$store.state.config.aseguradora == 'ANA'"
                        src="/img/logoaseg/ana.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="80"
                        height="34"
                    />
                    <img 
                        v-if="this.$store.state.config.aseguradora == 'GNP'"
                        src="/img/logoaseg/gnp.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="140"
                        height="34"
                    />
                    <img 
                        v-if="this.$store.state.config.aseguradora == 'BANORTE'"
                        src="/img/logoaseg/banorte_new.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="140"
                        height="34"
                    />
                    <img 
                        v-if="this.$store.state.config.aseguradora == 'MAPFRE'"
                        src="/img/logoaseg/mapfre.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="120"
                        height="34"
                    />
                    <img 
                        v-if="this.$store.state.config.aseguradora == 'GS'"
                        src="/img/logoaseg/generaldeseguros.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="140"
                        height="34"
                    />
                    <img 
                        v-if="this.$store.state.config.aseguradora == 'ATLAS'"
                        src="/img/logoaseg/atlas.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="140"
                        height="34"
                    />
                    <img 
                        v-if="this.$store.state.config.aseguradora == 'ZURICH'"
                        src="/img/logoaseg/zurich.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="85"
                        height="34"
                    />
                    <img 
                        v-if="this.$store.state.config.aseguradora == 'AIG'"
                        src="/img/logoaseg/aig.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="140"
                        height="34"
                    />
                    <img 
                        v-if="this.$store.state.config.aseguradora == 'QUALITAS'"
                        src="/img/logoaseg/qualitas.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="140"
                        height="34"
                    />
                    <img 
                        v-if="this.$store.state.config.aseguradora == 'AFIRME'"
                        src="/img/logoaseg/afirme.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="140"
                        height="34"
                    />
                    <img 
                        v-if="this.$store.state.config.aseguradora == 'MIGO'"
                        src="/img/logoaseg/migo.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="120"
                        height="34"
                    />
                    <img 
                        v-if="this.$store.state.config.aseguradora == 'CABIFY'"
                        src="/img/logoaseg/cabify.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="120"
                        height="34"
                    />
                    <img 
                        v-if="this.$store.state.config.aseguradora == 'DIDI'"
                        src="/img/logoaseg/didi.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="120"
                        height="34"
                    />
                    <img 
                        v-if="this.$store.state.config.aseguradora == 'ELPOTOSI'"
                        src="/img/logoaseg/el potosi.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="120"
                        height="34"
                    />
                    <img 
                        v-if="this.$store.state.config.aseguradora == 'HDI'"
                        src="/img/logoaseg/hdi.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="70"
                        height="34"
                    />
                    <img 
                        v-if="this.$store.state.config.aseguradora == 'INBURSA'"
                        src="/img/logoaseg/inbursa.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="120"
                        height="34"
                    />
                    <img 
                        v-if="this.$store.state.config.aseguradora == 'MIITUO'"
                        src="/img/logoaseg/miituo.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="100"
                        height="34"
                    />
                    <img 
                        v-if="this.$store.state.config.aseguradora == 'MULTIVA'"
                        src="/img/logoaseg/multiva.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="100"
                        height="34"
                    />
                    <img 
                        v-if="this.$store.state.config.aseguradora == 'SURA'"
                        src="/img/logoaseg/sura.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="100"
                        height="34"
                    />
                    <img 
                        v-if="this.$store.state.config.aseguradora == 'UBER'"
                        src="/img/logoaseg/uber.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="100"
                        height="34"
                    />
                    <img 
                        v-if="this.$store.state.config.aseguradora == 'BXMAS'"
                        src="/img/logoaseg/bxmas.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="100"
                        height="34"
                    />

                </div>
                <div
                    v-if="this.$store.state.config.promoSpecial"
                    class="col-2 px-1"
                >
                    <img
                        :src="this.$store.state.config.promoImg"
                        alt="logo promocion"
                        class="m-auto img-fluid" width="75" height="75"
                    />
                </div>
                <div :class="this.$store.state.config.promoSpecial ? 'col-6' : 'col-8'">
                    <small :class="this.$store.state.config.promoSpecial ? 'labelPromoSpecial' : 'labelPromo'">{{
                        this.$store.state.config.promoLabel
                    }}</small>
                    <p class="descuentosPromo">{{this.$store.state.config.desc }}</p>
                    <div >
                        <small class="msiPromo">{{ this.$store.state.config.msi }} </small>
                        <small class="labelendPromo">
                                {{this.$store.state.config.extraMsg}}
                            </small>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div v-if="!this.$store.state.config.promoSpecial" class="row contenedorPromo d-block d-md-none">
        <div class="container-fluid p-0 m-0 adornosProm">
            <div class="row mx-0 pt-3 pb-1 px-0">
                <div class="col-4 my-2 px-md-1 px-lg-3">
                    <img
                        v-if="this.$store.state.config.aseguradora == 'ABA'"
                        src="/img/logoaseg/chubb.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="140"
                        height="34"
                    />
                    <img
                        v-if="this.$store.state.config.aseguradora == 'AXA'"
                        src="/img/logoaseg/axa.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="55"
                        height="34"
                    />
                    <img
                        v-if="this.$store.state.config.aseguradora == 'ELAGUILA'"
                        src="/img/logoaseg/elaguila.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="85"
                        height="34"
                    />
                    <img
                        v-if="this.$store.state.config.aseguradora == 'LATINO'"
                        src="/img/logoaseg/la latino.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="65"
                        height="34"
                    />
                    <img
                        v-if="this.$store.state.config.aseguradora == 'ANA'"
                        src="/img/logoaseg/ana.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="80"
                        height="34"
                    />
                    <img 
                        v-if="this.$store.state.config.aseguradora == 'GNP'"
                        src="/img/logoaseg/gnp.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="140"
                        height="34"
                    />
                    <img 
                        v-if="this.$store.state.config.aseguradora == 'BANORTE'"
                        src="/img/logoaseg/banorte_new.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="140"
                        height="34"
                    />
                    <img 
                        v-if="this.$store.state.config.aseguradora == 'MAPFRE'"
                        src="/img/logoaseg/mapfre.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="120"
                        height="34"
                    />
                    <img 
                        v-if="this.$store.state.config.aseguradora == 'GS'"
                        src="/img/logoaseg/generaldeseguros.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="140"
                        height="34"
                    />
                    <img 
                        v-if="this.$store.state.config.aseguradora == 'ATLAS'"
                        src="/img/logoaseg/atlas.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="140"
                        height="34"
                    />
                    <img 
                        v-if="this.$store.state.config.aseguradora == 'ZURICH'"
                        src="/img/logoaseg/zurich.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="85"
                        height="34"
                    />
                    <img 
                        v-if="this.$store.state.config.aseguradora == 'AIG'"
                        src="/img/logoaseg/aig.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="140"
                        height="34"
                    />
                    <img 
                        v-if="this.$store.state.config.aseguradora == 'QUALITAS'"
                        src="/img/logoaseg/qualitas.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="140"
                        height="34"
                    />
                    <img 
                        v-if="this.$store.state.config.aseguradora == 'AFIRME'"
                        src="/img/logoaseg/afirme.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="140"
                        height="34"
                    />
                    <img 
                        v-if="this.$store.state.config.aseguradora == 'MIGO'"
                        src="/img/logoaseg/migo.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="120"
                        height="34"
                    />
                    <img 
                        v-if="this.$store.state.config.aseguradora == 'CABIFY'"
                        src="/img/logoaseg/cabify.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="120"
                        height="34"
                    />
                    <img 
                        v-if="this.$store.state.config.aseguradora == 'DIDI'"
                        src="/img/logoaseg/didi.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="120"
                        height="34"
                    />
                    <img 
                        v-if="this.$store.state.config.aseguradora == 'ELPOTOSI'"
                        src="/img/logoaseg/el potosi.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="120"
                        height="34"
                    />
                    <img 
                        v-if="this.$store.state.config.aseguradora == 'HDI'"
                        src="/img/logoaseg/hdi.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="70"
                        height="34"
                    />
                    <img 
                        v-if="this.$store.state.config.aseguradora == 'INBURSA'"
                        src="/img/logoaseg/inbursa.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="120"
                        height="34"
                    />
                    <img 
                        v-if="this.$store.state.config.aseguradora == 'MIITUO'"
                        src="/img/logoaseg/miituo.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="100"
                        height="34"
                    />
                    <img 
                        v-if="this.$store.state.config.aseguradora == 'MULTIVA'"
                        src="/img/logoaseg/multiva.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="100"
                        height="34"
                    />
                    <img 
                        v-if="this.$store.state.config.aseguradora == 'SURA'"
                        src="/img/logoaseg/sura.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="100"
                        height="34"
                    />
                    <img 
                        v-if="this.$store.state.config.aseguradora == 'UBER'"
                        src="/img/logoaseg/uber.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="100"
                        height="34"
                    />
                    <img 
                        v-if="this.$store.state.config.aseguradora == 'BXMAS'"
                        src="/img/logoaseg/bxmas.svg"
                        alt="logo promocion"
                        class="m-auto img-fluid"
                        width="100"
                        height="34"
                    />

                </div>
                <div
                    v-if="this.$store.state.config.promoSpecial"
                    class="col-2 px-1"
                >
                    <img
                        :src="this.$store.state.config.promoImg"
                        alt="logo promocion"
                        class="m-auto img-fluid" width="75" height="75"
                    />
                </div>
                <div :class="this.$store.state.config.promoSpecial ? 'col-6' : 'col-8'">
                    <small class="labelPromo">{{
                        this.$store.state.config.promoLabel
                    }}</small>
                    <p class="descuentosProm">{{ this.$store.state.config.desc }}</p>
                    <div >
                        <small class="msiPromo">{{ this.$store.state.config.msi }}</small>
                                             
                        <small class="labelendPromo">
                                {{this.$store.state.config.extraMsg}}
                            </small>
                       
                    </div>
           
                </div>
            </div>
        </div>
    </div>
    
  </div>
</template>

<style>
    .contenedorPromo{min-height:80px;height:auto;}
.contenedorPromo {
    background: #fff;
    padding: 5px;
    border-radius: 6px;
    box-shadow: 2px 2px 5px #BABABA;
    max-width: 760px;
    width: 100%;
    height: auto;
    margin: auto;
    position: relative;
}
.adornosPromo {
    border: 4px dotted #E30613;
    border-radius: 6px;
}
.adornosProm {
    border: 4px dotted #044a94;
    border-radius: 6px;
}
.labelPromo {
    position: absolute;
    top: 12px;
    background: #909191;
    color: #fff;
    border-radius: 10px;
    padding: 0px 12px;
    margin-left: 37%;
}
.labelPromoSpecial {
    position: absolute;
    top: 12px;
    background: #909191;
    color: #fff;
    border-radius: 10px;
    padding: 0px 12px;
    margin-left: -25%;
}
.descuentosPromo {
    background: #E30613;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0;
    padding: 8px;
    padding: 0.8rem 0rem;
    border-radius: 5px;
    line-height: 1;
}
.descuentosProm {
    background: #044a94;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0;
    padding: 8px;
    padding: 0.8rem 0rem;
    border-radius: 5px;
    line-height: 1;
}
.msiPromo {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    display: block;
    line-height: 1;
}
.labelendPromo {
    font-weight: 500;
    font-size: 0.8rem;
    text-align: center;
    display: block;
    text-transform: uppercase;
}
@media (min-width: 600px) and (max-width: 768px){
  .logasg{

    display: none;
  }

}
@media (min-width: 200px) and (max-width: 764px) {
  .tituloh1 {
    display: none;
  }
  .logasg{

    display: none;
  }
  .descuento {
    display: none;
  }
}
@media (min-width: 426px) and (max-width: 767px) {
  .tituloh1 {
    display: none;
  }
  .logasg{

    display: none;
  }
  .descuento {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 930px){
    .descuentosPromo {
        font-size: .55rem;
    }
    .labelendPromo {
        font-size: 0.5rem;
    }
    .msiPromo {
        font-size: .9rem;
    }
}

@media (min-width: 376px) and (max-width: 425px){
    .labelPromo {
        font-size: 0.8rem;
    }
    .labelPromoSpecial {
        font-size: 0.8rem;
    }

}
@media (min-width: 420px) and (max-width: 767px){
    .descuentosPromo {
        font-size: .8rem;
    }
    .labelendPromo {
        font-size: 0.7rem;
    }
    .labelPromo {
        font-size: 0.8rem;
    }
    .labelPromoSpecial {
        font-size: 0.8rem;
    }
    .msiPromo {
        font-size: .9rem;
    }
}
@media (max-width: 419px){
    .descuentosPromo {
        font-size: .55rem;
    }
    .labelendPromo {
        font-size: 0.55rem;
    }
    .labelPromo {
        font-size: 0.7rem;
    }
    .labelPromoSpecial {
        font-size: 0.7rem;
    }
    .msiPromo {
        font-size: .9rem;
    }
}
@media (min-width: 321px) and (max-width: 375px){
    .descuentosPromo {
        font-size: .7rem;
    }
    .labelendPromo {
        font-size: 0.55rem;
    }
    .msiPromo {
        font-size: .7rem;
    }
    .labelPromo {
        font-size: .7rem;
    }
    .labelPromoSpecial {
        font-size: .7rem;
    }
}
</style>