<template>
  <div class="row m-0">
    <div class="col-6 col-md-5 offset-md-1">
      <a href="/">
        <img src="/img/nuevo/logomejor.svg" alt="logo" width="90" height="90" class="img-fluid logomejor" >
      </a>
      
      <img src="/img/agente.svg" width="150" height="30" class="img-fluid" alt="agente" v-if="this.$store.state.config.aseguradora == 'AFIRME'">
    </div>
    <div class="col-6 col-md-5 my-auto">
    <a :href="'tel:55' + $store.state.config.telefonoAS" id="idTelDID" class="btn">      
      <span><img src="/img/nuevo/telefono.svg" alt="tel" class="img-fluid itel mx-2" height="20" width="20">  (55) {{ $store.state.config.telefonoAS }}</span>
    </a>

    </div>
  </div>
    <!--<div class="row m-0"> 
      <div class="col-6 d-none d-md-block">
        <a href="/">
            <div
              :class="'imgLogoAsg'+$store.state.config.img+' imgLogoAsg'"
              :title="$store.state.config.asgNombre"
              v-if="$store.state.config.asgNombre != 'Mejor Seguro de Auto'
               "
            ></div>
        </a>
      </div>

      <div class="col-12 col-md-6">
        <div class="navbar p-0 mt-2 minHead">
          <- LOGO DEL EL AGUILA -
                  <a v-if="$store.state.config.asgNombre == 'El Aguila'" href="/" class="border-0 d-none d-md-block">
                      <div :class="'imgLogo'+$store.state.config.img+' imgLogoSize'"></div>
                  </a>-
          <a href="/" class="d-none d-md-block border-0">
            <div
              :class="'imgMsda' + $store.state.config.img + ' imgMsdaSize'"
              :title="$store.state.config.k1"
            ></div>
          </a>
          
          <a href="/" class="d-block d-md-none border-0">
            <div
              :class="'imgLogo' + $store.state.config.img + ' imgLogoSize'"
            ></div>
          </a>
          <a
            :href="'tel:55' + $store.state.config.telefonoAS"
            id="idTelDID"
            class="btn"
          >
            <p>Llámanos</p>
            <div
              :class="'imgTel' + $store.state.config.img + ' imgTelSize'"
              title="Llama Gratis"
            ></div>
            <span>(55) {{ $store.state.config.telefonoAS }}</span>
          </a>
        </div>
      </div> 
    </div> -->    
      
</template>