<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 px-xl-5 px-1">
        <div class="navbar m-0 px-0">
          <a href="/">
            <div
              :class="'imgLogoAsg'+$store.state.config.img+' imgLogoAsg'"
              :title="$store.state.config.asgNombre"
              v-if="$store.state.config.asgNombre != 'Mejor Seguro de Auto' && $store.state.config.asgNombre != 'El Aguila'"
            ></div>
          </a>
          <a :href="'tel:55'+$store.state.config.telefonoAS" class="btn tel">
            <p>Llámanos</p>
            <div :class="'imgTel'+$store.state.config.img+' imgTelSize'" title="Llama Gratis"></div>
            <span>(55) {{$store.state.config.telefonoAS}}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>