<template><br /></template>
<script>
import cotizacionAliService from "~/plugins/cotizacionesAli";
import cotizacionInternaService from "~/plugins/cotizacionInterna";
import cotizacionBranding from "~/plugins/cotizacionesBranding";
import saveDataCliente from "~/plugins/saveDataCliente";
import validacionesService from "~/plugins/validaciones";
import database from "~/plugins/saveData";

const validacion = new validacionesService();
export default {
  created: function () {
    this.$store.state.config.reload = false;

    if (this.$store.state.formData.nombre != "") {
      this.gclid();
      this.validateData();

    } else {
      this.$router.replace({ path: "/error/" });
    }
  },
  methods: {
    gclid: function () {
				if (
					localStorage.getItem("gclid") === null ||
					localStorage.getItem("gclid") === "undefined"
				) {
				} else {
					this.$store.state.gclid_field =
						localStorage.getItem("gclid");
					this.$store.state.formData.gclid_field = JSON.parse(
						this.$store.state.gclid_field,
					);
				}
		},
    enhancedConversionGTAG: function () {
      dataLayer.push({
        event: "Lead",
        phone: "52" + this.$store.state.formData.telefono,
        email: this.$store.state.formData.correo,
      });
    },

  

    saveDataCliente: function () {
      this.$store.state.config.loading = true;
      this.$store.state.formData.dominioCorreo =
        this.$store.state.config.dominioCorreo;

      let dataCotizacion = {
        aseguradora: this.$store.state.config.aseguradora,
        clave: this.$store.state.formData.clave,
        cp: this.$store.state.formData.cp,
        descripcion: this.$store.state.formData.descripcion,
        detalle: this.$store.state.formData.detalle,
        descuento: this.$store.state.config.descuento,
        edad: this.$store.state.formData.edad,
        fechaNacimiento: (
          "01/01/" +
          (
            new Date().getFullYear() - this.$store.state.formData.edad
          ).toString()
        ).toString("yyyyMM/dd"),
        genero: this.$store.state.formData.genero, // === "M" ? "MASCULINO" : "FEMENINO",
        marca: this.$store.state.formData.marca,
        modelo: this.$store.state.formData.modelo,
        movimiento: "COTIZACION",
        paquete: "AMPLIA",
        servicio: "PARTICULAR",
      };
      this.$store.state.config.dataPeticionCotizacion = dataCotizacion;
      let datosCliente;
      this.$store.state.formData.telefonoValid = false;

      datosCliente = {
        datosCot: JSON.stringify(this.$store.state.formData),
        idMedioDifusion: this.$store.state.config.idMedioDifusion,
        idPagina: this.$store.state.config.idPagina,
        idSubRamo: this.$store.state.config.idSubRamo,
        peticionesAli: JSON.stringify(dataCotizacion),
      };
      this.enhancedConversionGTAG();
      saveDataCliente
        .search(
          JSON.stringify(datosCliente),
          this.$store.state.config.accessToken
        )
        .then((resp) => {
          // idLogData salesForce
          this.$store.state.formData.idLogData = resp.data.data.idLogClient;
            this.saveProspecto();
          
        })
        .catch((error) => {
          var status = "ERR_CONNECTION_REFUSED";
          if (typeof error.status != "undefined") {
            status = error.status;
          } else if (typeof error.response != "undefined") {
            if (typeof error.response.status != "undefined") {
              status = error.response.status;
            }
          }
          if (status === 401) {
            this.$store
              .dispatch("getToken")
              .then((resp) => {
                if (typeof resp.data == "undefined") {
                  this.$store.state.config.accessToken = resp.accessToken;
                } else if (typeof resp.data.accessToken != "undefined") {
                  this.$store.state.config.accessToken = resp.data.accessToken;
                }
                this.saveDataCliente();
              })
              .catch((error) => {
                console.log("Hubo un problema al generar el token");
                this.this.$store.state.idEndPoint = 1;
                this.catchStatusAndMessage(error, {
                  tokenData: dbService.tokenData,
                });
              });
          } else {
            this.this.$store.state.idEndPoint = 1;
            this.catchStatusAndMessage(error, datosCliente);
          }
        });
    },

    validateData: function () {

      validacion
        .validarCorreo(this.$store.state.formData.correo)
        .then((resp) => {
          this.$store.state.formData.emailValid = resp.data.valido;
          validacion
            .validarTelefono(this.$store.state.formData.telefono)
            .then((resp) => {
              this.$store.state.formData.telefonoValid = resp.data.mensaje;
              this.validacionCP();
            })
            .catch((error) => {
              this.$store.state.formData.telefonoValid = "FIJO";
              this.$store.state.idEndPoint = 169;
              this.$store.state.status =
                error.response !== undefined ? error.response.status : 500;
              this.$store.state.message =
                error.response !== undefined
                  ? JSON.stringify({
                      error: error.response.data,
                      peticion: JSON.parse(error.config.data),
                    })
                  : JSON.stringify({
                      error: error,
                      peticion: this.$store.state.formData.telefono,
                    });
              this.validacionCP();
            });
        })
        .catch((error) => {
          this.$store.state.formData.emailValid = true;
          this.$store.state.idEndPoint = 157;
          this.$store.state.status =
            error.response !== undefined ? error.response.status : 500;
          this.$store.state.message =
            error.response !== undefined
              ? JSON.stringify({
                  error: error.response.data,
                  peticion: JSON.parse(error.config.data),
                })
              : JSON.stringify({
                  error: error,
                  peticion: this.$store.state.formData.correo,
                });
          validacion
            .validarTelefono(this.$store.state.formData.telefono)
            .then((resp) => {
              this.$store.state.formData.telefonoValid = resp.data.mensaje;
              this.validacionCP();
            })
            .catch((error) => {
              this.$store.state.formData.telefonoValid = "FIJO";
              this.$store.state.idEndPoint = 169;
              this.$store.state.status =
                error.response !== undefined ? error.response.status : 500;
              this.$store.state.message =
                error.response !== undefined
                  ? JSON.stringify({
                      error: error.response.data,
                      peticion: JSON.parse(error.config.data),
                    })
                  : JSON.stringify({
                      error: error,
                      peticion: this.$store.state.formData.telefono,
                    });
              this.validacionCP();
            });
        });
    },
    validacionCP() {
      validacion
        .validarCodigoPostal(
          this.$store.state.formData.cp,
          this.$store.state.config.accessToken
        )
        .then((resp) => {
          this.$store.state.formData.codigoPostalValid =
            typeof resp.data.data == "object" && resp.data.data.length > 0
              ? true
              : false;

              this.saveDataCliente();
            })
        .catch((error) => {
          this.$store.state.status = error.status
            ? error.status
            : error.response
            ? error.response.status
            : 500;
          this.$store.state.message = error.data
            ? JSON.stringify({
                error: error.data,
                peticion: this.$store.state.formData.cp,
              })
            : JSON.stringify({
                error: error,
                peticion: { cp: this.$store.state.formData.cp },
              });
          this.$store.state.formData.codigoPostalValid = true;
          if (this.$store.state.status === 401) {
            this.dispatch("getToken")
              .then((resp) => {
                this.$store.state.config.accessToken = resp.data.accessToken;
               this.validacionCP();
              })
              .catch((error) => {
                this.$store.state.idEndPoint = 155;
                this.$store.state.status = error.status
                  ? error.status
                  : error.response
                  ? error.response.status
                  : 500;
                this.$store.state.message = error.data
                  ? JSON.stringify({
                      error: error.data,
                      peticion: { tokenData: dbService.tokenData },
                    })
                  : JSON.stringify({
                      error: error,
                      peticion: { tokenData: dbService.tokenData },
                    });
                    this.saveDataCliente();
                
              });
          } else {
            this.$store.state.idEndPoint = 155;
            this.saveDataCliente();
          }
        });
    },
    // LOGICA TRES CAMINOS
    saveProspecto: function () {
      var data = this.$store.state.config.dataPeticionCotizacion;

      this.$store.state.formData.dominioCorreo =
        this.$store.state.config.dominioCorreo;

      let dataProspecto;
      //console.log(this.$store.state.formData.aseguradora);
      dataProspecto = {
        nombreUsr: this.$store.state.formData.nombre,
        emailUsr: this.$store.state.formData.correo,
        datosCot: JSON.stringify(this.$store.state.formData),
        telefonoUsr: this.$store.state.formData.telefono,
        generoUsr: this.$store.state.formData.genero,
        codigoPostalUsr: this.$store.state.formData.cp,
        edadUsr: this.$store.state.formData.edad,
        idMedioDifusion: this.$store.state.config.idMedioDifusion,
        idPagina: this.$store.state.config.idPagina,
        ip: this.$store.state.config.ipCliente,
        idSubRamo: this.$store.state.config.idSubRamo,
        peticionAli: JSON.stringify(data),
      };

      cotizacionBranding
        .newCotizacion(
          JSON.stringify(dataProspecto),
          this.$store.state.config.accessToken
        )
        .then((resp) => {
          this.$store.state.config.idCotizacionNewCore =
            resp.data.data.idCotizaciones;
          this.$store.state.config.idProductoSolicitud =
            resp.data.data.idProductoSolicitud;
          this.$store.state.config.cotizacionAli =
            resp.data.data.idCotizacionAli;

          if (this.$store.state.config.cotizacion) {
            this.cotizacion();
          } else {
            this.cotizacionesAli();
          }
        })

        .catch((error) => {
          this.$store.state.status = error.status
            ? error.status
            : error.response
            ? error.response.status
            : 500;
          if (this.$store.state.status === 401) {
            this.dispatch("getToken")
              .then((resp) => {
                this.$store.state.config.accessToken = resp.accessToken;
                  this.saveProspecto();
                
              })
              .catch((error) => {
                this.$store.state.status = error.status
                  ? error.status
                  : error.response
                  ? error.response.status
                  : 500;
                this.$store.state.idEndPoint = 155;
                this.$store.state.message = error.data
                  ? JSON.stringify({
                      error: error.response.data,
                      peticion: JSON.parse(error.config.data),
                    })
                  : JSON.stringify({
                      error: error,
                      peticion: { tokenData: dbService.tokenData },
                    });
                
              });
          } else {
            this.$store.state.idEndPoint = 420;
            this.$store.state.message = error.data
              ? JSON.stringify({
                  error: error.response.data,
                  peticion: JSON.parse(error.config.data),
                })
              : JSON.stringify({ error: error, peticion: dataProspecto });
            this.valid();
          }
        });
    },
    saveData: function (state) {
      
      this.$store.state.formData.dominioCorreo =
        this.$store.state.config.dominioCorreo;

      this.$store.state.config.aseguradora =
        this.$store.state.formData.aseguradora;

      var dataGeneral = {
        nombreUsr: this.$store.state.formData.nombre,
        telefonoUsr: this.$store.state.formData.telefono,
        emailUsr: this.$store.state.formData.correo,
        generoUsr: this.$store.state.formData.genero,
        codigoPostalUsr: this.$store.state.formData.cp,
        edadUsr: this.$store.state.formData.edad,
        datosCot: JSON.stringify(this.$store.state.formData),
        respuestaCot:
          this.$store.state.config.cotizacion === true
            ? JSON.stringify(this.$store.state.cotizacion)
            : "{}",
        emailValid: this.$store.state.formData.emailValid === true ? 1 : 0, //emailValid
        telefonoValid: this.$store.state.formData.telefonoValid,
        mensajeSMS: this.$store.state.config.textoSMS, //mensajeSMS
        codigoPostalValid:
          this.$store.state.formData.codigoPostalValid === true ? 1 : 0, //codigoPostalValid
        idSubRamo: this.$store.state.config.idSubRamo,
        idMedioDifusion: this.$store.state.config.idMedioDifusion,
        aseguradora: this.$store.state.config.aseguradora,
        idPagina: this.$store.state.config.idPagina,
        ip: this.$store.state.config.ipCliente,
        telefonoAS: this.$store.state.config.telefonoAS,
      };
      // console.log('JSON dataGeneral', dataGeneral);
      database
        .search(
          JSON.stringify(dataGeneral),
          this.$store.state.config.accessToken
        )
        .then((resp) => {
          this.$store.state.ejecutivo.nombre = resp.data.nombreEjecutivo;
          this.$store.state.solicitud.nombreEjecutivo =
            resp.data.nombreEjecutivo;
          this.$store.state.ejecutivo.correo = resp.data.correoEjecutivo;
        })
        .catch((error) => {
          this.$store.state.status = error.status
            ? error.status
            : error.response
            ? error.response.status
            : 500;
          console.error(error);
          if (state.status === 401) {
            this.dispatch("getToken")
              .then((resp) => {
                this.$store.state.config.accessToken = resp.data.accessToken;
                this.commit("saveData");
              })
              .catch((error) => {
                console.log("Hubo un problema al generar el token");
                this.$store.state.status = error.status
                  ? error.status
                  : error.response
                  ? error.response.status
                  : 500;
                this.$store.state.idEndPoint = 382;
                this.$store.state.message = error.data
                  ? JSON.stringify({
                      error: error.data,
                      peticion: { tokenData: dbService.tokenData },
                    })
                  : JSON.stringify({
                      error: error,
                      peticion: { tokenData: dbService.tokenData },
                    });
                this.valid();
              });
          } else {
            this.$store.state.idEndPoint = 316;
            this.$store.state.message = error.data
              ? JSON.stringify({
                  error: error.data,
                  peticion: dataGeneral,
                })
              : JSON.stringify({
                  error: error,
                  peticion: dataGeneral,
                });
            this.valid();
          }
        });
        this.valid();
    },
    cotizacion: function () {
      var data = {
        aseguradora: this.$store.state.config.aseguradora,
        clave: this.$store.state.formData.clave,
        cp: this.$store.state.formData.cp,
        descripcion: this.$store.state.formData.descripcion,
        detalle: this.$store.state.formData.detalle,
        descuento: this.$store.state.config.descuento,
        edad: this.$store.state.formData.edad,
        fechaNacimiento: this.$store.state.formData.fechaNacimiento,
        genero: this.$store.state.formData.genero,
        marca: this.$store.state.formData.marca,
        modelo: this.$store.state.formData.modelo,
        movimiento: "cotizacion",
        paquete: "AMPLIA",
        servicio: "PARTICULAR",
      };
      cotizacionInternaService
        .search(
          this.$store.state.config.aseguradora,
          JSON.stringify(data),
          this.$store.state.config.accessToken
        )
        .then((resp) => {
          resp = JSON.parse(resp.data.data);
          this.$store.state.cotizacion = resp;

          if (this.$store.state.cotizacion.cliente == undefined) {
            this.$store.state.cotizacion.Cliente.Telefono =
              this.$store.state.formData.telefono;
          } else {
            this.$store.state.cotizacion.cliente.telefono =
              this.$store.state.formData.telefono;
            this.$store.state.cotizacion.cliente.fechaNacimiento =
              this.$store.state.formData.fechaNacimiento;
            this.$store.state.cotizacion.cliente.email =
              this.$store.state.formData.correo;
          }

          if (typeof resp.cotizacion[0] !== "undefined") {
            resp.cotizacion = resp.cotizacion.filter(
              (x) => x.amplia
            )[0].amplia[0].anual;
            resp.coberturas = resp.coberturas.filter((x) => x.amplia)[0].amplia;
          }
          this.$store.state.cotizacion = resp;
          this.$store.state.mostrarBoton = true;
          this.$store.state.limpiaCoberturas =
            this.$store.state.config.aseguradora === "LATINO" ? "" : "-";
          if (typeof resp != "string") {
            //IF-PRECIO

            if (
              Object.keys(resp.cotizacion).includes("primaTotal") &&
              resp.cotizacion.primaTotal != null &&
              resp.cotizacion.primaTotal != ""
            ) {
              this.$store.state.cargandocotizacion = true;
              this.$store.state.formData.precio =
                this.$store.state.cotizacion.cotizacion.primaTotal;

              this.cotizacionesAli();
              this.limpiarCoberturas();
            } //FIN DEL IF-PRECIO
            else {
              // console.log(this.$store.state.config.aseguradora + " no trajo precios D:");
              this.cotizacionesAli();
            }
          }
        })
        .catch((error) => {
          this.$store.state.status = error.status
            ? error.status
            : error.response
            ? error.response.status
            : 500;
          if (this.$store.state.status === 401) {
            this.dispatch("getToken")
              .then((resp) => {
                this.$store.state.config.accessToken = resp.data.accessToken;
                this.cotizacion();
              })
              .catch((error) => {
                this.$store.state.status = error.status
                  ? error.status
                  : error.response
                  ? error.response.status
                  : 500;
                this.$store.state.idEndPoint = 155;
                this.$store.state.message = error.data
                  ? JSON.stringify({
                      error: error.data,
                      peticion: { tokenData: dbService.tokenData },
                    })
                  : JSON.stringify({
                      error: error,
                      peticion: { tokenData: dbService.tokenData },
                    });
                this.cotizacionesAli();
              });
          } else {
            this.$store.state.idEndPoint = 62;
            this.$store.state.message = error.data
              ? JSON.stringify({
                  error: error.data,
                  peticion: data,
                })
              : JSON.stringify({
                  error: error,
                  peticion: data,
                });
            this.$store.state.statusCot = true;
            this.$store.state.cotizacion = error.response.data.data;
          }
          this.cotizacionesAli();
        });
    },
    cotizacionesAli: function () {
      var peticionAli = this.$store.state.isMiituo
        ? JSON.stringify(this.$store.state.formData)
        : JSON.stringify(this.$store.state.config.dataPeticionCotizacion);

      var jsonPeticionWs = {
        idCotizacion: this.$store.state.config.idCotizacionNewCore,
        idSubRamo: this.$store.state.config.idSubRamo,
        peticion: peticionAli,
        respuesta: this.$store.state.statusCot
          ? this.$store.state.cotizacion
          : this.$store.state.config.cotizacion == false
          ? "{}"
          : JSON.stringify(this.$store.state.cotizacion),
      };

      cotizacionAliService
        .nuevaCotizacion(
          JSON.stringify(jsonPeticionWs),
          this.$store.state.config.accessToken,
          this.$store.state.config.cotizacionAli
        )
        .then((respNuevaCotizacion) => {
          this.$store.state.config.id_cotizacion_a = respNuevaCotizacion;

          this.valid();
        })
        .catch((error) => {
          this.$store.state.status = error.status
            ? error.status
            : error.response
            ? error.response.status
            : 500;
          if (this.$store.state.status === 401) {
            this.dispatch("getToken")
              .then((resp) => {
                this.$store.state.config.accessToken = resp.accessToken;
                this.cotizacionesAli();
              })
              .catch((error) => {
                this.$store.state.status = error.status
                  ? error.status
                  : error.response
                  ? error.response.status
                  : 500;
                this.$store.state.idEndPoint = 155;
                this.$store.state.message = error.data
                  ? JSON.stringify({
                      error: error.data,
                      peticion: { tokenData: dbService.tokenData },
                    })
                  : JSON.stringify({
                      error: error,
                      peticion: { tokenData: dbService.tokenData },
                    });
                this.valid();
              });
          } else {
            this.$store.state.idEndPoint = 124;
            this.$store.state.message = error.data
              ? JSON.stringify({
                  error: error.data,
                  peticion: jsonPeticionWs,
                })
              : JSON.stringify({
                  error: error,
                  peticion: jsonPeticionWs,
                });
            this.valid();
          }
        });
      this.$store.state.config.loading = false;
    },
    limpiarCoberturas() {
      if (this.$store.state.cotizacion.Coberturas) {
        for (var c in this.$store.state.cotizacion.Coberturas[0]) {
          if (
            this.$store.state.cotizacion.Coberturas[0][c] === "-" ||
            this.$store.state.cotizacion.Coberturas[0][c] === ""
          ) {
            delete this.$store.state.cotizacion.Coberturas[0][c];
          }
        }
      }
    },
    valid: function () {
      //
      //console.log("Cotizacion Completa");
      if (this.$store.state.config.cotizaciones) {
        if (
          this.$store.state.formData.codigoPostalValid == false ||
          this.$store.state.config.cotizacion == false ||
          this.$store.state.formData.precio === "" ||
          this.$store.state.formData.precio === 0.0 ||
          !this.$store.state.formData.precio
        ) {
          this.$store.state.msj = true;
          this.$store.state.msjEje = true;
        } else {
          this.$store.state.cargandocotizacion = true;
        }
      } else {
        if (
          this.$store.state.formData.codigoPostalValid == false ||
          this.$store.state.config.cotizacion == false ||
          this.$store.state.formData.precio === "" ||
          this.$store.state.formData.precio === 0.0 ||
          this.$store.state.cotizacion.Cotizacion == null ||
          this.$store.state.cotizacion.Cotizacion.PrimaTotal == ""
        ) {
          this.$store.state.msj = true;
          this.$store.state.msjEje = true;
        } else {
          this.$store.state.cargandocotizacion = true;
        }
      }

      this.$store.state.config.loading = false;
    },
  },
};
</script>
