<template>
    <div class="container-fluid">
      <div class="row">
        <section class="row mx-auto mb-5 ">
          <section class="col-12 mx-auto mt-3 px-xl-5">
            <h2 class="font-weight-bolder">Conoce la opinión de nuestros clientes</h2>
          </section >
          <section style="border-radius:20px" class="col-11 col-sm-3 bg-white shadow-sm mx-auto text-center p-3 mt-3">
              <img src="/img/nuevo/1.jpg" width="40" height="40" class="cliente" alt="..."> <br>
              <img src="/img/nuevo/estrella.svg" class="start sprite" width="20" height="20" alt="...">&nbsp;
              <img src="/img/nuevo/estrella.svg" class="start sprite"  width="20" height="20" alt="...">&nbsp;
              <img src="/img/nuevo/estrella.svg" class="start sprite" width="20" height="20" alt="...">&nbsp;
              <img src="/img/nuevo/estrella.svg" class="start sprite" width="20" height="20" alt="...">&nbsp;
              <img src="/img/nuevo/estrella.svg" class="start sprite" width="20" height="20" alt="...">
              <p class="mt-3" style="font-size: 12px;">Muy buen servicio te atienden muy bien y los descuentos son muy buenos.</p>
          </section>
          <section style="border-radius:20px" class="col-11 col-sm-3 bg-white shadow-sm mx-auto text-center p-3 mt-3">
              <img src="/img/nuevo/2.jpg" width="40" height="40" class="cliente" alt="..."> <br>
              <img src="/img/nuevo/estrella.svg" class="start sprite" width="20" height="20" alt="...">&nbsp;
              <img src="/img/nuevo/estrella.svg" class="start sprite" width="20" height="20" alt="...">&nbsp;
              <img src="/img/nuevo/estrella.svg" class="start sprite" width="20" height="20" alt="...">&nbsp;
              <img src="/img/nuevo/estrella.svg" class="start sprite" width="20" height="20" alt="...">&nbsp;
              <img src="/img/nuevo/estrella.svg" class="start sprite" width="20" height="20" alt="...">
              <p class="mt-3" style="font-size: 12px;">Me pareció increíble los precios que me dieron, dentro de mis posibilidades.</p>
          </section>
          <section style="border-radius:20px" class="col-11 col-sm-3 bg-white shadow-sm mx-auto text-center p-3 mt-3">
              <img src="/img/nuevo/3.jpg" width="40" height="40" class="cliente" alt="..."> <br>
              <img src="/img/nuevo/estrella.svg" class="start sprite" width="20" height="20" alt="...">&nbsp;
              <img src="/img/nuevo/estrella.svg" class="start sprite" width="20" height="20" alt="...">&nbsp;
              <img src="/img/nuevo/estrella.svg" class="start sprite" width="20" height="20" alt="...">&nbsp;
              <img src="/img/nuevo/estrella.svg" class="start sprite" width="20" height="20" alt="...">&nbsp;
              <img src="/img/nuevo/estrella.svg" class="start sprite" width="20" height="20" alt="...">
              <p class="mt-3" style="font-size: 12px;">Contratar es facilisimo, solo completé el formulario, me llamaron y listo.</p>
          </section>
        </section>
      </div>
    </div>
</template>