<template>
  <div>
    <!-- Contenedor del boton y texto que se muestra en el formulario -->
    <div class="d-flex justify-content-center my-3 align-items-center">
      <!-- Boton de tipo swtich que prende y apaga -->
      <a class="switch" id="switch" @click="switchToggle" :class="{ active: this.switchButton === true }">
        <span></span>
        <span></span>
      </a>
      <!-- Span con el texto que abre el modal -->
      <span class="small text-muted" style="cursor:pointer;" @click="abrirModal">
        &nbsp;Acepto que he leído el Aviso de privacidad
      </span>
    </div>
    <!-- Contenedor principal del modal (fondo negro y dentro el cuadrado del modal) -->
    <div class="main-container-modal" :class="{ active: this.switchModalclass === true }" v-if="this.switchModal">
      <section class="modal-contenido">
        <!-- CONTENEDOR DEL MODAL BLANCO (contenedor que tiene al de contenido) -->
        <div class="cabecera">
          <span class="cerrarModalX text-muted" @click="abrirModal">x</span>
        </div>
        <div style="height:100%;overflow-y:auto;padding:20px 0;">
          <h3 class="my-4 avisotitle text-center">AVISO DE PRIVACIDAD</h3>
          <article>
            <h3 class="avisotitle">Identidad y domicilio del Responsable</h3>

            <p class="avisop">En virtud de lo dispuesto por la Ley Federal de Protección de Datos Personales en Posesión
              de los Particulares (en adelante, la “LFPD”) y resto de disposiciones aplicables, Best Insurance Holding
              S.A. de C.V. (en adelante e indistintamente, “mejorsegurodeauto.mx”), con domicilio para oír y recibir
              notificaciones en Francisco Tamagno 223, Vallejo, 07870 Ciudad de México; le informa de forma expresa:</p>

            <h3 class="avisotitle">1. FINALIDADES DEL TRATAMIENTO DE DATOS PERSONALES</h3>

            <p class="avisop">Los datos personales que recabamos de usted, serán utilizados conforme a lo que establece la
              Ley, tales datos podrán ser obtenidos de manera directa, indirecta o de otras fuentes, mismos datos nos son
              necesarios para proporcionarle los servicios que se deriven o sean accesorios de la misma, y con ello dar
              cumplimiento a las siguientes finalidades:</p>
            <ul class="avisop">
              <li>-Contacto</li>

              <li>-Con fines de identificación y de verificación</li>

              <li>-Promoción de productos financieros, esta información puede ser transferida a instituciones de crédito o
                instituciones financieras:</li>

              <li>-Cobranza en cualquiera de sus fases</li>

              <li>-Ofrecer y prestar servicios de telemercadeo y servicios relacionados,</li>

              <li>-Encuestas,</li>

              <li>-Promocionar y comercializar todo tipo de bienes y servicios</li>

              <li>-Podrá tratar su información para fines publicitarios, promocionales y de investigaciones de mercado,
              </li>

              <li>-Documentar la relación con los Clientes a través de la celebración de contratos y/o convenios
                correspondientes;</li>

              <li>-Inclusión en el catálogo de clientes</li>

              <li>-Intermediación de seguros y de fianzas.</li>

              <li>-Cumplimiento de las obligaciones contenidas en nuestro contrato, convenio o de cualquier relación
                jurídica que establezcamos conforme a la Legislación aplicable vigente.</li>

              <li>-Realizar las gestiones propias y necesarias para el cumplimiento de los servicios.</li>

              <li>-Para intermediar en la evaluación de su solicitud de seguro, cotizar seguros y fianzas, brindarle la
                asesoría necesaria para la contratación de su seguro, en la renovación del mismo y en caso de siniestro;
              </li>

              <li>-Atender cualquier queja, pregunta o comentario.</li>

              <li>-Enviar notificaciones de cambios a este aviso de privacidad.</li>

              <li>-Ubicación de clientes</li>

              <li>-Cobranza en cualquiera de sus fases</li>

              <li>-Ofrecer y prestar servicios de telemercadeo y servicios relacionados</li>

              <li>-Promocionar y comercializar servicios financieros</li>

              <li>-Fines de promoción, promocionales y actualización de producto o servicio</li>

              <p class="avisop">Finalidades Secundarias</p>

              <p class="avisop">No utilizaremos sus datos para finalidades secundarias.</p>
            </ul>

            <h4 class="avisotitle">2. TIPOS DE DATOS</h4>

            <p class="avisop">Para llevara a cabo las finalidades primarias descritas en el presente aviso de privacidad,
              requerimos de los siguientes datos personales:</p>
            <ul class="avisop">
              <li>-Identificación y de contacto.</li>
            </ul>

            <p class="avisop">Además podremos utilizar única y exclusivamente para las finalidades primarias descritas en
              el presente aviso los siguientes datos personales, mismos que son considerados como sensibles, por lo que
              requieren de cuidado y protección especial, los cuales consisten en:</p>
            <ul class="avisop">
              <li>-Datos de salud.</li>
              <li>-Datos de características físicas.</li>
              <li>-Datos patrimoniales y/o financieros.</li>
            </ul>

            <p class="avisop">La información que proporcione el Titular no podrá ser enajenada por terceras personas. Sin
              embargo, y con apego a la Ley podrá ser revelada en los siguientes casos:</p>
            <ul class="avisop">
              <li>A) Cuando el titular de dicha información otorgue su consentimiento de manera expresa.</li>

              <li>B) Cuando la transferencia de información se efectué con terceros para dar cumplimiento a los servicios,
                gestiones u obligaciones pactadas con el Titular.</li>

              <li>C) En los casos que lo exija la Ley, la procuración o administración de justicia.</li>
            </ul>

            <p class="avisop">Asimismo los datos personales pueden ser compartidos dentro del país con prestadores a
              organizaciones del sector asegurador, con motivo de las finalidades primarias para fines de contratación de
              sus pólizas, selección de riesgos, prevención de fraude, ajustadores de seguro, servicios hospitalarios y
              legales para atenderle durante algún siniestro.</p>

            <h4 class="avisotitle">3. OPCIONES Y MEDIOS PARA LIMITAR EL USO O DIVULGACIÓN DE SUS DATOS</h4>

            <p class="avisop">En un plazo de cinco días el titular podrá oponerse al tratamiento y transferencia de sus
              datos cuando este aviso de privacidad no se le da a conocer de manera directa o personal. Para limitar el
              uso y divulgación de su información personal, así como para manifestar su oposición para recibir mensajes
              promocionales de nuestra parte, agradeceremos envíe su solicitud a través de la siguiente dirección:
              derechosarco@trigarante.com</p>

            <h4 class="avisotitle">4.DERECHOS ARCO</h4>
            <ul class="avisop">
              <li>-Acceso: Conocer qué datos personales obtenemos y para qué los utilizamos.</li>

              <li>-Rectificación: Solicitar corrección de información o por estar desactualizada.</li>

              <li>-Cancelación: Consiste en la eliminación de datos de nuestra base de datos, por uso inadecuado.</li>

              <li>-Oposición: Oponerse al uso de sus datos para fines específicos.</li>

              <li>-Estos derechos se conocen como derechos ARCO.</li>
            </ul>

            <h4 class="avisotitle">5. MECANISMOS PARA EL EJERCICIO DE DERECHOS ARCO Y REVOCACIÓN DE CONSENTIMIENTO</h4>

            <p class="avisop">Para proceder al ejercicio de sus derechos ARCO o para la revocación del consentimiento o
              para limitar la transferencia de sus datos, es necesario dirija su solicitud a nuestro Departamento de
              Protección de Datos Personales, ubicado en el domicilio antes indicado, o bien, enviando un correo
              electrónico a: derechosarco@trigarante.com de conformidad con lo siguiente:</p>

            <p class="avisop">Ingresar solicitud por escrito o enviar como se ha dicho la solicitud por correo
              electrónico. La solicitud deberá contener y acompañarse de lo siguiente:</p>
            <ul class="avisop">
              <li>A) Nombre completo del titular de los datos y su domicilio, correo electrónico u otro medio para
                comunicarle la respuesta a su solicitud.</li>

              <li>B) Documentos que acrediten su identidad, Identificación oficial o documento con el que se acredite la
                representación de tu representante legal.</li>

              <li>C) Descripción clara y precisa de la información respecto de la cual se solicite el acceso,
                rectificación, oposición o cancelación, según sea el caso. En caso de solicitudes de rectificación,
                acompañar la documentación que sustente su petición y las modificaciones a realizarse.</li>

              <li>D) Cualquier otro elemento o documento que facilite la localización de sus datos personales.</li>

              <li>-Se dará respuesta a su solicitud en un plazo máximo de 20 días hábiles contados desde la fecha en que
                la recibimos y de resultar procedente conforme a la Ley aplicable, se hará efectiva dentro de los 15 días
                hábiles siguientes a la fecha en que se te comunique la respuesta.</li>

              <li>-Tratándose de solicitudes de acceso a datos personales procederá la entrega mediante cualquier medio
                físico o electrónico, previa acreditación de la identidad del solicitante o representante legal, según
                corresponda, con los documentos originales para su cotejo.</li>

              <li>-Los plazos antes referidos podrán ser ampliados una sola vez, por un periodo igual, siempre y cuando
                así lo justifiquen las circunstancias del caso.</li>

              <li>-La obligación de acceso a su información se dará por cumplida cuando se ponga a su disposición los
                datos personales o bien mediante la entrega de copias, documentos electrónicos u otro soporte, la entrega
                de los datos será gratuita, debiendo el titular cubrir únicamente los gastos justificados de envío o el
                costo de reproducción de copias u otros formatos.</li>

              <li>-En los casos de rectificación o cancelación o se trate de solicitudes de oposición al tratamiento, te
                informaremos la resolución correspondiente debidamente fundada de conformidad con lo establecido por la
                Ley Federal de Protección de Datos en Posesión de los Particulares. Sin embargo, es importante que tengas
                en cuenta que no en todos los casos podremos atender su solicitud o concluir el uso de forma inmediata, ya
                que es posible que por alguna obligación legal necesitemos seguir tratando sus datos personales.</li>
            </ul>

            <p class="avisop">Si desea usar el formulario de solicitud que ponemos a su disposición para facilitar el
              ejercicio de derechos ARCO, puede solicitarlo a través de la siguiente dirección electrónica:
              derechosarco@trigarante.com</p>

            <h4 class="avisotitle">6. MODIFICACIONES</h4>

            <p class="avisop">El presente aviso de privacidad puede ser susceptible de modificaciones, cambios o
              actualizaciones derivadas de la legislación aplicable. Los cambios o actualizaciones a este Aviso de
              privacidad podrán ser consultados, en nuestro sitio de internet https://ahorraseguros.mx/ en el vínculo de
              “aviso de privacidad”.</p>

            <h4 class="avisotitle">7. COOKIES</h4>

            <p class="avisop">La cookie es una breve información que el portal de Internet utiliza y envía a tu PC, la
              cual queda almacenada en el disco duro, para que la próxima vez que ingreses a nuestro portal, podamos usar
              la información almacenada en la cookie para facilitarte el uso a nuestro sitio de internet. Cabe mencionar
              que las mismas pueden ser eliminadas en el momento que lo desee siguiendo las instrucciones que se
              proporcionan a través de su navegador de internet.</p>

            <h4 class="avisotitle">8. CONSENTIMIENTO PARA EL TRATAMIENTO DE SUS DATOS PERSONALES</h4>

            <p class="avisop">En caso de que el titular no manifieste la oposición al tratamiento de sus datos personales,
              se entenderá que el mismo consiente tácitamente el tratamiento de su información personal en los términos
              indicados en el Aviso de Privacidad.</p>

            <h4 class="avisotitle">9. mejorsegurodeauto.mx LE RECUERDA:</h4>

            <p class="avisop">Los depósitos bancarios se realizan exclusivamente en cuentas a nombre de las compañías de
              seguros y nunca a nombre de particulares.</p>

            <p class="avisop">Para mayor información puedes acudir a nuestro domicilio, comunicarse al 52810870 extensión
              805; enviarnos correo electrónico a: correo electrónico a:derechosarco@trigarante.com, o consultar nuestra
              página web, haciendo click en el derechosarco@trigarante.com, o consultar nuestra página web, haciendo click
              en el vínculo de “aviso de privacidad”</p>
          </article>
          <br><br><br>
        </div>
        <div class="footer">
          <a class="boton-footer" @click="abrirModal">Aceptar</a>
        </div>
      </section>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      switchButton: true,
      switchModal: false,
      switchModalclass: false
    };
  },
  methods: {
    switchToggle() {
      this.switchButton = !this.switchButton;
    },
    abrirModal() {
      this.switchModal = !this.switchModal;
      setTimeout(() => {
        this.switchModalclass = !this.switchModalclass;
      }, 10);
    }
  }
};
</script>
<style scoped>
.cerrarModalX {
  font-size: 1.5rem;
  margin-right: 11px;
  cursor: pointer;
  margin-top: 1px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 15px;
  margin-left: 100px;
}

::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar:horizontal {
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #e3e3e3;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  margin-left: 10px;
}

.main-container-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.active {
  visibility: visible;
  opacity: 1;
}

.modal-contenido {
  width: 80%;
  background: white;
  height: 80vh;
  border-radius: 0;
  position: relative;
  padding: 5px 30px;
}

.cabecera {
  display: flex;
  justify-content: flex-end;
  top: 0;
  left: 0px;
  border-radius: 0;
  /* box-shadow: 0px 0px 20px 2px rgb(0 0 0 / 10%); */
  background: white;
  width: 100%;
  position: absolute;
}

.footer {
  /* height: 15%; */
  display: flex;
  justify-content: flex-end;
  bottom: 0;
  left: 0px;
  border-radius: 0;
  box-shadow: -2px 0px 20px 2px rgb(0 0 0 / 10%);
  background: white;
  width: 100%;
  position: absolute;
}

.boton-footer {
  height: max-content;
  padding: 10px;
  cursor: pointer;
  /* background: white; */
  background: #00a840;
  outline: 1px solid #00a840;
  margin: 10px 10px;
  border-radius: 5px;
}

.boton-footer:hover {
  color: white;
  background: #273abe;
}

.switch {
  width: 30px;
  height: 15px !important;
  background: #b1b1b1;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}

.switch::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  background: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: right 3s linear;
}

.switch.active {
  background: #273abe;
  color: #000;
}

.switch.active::after {
  right: 0;
  left: unset;
}

.switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #fff;
}

li {
  text-align: left;
}

@media (max-width: 720px) {
  .modal-contenido {
    padding: 10px 4px 10px 20px !important;
  }

  /* .footer {
    height: 12%;
  } */
  .cabecera {
    height: 7%;
  }
}</style>
