<template>
  <div v-show="!this.showBottonAutoBack == 1">
    <a class="botonTop" href="#Top">
      <img src="/img/nuevo/flecha-q.svg" alt="Top" width="20" height="20" class="flearriba"> 
      
      <span> Ir Arriba</span>
    </a> 
  </div>
</template>
<script>
export default {
  data() {
    return {
      showBottonAutoBack: 1
    };
  },
  mounted: function() {
    window.addEventListener("scroll", () => {
      var scrollPos = window.scrollY;
      var winHeight = window.innerHeight;
      var docHeight = document.documentElement.scrollHeight;
      var perc = (100 * scrollPos) / (docHeight - winHeight);
      if (perc > 20) {
        this.showBottonAutoBack = 0;
      } else {
        this.showBottonAutoBack = 1;
      }
    });
  }
};
</script>
<style scoped>
.botonTop {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 5px;
  z-index: 1;
}
/* .botonTop img {
  width: 20px;
  transform: rotate(-90deg);
} */
.botonTop span{
  color: #ffffff;
}
.imgChevron {
    transform: rotate(-90deg);
}
</style>