<template>
  <div>
  <promo/>
    <div class="container-fluid" style="background: #f3f3f3">
      <Header></Header>
      <div class="row mt-md-3">
        <div class="container container-leo">
          <div class="row">
            <div class="col-3 d-none d-md-block">
              <section class="bg px-3">
                <div class="text-center py-md-3">
                  <img
                    src="/img/nuevo/logomejorblanco.svg"
                    alt="logo"
                    width="150"
                    height="150"
                    class="img-fluid"
                  />
                </div>
                <div class="my-4 py-2">
                  <ul class="listben">
                    <li class="text-white">
                      <img
                        src="/img/nuevo/check.svg"
                        alt="check"
                        width="17"
                        height="17"
                        class="img-fluid"
                      />
                      <p class="mb-0 mx-2">Atención inmediata en siniestros</p>
                    </li>
                    <li class="text-white">
                      <img
                        src="/img/nuevo/check.svg"
                        alt="check"
                        width="17"
                        height="17"
                        class="img-fluid"
                      />
                      <p class="mb-0 mx-2">
                        Atención Vial: envío de grúa, gasolina y más
                      </p>
                    </li>
                    <li class="text-white">
                      <img
                        src="/img/nuevo/check.svg"
                        alt="check"
                        width="17"
                        height="17"
                        class="img-fluid"
                      />
                      <p class="mb-0 mx-2">Cobertura contra robo y más</p>
                    </li>
                  </ul>
                </div>
                <div class="text-center base">
                  <img
                    v-if="this.$store.state.config.promoSpecial"
                    :src="this.$store.state.config.promoImg"
                    alt="carro"
                    width="60"
                    height="60"
                    class="logprom img-fluid"
                  />
                  <img
                    src="/img/nuevo/auto.png"
                    alt="carro"
                    width="200"
                    height="200"
                    class="img-fluid"
                  />
                </div>
              </section>
            </div>
            <div
              class="col-12 col-sm-12 col-md-9 col-lg-9 pt-4 pt-md-3 pt-lg-3 px-md-3 px-lg-5 bg-white text-center tar-card"
            >
              <div class="row">
                <div class="col-4 d-md-none">
                  <img
                    src="/img/nuevo/logomejor.svg"
                    alt="logo"
                    width="120"
                    height="120"
                    class="img-fluid"
                  />
                </div>
                <div class="col-8 col-md-12 text-center">
                  <h1>
                    <img
                      v-if="this.$store.state.config.promoSpecial"
                      :src="this.$store.state.config.promoImg"
                      alt="carro"
                      width="80"
                      height="48"
                      class="logprom img-fluid d-block d-md-none"
                    />
                    Seguros de Autos en 60 Segundos
                  </h1>
                  <div class="mb-0 descuento">
                    <span>
                      {{ this.$store.state.config.promoLabel }}
                    </span>
                    <span>
                      {{ this.$store.state.config.funnelDto }}
                    </span>
                    <span>
                      {{ this.$store.state.config.funnelMsi }}
                      {{ this.$store.state.config.extraMsg }}
                    </span>
                  </div>
                  <!--<p> {{this.$store.state.config.extraMsg}} </p>-->
                </div>
              </div>

              <formulario :config="this.$store.state.config" />
            </div>

            <div class="col-12 col-md-9 offset-md-3 mt-3 mb-1">
              <div class="row">
                <div class="col-6">
                  <img
                    src="/img/nuevo/tarjetas.svg"
                    alt="tarjetas"
                    width="150"
                    height="50"
                    class="img-fluid tarjetas"
                  />
                </div>

                <div class="col-6 px-2 px-md-3">
                  <p class="mb-0 tcandado">
                    <img
                      src="/img/nuevo/candado.svg"
                      alt="candado"
                      width="20"
                      height="20"
                      class="img-fluid imgcan"
                    />
                    Tu información está segura
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <beneficios />

    <!--CONTENIDO-->
    <div class="container-fluid bgCont">
      <div class="row">
        <div class="col-12 px-xl-5">
          <div class="cont">
            <h2>Compara los mejores seguros de autos</h2>
            <p>
              Los seguros para autos no son un gasto familiar y tampoco una
              protección que se puede dejar de adquirir, se trata de una
              inversión que protege tu patrimonio y también la integridad física
              de tus seres queridos.
            </p>
            <p>
              En El Mejor Seguro de Auto también nos preocupamos por la
              seguridad de tu familia, por eso te ayudamos a que asegures tu
              vehículo de forma rápida y sencilla, desde nuestro sitio web para
              que además sea un proceso cómodo.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 px-xl-5">
          <div class="cont">
            <!-- & -->
            <h2>¿Por qué necesitas contratar un seguro de auto?</h2>
            <p>
              La seguridad al viajar por carretera es un punto que puedes tener
              cubierto si te acercas a los expertos para contratar un seguro de
              automóvil, pues por medio de una empresa con experiencia en el
              sector, como El Mejor Seguro de Auto, te estarás protegiendo de
              cualquier eventualidad.
            </p>
            <p>
              Somos un bróker de seguros online donde puedes comparar las
              mejores coberturas que hay en el mercado, para que tengas un
              abanico más amplio de posibilidades, tomando en cuenta precios y
              beneficios que recopilamos y te mostramos en un solo clic.
            </p>
            <p>
              Nuestro objetivo es que por medio de nosotros encuentres solamente
              las mejores opciones y con los precios más accesibles del mercado,
              para que el seguro de automóvil que contrates sea el indicado para
              satisfacer tus necesidades.
            </p>
            <p>
              Es necesario que hagas una inversión inteligente para que el
              seguro que elijas, te brinde la seguridad que tú y tu familia
              necesitan, y que además te ofrezca un respaldo económico que
              mantenga tus finanzas estables en caso de un accidente.
            </p>
            <p>
              En El Mejor Seguro de Auto sabemos que te gusta manejar tranquilo
              y lo haces con responsabilidad; sin embargo, los siniestros no
              siempre se pueden evitar y desafortunadamente nadie está exento de
              sufrir un accidente.
            </p>
            <p>
              Por eso es indispensable que tengas un seguro de auto, para que
              estés respaldado en caso de que llegues a estar presente en un
              siniestro vial, no importa que tan pequeño o aparatoso sea, con la
              cobertura adecuada puedes superar favorablemente este tipo de
              problemas.
            </p>
            <p>
              Además, la protección al viajar en carretera ya no es una opción
              que puedes tomar o no, ahora es una obligación que todos los
              conductores deben de cumplir y eso influye en la búsqueda de los
              mejores seguros de autos.
            </p>
            <!-- & -->
            <h3>¿Es obligatorio tener un seguro para tu automóvil?</h3>
            <p>
              Desde que comenzó el 2019 todos los automovilistas deben de
              circular por las vías, caminos y puentes de México con un seguro
              que los proteja a ellos y que también garantice la reparación del
              daño que se llegue a provocar en terceras personas.
            </p>
            <p>
              Los seguros para autos que te mostramos en nuestro comparador te
              permiten cumplir con las leyes que establecieron las autoridades,
              las cuales están relacionadas con la seguridad que se busca para
              todos los conductores que deciden circular por las carreteras del
              país.
            </p>
            <p>
              El modelo, año y valor de la factura de los autos ya no es un
              motivo de exclusión para adquirir un seguro, ahora todos están
              obligados a tenerlo o de lo contrario, podrías recibir una multa
              por parte de las autoridades.
            </p>
            <p>
              Con estas obligaciones en mente, El Mejor Seguro de Auto quiere
              ofrecerte las opciones más idóneas que te permitan asegurar tu
              patrimonio de una forma sencilla y eficiente, por lo que sólo
              necesitas invertir 60 segundos de tu tiempo para conocer cuáles
              son las coberturas que actualmente hay en el mercado.
            </p>
            <p>
              Tener un seguro de auto es una forma que como ciudadano tienes de
              cumplir con las leyes, además también se convierte en el respaldo
              físico y económico que tu familia necesita para no poner en riesgo
              su futuro.
            </p>
            <p>
              Lo que buscaron las autoridades con la obligatoriedad de los
              seguros de autos es que los conductores que provoquen un
              accidente, puedan responder moral y económicamente por los daños
              que causen en los bienes y la integridad física de otras personas.
            </p>
            <p>
              Por eso, en El Mejor Seguro de Auto te informamos que la cobertura
              mínima con la que debes de contar es la de Responsabilidad Civil,
              misma que se incluye en nuestro comparador, donde también tienes
              la opción de cotizar otro tipo de protecciones.
            </p>
            <!-- & -->
            <h3>
              ¿Cuáles son las diferentes coberturas de los seguros para autos?
            </h3>
            <p>
              En el mercado asegurador de México hay diferentes seguros de autos
              que sirven como un excelente respaldo para tu patrimonio, los
              cuales puedes encontrar de manera sencilla cuando entras a nuestro
              sitio web y comparar todas estas opciones.
            </p>
            <p>
              En nuestro comparador puedes encontrar las tres coberturas
              generales con las que prácticamente todas las compañías
              aseguradoras cuenta.
            </p>
            <ul>
              <li>
                <div
                  :class="'imgCheckSize imgCheck' + $store.state.config.img"
                ></div>
                &nbsp; <strong>Responsabilidad civil</strong>: Este seguro,
                también llamado de daños a terceros, permite a los
                automovilistas cubrir los daños que causen por un accidente ya
                sea en el vehículo o en la integridad física de otras personas.
                Es la cobertura mínima que solicitan las autoridades, quienes
                establecieron que los conductores deben de cubrir con un mínimo
                de 50,000 pesos los daños en bienes materiales y con 100,000 las
                lesiones físicas o fallecimiento.
              </li>
              <li>
                <div
                  :class="'imgCheckSize imgCheck' + $store.state.config.img"
                ></div>
                &nbsp; <strong>Cobertura Limitada</strong>: Se trata de un tipo
                de póliza en los seguros de autos que contiene los servicios
                básicos de la Responsabilidad civil, más la protección en caso
                del robo del vehículo. Dependiendo de lo que cada aseguradora
                establezca, también puede respaldar por otros motivos, como los
                gastos médicos para los ocupantes del auto que resulte afectado
                después de un siniestro.
              </li>
              <li>
                <div
                  :class="'imgCheckSize imgCheck' + $store.state.config.img"
                ></div>
                &nbsp; <strong>Cobertura Amplia</strong>: Es una protección que
                brinda los beneficios de la Responsabilidad civil y de la
                cobertura Limitada, además de otros respaldos que pueden incluir
                la protección legal y la asistencia vial, pero depende de cada
                compañía este tipo de detalles.
              </li>
            </ul>
            <p>
              Todas estas coberturas las puedes encontrar en el comparador de El
              Mejor Seguro de Auto, donde te mostramos los beneficios de los
              paquetes que manejan las aseguradoras así como los precios de cada
              uno de ellos.
            </p>
            <p>
              Al visitar nuestro sitio vas a poder cotizar el mejor seguro de
              automóvil para ti, aquel que cumpla con las necesidades de
              protección y precio que más se adapten al estilo de vida de tu
              familia y por supuesto, a tu presupuesto.
            </p>
            <p>
              Para ofrecerte el seguro de auto que más te convenga, en nuestro
              cotizador solamente vas a encontrar a las compañías aseguradoras
              más prestigiosas del país, tanto las que son de origen mexicano
              como las que se fundaron en el extranjero pero cuentan con planes
              pensados para los automovilistas nacionales.
            </p>
            <!-- & -->
            <h3>
              ¿Con qué aseguradoras trabajamos en El Mejor Seguro de Auto?
            </h3>
            <p>
              El interés que tenemos en El Mejor Seguro de Auto por llevarte
              solamente las mejores coberturas, se ve reflejado en las más de 20
              aseguradoras que integran nuestro comparador en línea, al cual
              puedes ingresar de manera rápida y sencilla.
            </p>
            <p>
              Encontrar los seguros para autos que mejor se adecúen a tu estilo
              de vida ya no es algo complicado, pues al entrar a nuestro
              comparador te vamos a mostrar solamente los productos que ofrecen
              compañías reconocidas.
            </p>
            <p>
              Las coberturas de aseguradoras como AXA, Quálitas, GNP, Sura, AIG,
              Zurich, Mapfre, ABA, HDI, Multiva y El Aguila, puedes cotizarlas
              con nosotros y en tan solo 60 segundos vas a poder elegir la más
              apropiada para ti.
            </p>
            <p>
              Seguros El Potosí, La Latino, Seguros Atlas y ANA, son otras
              compañías que trabajan de la mano con nosotros, pues también
              buscan que cada vez sean más los mexicanos que circulan por las
              carreteras con un respaldo eficaz y oportuno.
            </p>
            <p>
              Trabajamos con más de 20 compañías porque de este modo podemos
              hacer posible que tengas un panorama de precios más completo, para
              que no tengas que preocuparte por hacer una inversión que se salga
              de tus manos y ponga en riesgo las finanzas de tu familia.
            </p>
            <p>
              Al utilizar el comparador de seguros de autos que ponemos a tu
              disposición, no sólo te proporcionamos una comparativa de
              coberturas, desde la más básica hasta la más completa, también te
              damos un mapa de precios para que hagas una evaluación basada en
              tus posibilidades de pago.
            </p>
            <p>
              Queremos que el seguro de automóvil que elijas, te haga sentir
              seguro de haber tomado la decisión correcta y también te
              proporcione la confianza de que tu familia va a estar protegida
              cada vez que se trasladan por las carreteras del país.
            </p>
            <!-- & -->
            <h3>¿Cómo funciona nuestro comparador de seguros para autos?</h3>
            <p>
              Como lo hemos mencionado, El Mejor Seguro de Auto funciona como un
              cotizador que te permite asegurar tu auto de manera rápida y
              segura, todo desde la comodidad de tu casa porque solamente
              necesitas una computadora o un dispositivo móvil para ingresar a
              nuestro sitio.
            </p>
            <p>
              En un tiempo aproximado de 60 segundos te mostramos las coberturas
              que hay en cuanto a seguro de auto, para que puedas compararlas
              todas en una sola página y reconozcas fácilmente cuál es la que
              más te conviene.
            </p>
            <p>
              Para que encuentres tu seguro de automóvil sin necesidad de seguir
              pasos complicados, con nosotros sólo debes de proporcionar datos
              básicos del vehículo, como marca, modelo y una breve descripción
              del mismo.
            </p>
            <p>
              Además, queremos que todo el trámite sea lo más sencillo posible
              por eso te solicitamos un número telefónico y un correo
              electrónico para ponernos en contacto contigo, después de que
              hayas cotizado de forma gratuita la mejor protección para tu
              patrimonio.
            </p>
            <p>
              En el momento que usas nuestro cotizador también debes de
              proporcionar tu edad, tu género y el código postal de tu
              domicilio, pues son datos que las aseguradoras toman en cuenta a
              la hora de fijar los precios para los seguros de autos.
            </p>
            <p>
              Una vez que te mostramos la comparación de las distintas
              coberturas, sus beneficios y los precios, tú puedes analizar con
              calma cada una de ellas, teniendo siempre en mente el uso que le
              das a tu auto, pues no es lo mismo la protección para un auto
              equipado con sistemas de audio que uno destinado a los servicios
              de transporte privado.
            </p>
            <p>
              Al usar el comparador de El Mejor Seguro de Auto también debes
              tener siempre en mente el presupuesto que vas a destinar al seguro
              de automóvil, para que hagas una elección inteligente que esté
              dentro de tu rango de gastos y no rebases ese límite.
            </p>
            <!-- & -->
            <h3>
              ¿Cuáles son las ventajas de usar un comparador de seguros de
              autos?
            </h3>
            <p>
              La comodidad y la practicidad son dos atributos que caracterizan
              al comparador de El Mejor Seguro de Auto, pero existen otros
              beneficios que nuestros usuarios encuentran con nosotros.
            </p>
            <p>
              Uno de ellos es que al cotizar un seguro de auto en nuestro sitio
              el mejorsegurodeauto.mx, obtienes el panorama general de
              coberturas y precios que manejan las más de 20 aseguradoras que
              están en nuestra base.
            </p>
            <p>
              Con esto, puedes evitar las visitas a cada una de las sucursales
              de las compañías aseguradoras, ahorrando no sólo tiempo, también
              el dinero que te costaría trasladarte de un punto a otro de la
              ciudad.
            </p>
            <p>
              Con nosotros puedes cotizar gratis y en 60 segundos te mostramos
              el panorama general de coberturas, para que incluso puedas obtener
              tu póliza en el mismo día que haces la cotización, una gran
              ventaja que solamente obtienes en El Mejor Seguro de Auto.
            </p>
            <p>
              La búsqueda de seguros de autos ya no tiene que ser algo
              complicado, la tecnología ha hecho posible que al alcance de un
              clic encuentres la protección más adecuada para tu vehículo y para
              tu familia.
            </p>
            <p>
              Además, al cotizar seguros para autos también puedes tener el
              beneficio de estar cumpliendo con la ley, es decir, que evitarás
              ser sancionado por no contar con una cobertura tal y como lo piden
              las autoridades.
            </p>
            <p>
              En todo momento, El Mejor Seguro de Auto pone a tu disposición el
              apoyo de nuestros agentes telefónicos, quienes cuentan las
              capacidades necesarias para guiarte oportunamente en el proceso de
              adquirir tu póliza.
            </p>
            <p>
              No olvides que una de nuestras mayores preocupaciones es tu
              economía, por eso cotizar con nosotros es algo totalmente gratuito
              y además, te ofrecemos la opción de pagar a 6 0 12 meses.
            </p>
            <p>
              Buscar seguros de autos y encontrar el mejor para ti, ya no es
              algo complicado y que pueda llevarte días, al entrar a nuestra
              página solo vas a invertir 60 segundos y después de ese tiempo,
              tendrás la posibilidad de adquirir la póliza más adecuada para tu
              familia.
            </p>
            <!-- & -->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "~/components/common/header-principal.vue";
import beneficios from "~/components/common/beneficios.vue";
import formulario from "~/components/forms/autosForm.vue";
import promo from "~/components/common/fichadescuentofunnel.vue";
import telefonoService from "~/plugins/telefonoService.js";

export default {
  beforeCreate() {
    this.$store.state.config.aseguradora = "QUALITAS";
    this.$store.state.config.catalogo_directo = true;
    this.$store.state.isGlobal = true;
    this.$store.state.config.cotizacion = false;
    this.$store.state.config.emision = true;
    this.$store.state.config.grupoCallback = "VN COMPARADOR M";
    this.$store.state.config.from = "DOMINIO-GNP";
    this.$store.state.config.urlRedireccion = "/seguros-de-autos";
    this.$store.state.config.idPagina = 54;
    this.$store.state.config.idMedioDifusion = 1299;
    this.$store.state.config.idSubRamo = 50;
    this.$store.state.config.dominioCorreo =
      "QUALITAS|mejorsegurodeauto-mx-qualitas";
    this.$store.state.config.textoSMS =
      "Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.";
    // this.$store.state.config.idCampana = 70;
    this.$store.state.config.asgNombre = "Mejor Seguro de Auto";
    this.$store.state.config.telefonoAS = "47440410";
    this.$store.state.config.h1 = "Seguros de Autos en 60 segundos";
    this.$store.state.config.k1 = "Seguros de Autos";
    this.$store.state.config.k2 = "Seguro de Auto";
    this.$store.state.config.k3 = "Seguros para Autos";
    this.$store.state.config.k4 = "Seguro de Automóvil";
    this.$store.state.config.k5 = "Seguros de Autos";
    this.$store.state.config.k6 = "Seguro de Auto";
    this.$store.state.config.k7 = "Seguros para Autos";
  },
  components: {
    Header,
    beneficios,
    promo,
    formulario,
  },
  head() {
    return {
      title:
        "Seguros de Autos al Mejor Precio - Cotiza el Mejor Seguro de Auto ®",
      meta: [
        {
          hid: "keywords",
          name: "keywords",
          content:
            "Seguros de Autos, Seguro de Auto, Seguros para Autos, Seguro de Automóvil",
        },
        {
          hid: "description",
          name: "description",
          content:
            "¡Cotiza Seguros de Autos en tan solo 60 Segundos! Compara coberturas y precios con más de 20 Aseguradoras. ¡Encuentra el Mejor Seguro para Autos en México!",
        },
        { hid: "author", name: "author", content: "twitter | @vargasdesignMx" },
        {
          hid: "sitemap",
          rel: "sitemap",
          type: "application/xml",
          title: "sitemap",
          href: "sitemap.xml",
        },
        {
          hid: "canonical",
          rel: "canonical",
          href: "https://mejorsegurodeauto.mx/seguros-de-autos/",
        },
        { hid: "robots", name: "robots", content: "index,follow" },
      ],
    };
  },
};
</script>
<style>
.imgLogoAsg {
  width: 118px;
}

h1,
.tuPatita p,
h2,
h3,
h4,
h5 {
  color: #044a94;
}
.bg {
  background-color: #044a94;
  border-radius: 5px;
  height: 100%;
}
.addCont p {
  color: #044a94;
  border-bottom: 2px solid #044a94;
}
.addCont span,
.tabla thead th,
.botonTop,
.alertaColor {
  background: #044a94;
}
.imgMsdaSize {
  background-position: -220px -11px;
}
.imgTelSize {
  background-position: -343px -10px;
}
.imgMulta {
  background-position: -404px -10px;
}
.imgReloj {
  background-position: -457px -11px;
}
.imgChevron {
  background-position: -280px -7px;
}
.imgTrailerSize {
  background-position: -469px 0;
}
.imgBochoSize {
  background-position: -506px 8px;
}
.imgTarjetaSize {
  background-position: -673px 0;
}
.imgCheckSize {
  background-position: -774px -6px;
}
.imgSuv {
  background-position: -755px 4px;
}
.imgLupa {
  background-position: -905px -5px;
}
.imgEscudo {
  background-position: -983px -6px;
}
.imgMsdaBlanco {
  background-position: -796px 0;
}
.imgEstrellaSize {
  background-position: -956px -10px;
}
.imgLogoSize {
  background-position: -131px -34px;
  background-size: 1600px;
}
@media (min-width: 1024px) and (max-width: 1199px) {
}
@media (min-width: 768px) and (max-width: 1024px) {
}
@media (min-width: 426px) and (max-width: 767px) {
  .bg {
    background: #044a94;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .bg {
    background: #044a94;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .bg {
    background: #044a94;
  }
}
@media (min-width: 280px) and (max-width: 320px) {
  .bg {
    background: #044a94;
  }
}
</style>
