<template>
  <div>
  <promo/>
    <div class="container-fluid" style="background: #f3f3f3">
      <Header></Header>
      <div class="row mt-md-3">
        <div class="container container-leo">
          <div class="row">
            <div class="col-3 d-none d-md-block">
              <section class="bg px-3">
                <div class="text-center py-md-3">
                  <img
                    src="/img/nuevo/logomejorblanco.svg"
                    alt="logo"
                    width="150"
                    height="150"
                    class="img-fluid"
                  />
                </div>
                <div class="my-4 py-2">
                  <ul class="listben">
                    <li class="text-white">
                      <img
                        src="/img/nuevo/check.svg"
                        alt="check"
                        width="17"
                        height="17"
                        class="img-fluid"
                      />
                      <p class="mb-0 mx-2">Atención inmediata en siniestros</p>
                    </li>
                    <li class="text-white">
                      <img
                        src="/img/nuevo/check.svg"
                        alt="check"
                        width="17"
                        height="17"
                        class="img-fluid"
                      />
                      <p class="mb-0 mx-2">
                        Atención Vial: envío de grúa, gasolina y más
                      </p>
                    </li>
                    <li class="text-white">
                      <img
                        src="/img/nuevo/check.svg"
                        alt="check"
                        width="17"
                        height="17"
                        class="img-fluid"
                      />
                      <p class="mb-0 mx-2">Cobertura contra robo y más</p>
                    </li>
                  </ul>
                </div>
                <div class="text-center base">
                  <img
                    v-if="this.$store.state.config.promoSpecial"
                    :src="this.$store.state.config.promoImg"
                    alt="carro"
                    width="60"
                    height="60"
                    class="logprom img-fluid"
                  />
                  <img
                    src="/img/nuevo/auto.png"
                    alt="carro"
                    width="200"
                    height="200"
                    class="img-fluid"
                  />
                </div>
              </section>
            </div>
            <div
              class="col-12 col-sm-12 col-md-9 col-lg-9 pt-4 pt-md-3 pt-lg-3 px-md-3 px-lg-5 bg-white text-center tar-card"
            >
              <div class="row">
                <div class="col-4 d-md-none">
                  <img
                    src="/img/nuevo/logomejor.svg"
                    alt="logo"
                    width="120"
                    height="120"
                    class="img-fluid logasg"
                  />
                </div>
                <div class="col-8 col-md-12 text-center tituloh1">
                  <h1>
                    <img
                      v-if="this.$store.state.config.promoSpecial"
                      :src="this.$store.state.config.promoImg"
                      alt="carro"
                      width="50"
                      height="30"
                      class="logprom img-fluid d-block d-md-none"
                    />
                    Comparador de Seguros de Autos
                  </h1>
                  <div class="mb-0 descuento">
                    <span>
                      {{ this.$store.state.config.promoLabel }}
                    </span>
                    <span>
                      {{ this.$store.state.config.funnelDto }}
                    </span>
                    <span>
                      {{ this.$store.state.config.funnelMsi }}
                      {{ this.$store.state.config.extraMsg }}
                    </span>
                  </div>
                  <!--<p> {{this.$store.state.config.extraMsg}} </p>-->
                </div>
              </div>
		          <fichamovil/>
              <formulario :config="this.$store.state.config" />
            </div>

            <div class="col-12 col-md-9 offset-md-3 mt-3 mb-1">
              <div class="row">
                <div class="col-6">
                  <img
                    src="/img/nuevo/tarjetas.svg"
                    alt="tarjetas"
                    width="150"
                    height="50"
                    class="img-fluid tarjetas"
                  />
                </div>

                <div class="col-6 px-2 px-md-3">
                  <p class="mb-0 tcandado">
                    <img
                      src="/img/nuevo/candado.svg"
                      alt="candado"
                      width="20"
                      height="20"
                      class="img-fluid imgcan"
                    />
                    Tu información está segura
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <beneficios />

    <!--CONTENIDO-->
    <div class="container-fluid bgCont">
      <div class="row">
        <div class="col-12 px-xl-5">
          <div class="cont">
            <div class="tri"></div>
            <h2>Ventajas de los comparadores de seguros de seguros de autos</h2>
            <p>
              La principal, ventaja de los comparadores es que estos te
              benefician, en la búsqueda de un seguro, los comparadores de
              seguros son rápidos y por lo general muy fáciles de utilizar, en
              pocos segundos puedes ver los precios del seguro de auto o de lo
              que necesites con las diferentes compañías aseguradoras. El poder
              ahorrar tiempo, dinero y esfuerzo, frente a tener que pedir
              presupuesto en cada aseguradora es una de las ventajas más
              completas.
            </p>
            <p>
              Todas las búsquedas se hacen con tus datos básico, podrás sentirte
              tranquilo, pues tu información está protegida y no es necesario
              que se queden tus datos en cada una de las compañías aseguradoras
              con las que decidan cotizar; el ahorro de tiempo frente a tener
              que pedir presupuesto en cada aseguradora es enorme.
            </p>
            <p>
              Los seguros están en una misma parrilla y bajo un mismo formato es
              la forma más fácil, con la que puedes comprobar que las
              coberturas, esto te ofrece cada uno de ellos; con un comparador de
              seguros pueden distinguir varios seguros divididos según el tipo y
              ordenados, por lo general en el precio, esto se convierte en tu
              propia comparativa para que puedas elegir un seguro determinado.
            </p>
            <p>
              Estar conciente de lo que uno necesite en un seguro es el primer
              paso para poder hacer la búsqueda del mismo, con ello es que un
              comparador de seguro, se convierte en la mejor alternativa, pues
              te permitirá conocer qué es lo que cada compañía ofrece y cubre tu
              bienestar y el de tu patrimonio que deseas cuidar.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 px-xl-5">
          <div class="cont">
            <!-- & -->
            <h2>
              ¿Por qué es importante utilizar un comparador de seguros de autos?
            </h2>
            <p>
              En el mejor seguro de auto, deseamos poder ser el comparador de tu
              preferencia por ello es que trabajamos día a día; antes de que
              desees contratar un seguro por primera vez o de renovar la misma
              póliza, es necesario que puedas comparar o de encontrar la
              alternativa que mejor se adapte a tus necesidades y del
              presupuesto. Los comparadores de seguros de autos son los aliados
              ideales para la búsqueda, solicitud y el proceso completo, conoce
              como sacarle el mejor provecho a tu nuevo seguro.
            </p>
            <p>
              El precio es uno de los principales aspectos que puedes evaluar
              con un comparador de seguros de autos, esto a la hora de que
              decidas contratar, sin embargo, no debería ser único, ya que las
              compañías aseguradoras incluyen en las pólizas, de los diferentes
              tipos de coberturas para diferenciar de las compañías.
            </p>
            <p>
              El factor, primordial es encontrar el seguro de auto ideal, en
              cada situación está en comparar de manera detallada en los
              aspectos que ofrece, pueden ir desde los servicios incluidos,
              pasando por las facilidades de pago, hasta el costo del pago de la
              prima anual.
            </p>
            <p>
              Todos sabemos, que en el mercado asegurador hay muchas compañías
              de seguros y cada una intenta diferenciar en la oferta del resto,
              lo primero que debes hacer es poder detenerte un momento a pensar
              cuáles son las coberturas mínimas que deseas contratar, y sobre
              todo en la función de ello, además de hacer una comparación
              exhaustiva de las alternativas existentes hasta encontrar cuáles
              son las ofertas que más se adaptan a lo que estás buscando.
            </p>
            <p>
              Es muy importante que consideres la variedad de las ofertas de
              seguro de auto en el mercado, para que puedas encontrar la idea de
              lo que necesitas, puedes considerar ahorrar tiempo, pues la manera
              tradicional con la que se contrata un seguro de auto, era visitar
              cada una de las oficinas de las compañías aseguradoras, así como
              de la necesidad de poder concretar citas para que te brinden
              atención y de la oferta de sus servicios.
            </p>
            <p>
              Una vez estando en las oficinas aseguradoras, es necesario que con
              la información que hayas recopilado de manera detallada, te
              sientes y compares su oferta y cobertura, además que se supone
              esta actividad puede representar ser un proceso muy largo,
              inclusive que lleve varias semanas, pues explicamos las diferentes
              modalidades de seguros que ofrecen y luego que se pueda comparar
              la información que se te haya proporcionado.
            </p>
            <p>
              Una buena noticia es que con un comparador de seguros de autos, no
              es necesario hacer la comparativa con cada compañía, en la
              actualidad y gracias al internet, podemos contar con las
              herramientas que nos facilitan en la búsqueda, además de poder
              filtrar las ofertas de seguros de auto, para que podamos encontrar
              la cobertura que mejor se adapte a nuestras necesidades, además de
              concretar de forma segura y eficaz nuestro proceso de
              contratación, se puede encontrar en un comparador de seguros que
              el auto tiene su base de datos las ofertas de casi cada una de las
              compañías de seguro, de manera ordenadas en función de una serie
              de parámetros que le hacen de forma práctica, para la búsqueda de
              información específica.
            </p>
            <!-- & -->
            <h3>¿Cómo funciona un Comparador de Seguros?</h3>
            <p>
              Un Comparador de Seguros de autos en nuestro país te ofrece la
              seguridad de poder calcular con diferentes alternativas el seguro
              que estás por contratar, dentro de los factores que puedes
              contratar encontramos el precio estimado que cada compañía
              aseguradora ofrece, así como las coberturas que maneja cada
              empresa, e inclusive los requisitos para su pronta y efectiva
              contratación.
            </p>
            <p>
              Con un comparador de seguros de autos como El Mejor Seguro de
              Auto, funciona conforme a los diferentes puntos clave, de los
              cuáles estos te permiten determinar la prima, esto es precisamente
              con todas y cada una de las compañías aseguradoras con las que
              trabajamos como comparador, si bien las empresas aseguradoras
              cuentan con diferentes o determinadas tarifas que puedes obtener
              con nosotros, este es un factor importante que puede influir en
              gran medida para que en el momento de que te dispongas a calcular
              el costo final de una póliza, ya que por obvias razones, el precio
              será distinto en cada una de estas opciones.
            </p>
            <p>
              Con un comparador de seguros, puedes observar la manera en la que
              funciona, conforme a sus pasos, necesitas completar un pequeño
              formulario en donde se te solicitará como mínimo los datos básicos
              y que van en relación directa con el tipo de seguro que estás por
              contratar, dentro de la misma tabla de comparación que se te
              ofrece, como los mejores precios, así como los que deseas
              solicitar, dentro del formulario de comparación encontrarás la
              alternativa que más te conviene.
            </p>
            <p>
              En el Mejor Seguro de Auto encontrarás las mejores soluciones de
              comparación con una respuesta inmediata, podrás comparar con la
              smejores aseguradoras que hay en nuestro país además que son las
              mejor calificadas por sus beneficiarios. Esto nos convierte en el
              comparador de seguros de autos amigo de nuestros clientes, pues
              mostramos de manera imparcial cada uno de los datos que necesitas
              tomar en cuenta antes de contratar un seguro.
            </p>
            <p>
              Cuenta con la garantía de que podrás encontrar un seguro
              especialmente pensado para ti y tus necesidades.
            </p>
            <!-- & -->
            <h3>¿Como un comparador de seguros de autos me ayuda a ahorrar?</h3>
            <p>
              Una de las principales preguntas que surgen antes de contratar un
              seguro de auto es, como este nos puede ayudar a ahorrar, pues
              resulta que es muy sencillo, ya que con estas plataformas están
              pensadas para hacernos la vida más fácil, ya que en su
              funcionamiento es muy intuitivo; con el comparador de seguros de
              autos a través de internet, se te irá pidiendo una serie de datos
              básicos del vehículo además de poder asegurar, ya sea por marca,
              modelo o año.
            </p>
            <p>
              Uno de los puntos especiales al momento de contratar tu seguro de
              auto con un comparador de seguros de autos es saber los datos del
              conductor principal, estos pueden ser la edad, sexo, años con tu
              licencia de conducir, así como los usos habituales que se dan al
              vehículo en cuestión, ya sea que este circule regularmente por la
              carretera o la ciudad, cual sea tu trayecto más recurrente, si
              pernocta en la calle o en una plaza de parking.
            </p>
            <p>
              Con la misma información, el buscador se encargará de filtrar las
              ofertas que guarda en la base de datos, mismo que muestra en
              cuestión de segundos el mejor resultado con el que podrás colocar
              o englobar una serie de opiniones de manera ordenada por el precio
              de la prima anual a pagar.
            </p>
            <p>
              Esto resulta muy oportuno, para poder recordar que ya de las demás
              compañías de seguros nos ofrecen, si bien sea por las condiciones
              ventajosas para quienes contraten a través de Internet, para que
              en lugar de hacerlo en una oficina física como se hacían de manera
              tradicional; como un ejemplo de ello es que cada uno de los
              clientes cotice a través de internet, además que puedes realizar
              tus pagos de contratación de la póliza, por vía, pagando con una
              tarjeta de crédito o de débito en el momento que contrates la
              póliza.
            </p>
            <p>
              Poder realizar toda la transacción vía internet, te puede permitir
              que las compañías aseguradoras, por lo que ofrecen condiciones
              ventajosas para los que desean contratar a través de Internet, en
              lugar de hacerlo en una oficina física como antes, para
              ejemplificar ello, podemos pensar en que las compañías ofrecen un
              porcentaje de descuento importante a los que clientes que coticen
              a través de la web y además que hagan la contratación de la póliza
              a través de la vía, pagando con una tarjeta de crédito o débito en
              el momento de contratar la póliza de seguro.
            </p>
            <p>
              Poder realizar todo tu trámite y proceso de contratación, vía
              online permite que las compañías de seguros, poder ofrecerle a sus
              clientes poder ahorrar en sus costos, esto mismo puede traducirse
              a su vez en ofrecer grandes descuentos para los beneficiarios y
              contratantes del seguro.
            </p>
            <!-- & -->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "~/components/common/header-principal.vue";
import fichamovil from "~/components/common/fichapromosub.vue";
import beneficios from "~/components/common/beneficios.vue";
import formulario from "~/components/forms/autosForm.vue";
import promo from "~/components/common/fichadescuentofunnel.vue";
import telefonoService from "~/plugins/telefonoService.js";

export default {
  beforeCreate() {
    this.$store.state.config.aseguradora = "QUALITAS";
    this.$store.state.config.catalogo_directo = true;
    this.$store.state.isGlobal = true;
    this.$store.state.config.cotizacion = false;
    this.$store.state.config.emision = true;
    this.$store.state.config.telefonoAS = "47440410";
    this.$store.state.config.grupoCallback = "VN COMPARADOR M";
    this.$store.state.config.from = "DOMINIO-GNP";
    this.$store.state.config.urlRedireccion = "/comparador-de-seguros-de-autos";
    this.$store.state.config.idPagina = 54;
    this.$store.state.config.idMedioDifusion = 1302;
    this.$store.state.config.idSubRamo = 50;
    this.$store.state.config.dominioCorreo =
      "QUALITAS|mejorsegurodeauto-mx-qualitas";
    this.$store.state.config.textoSMS =
      "Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.";
    this.$store.state.config.idCampana = 70;
    this.$store.state.config.asgNombre = "Mejor Seguro de Auto";
    this.$store.state.config.telefonoAS = "47440410";
    this.$store.state.config.h1 = "Comparador de Seguros de Autos";
    this.$store.state.config.txtBtn = "";
    this.$store.state.config.img = "ms";
    this.$store.state.config.k1 = "Comparador de Seguros de Autos";
    this.$store.state.config.k2 = "Comparador de Seguros";
    this.$store.state.config.k3 = "Comparar Seguros de Auto";
    this.$store.state.config.k4 = "Comparar Seguros";
    this.$store.state.config.k5 = "Comparador de Seguros de Autos";
    this.$store.state.config.k6 = "Comparador de Seguros";
    this.$store.state.config.k7 = "Comparar Seguros de Auto";
  },
 
  components: {
    Header,
    fichamovil,
    beneficios,
    promo,
    formulario,
  },
  head() {
    return {
      title: "Comparador de Seguros de Autos - Comparar Mejor Seguro de Auto",
      meta: [
        {
          hid: "keywords",
          name: "keywords",
          content:
            "Comparador de Seguros de Autos, Comparador de Seguros, Comparar Seguros de Auto, Comparar Seguros",
        },
        {
          hid: "description",
          name: "description",
          content:
            "Nuestro Comparador de Seguros de Autos te da más de 20 opciones al contratar un seguro de auto en México. ¡Compara Seguros de auto en 60 Segundos!",
        },
        { hid: "author", name: "author", content: "twitter | @vargasdesignMx" },
        {
          hid: "sitemap",
          rel: "sitemap",
          type: "application/xml",
          title: "sitemap",
          href: "sitemap.xml",
        },
        {
          hid: "canonical",
          rel: "canonical",
          href: "https://mejorsegurodeauto.mx/comparador-de-seguros-de-autos/",
        },
        { hid: "robots", name: "robots", content: "index,follow" },
      ],
    };
  },
};
</script>
<style>
.imgLogoAsg {
  width: 118px;
}

h1,
.tuPatita p,
h2,
h3,
h4,
h5 {
  color: #044a94;
}
.bg {
  background-color: #044a94;
  border-radius: 5px;
  height: 100%;
}
.addCont p {
  color: #044a94;
  border-bottom: 2px solid #044a94;
}
.addCont span,
.tabla thead th,
.botonTop,
.alertaColor {
  background: #044a94;
}
.imgMsdaSize {
  background-position: -220px -11px;
}
.imgTelSize {
  background-position: -343px -10px;
}
.imgMulta {
  background-position: -404px -10px;
}
.imgReloj {
  background-position: -457px -11px;
}
.imgChevron {
  background-position: -280px -7px;
}
.imgTrailerSize {
  background-position: -469px 0;
}
.imgBochoSize {
  background-position: -506px 8px;
}
.imgTarjetaSize {
  background-position: -673px 0;
}
.imgCheckSize {
  background-position: -774px -6px;
}
.imgSuv {
  background-position: -755px 4px;
}
.imgLupa {
  background-position: -905px -5px;
}
.imgEscudo {
  background-position: -983px -6px;
}
.imgMsdaBlanco {
  background-position: -796px 0;
}
.imgEstrellaSize {
  background-position: -956px -10px;
}
.imgLogoSize {
  background-position: -131px -34px;
  background-size: 1600px;
}
@media (min-width: 1024px) and (max-width: 1199px) {
}
@media (min-width: 768px) and (max-width: 1024px) {
}
@media (min-width: 426px) and (max-width: 767px) {
  .bg {
    background: #044a94;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .bg {
    background: #044a94;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .bg {
    background: #044a94;
  }
}
@media (min-width: 280px) and (max-width: 320px) {
  .bg {
    background: #044a94;
  }
}
</style>
