<template>
  <div>
    <Header />
    <nuxt />
    <Btn />
    <opiniones />
    <Footer />
  </div>
</template>
<script>
import Header from "~/components/common/header-principal.vue";
import opiniones from "~/components/common/opiniones.vue";

import Footer from "~/components/common/footer.vue";
import Btn from "~/components/common/top.vue";
export default {
  components: {
    opiniones,
    Footer,
    Btn
  }
};
</script>