<template>
  <div>
    <nuxt />
    <!--<Btn />-->
    <Footer />
  </div>
</template>
<script>
import Footer from "~/components/common/footer.vue";
export default {
  components: {
    Footer
  },
  async created() {
    this.$store.state.config.loading = false
  },
};
</script>