<template>
  <div class="container-fluid error">
    <div class="row">
      <div class="col-12 col-md-7 text-center d-none d-md-block">
        <img src="/img/bg/ms.jpg" alt="Mejor Seguro de Auto" />
      </div>
      <div class="col-12 col-md-5 text-center">
        <p>
          <img src="/img/bg/error/advertencia.svg" alt="Error" />Error 404 ...
        </p>
        <a v-if="this.$store.state.config.urlRedireccion==''" :href="'/'" class="btn">Regresar Al Inicio</a>
        <a v-else :href="this.$store.state.config.urlRedireccion" class="btn">Regresar Al Inicio</a>
      </div>
      <div class="col-12 col-md-7 text-center d-block d-md-none">
        <img src="/img/bg/ms.jpg" alt="Mejor Seguro de Auto" />
      </div>
    </div>
  </div>
</template>
<script>
export default {
  layout: "404"
};
</script>

<style>
.error {
  margin: 10% 0 0 0;
}
.error p {
  color: #044a94;
  font-size: 57px;
  font-weight: bold;
  margin: 10% 0 0 0;
}
.error p img {
  width: 80px;
  margin: -20px 5px 0 0;
}
.error a {
  border: 1px solid #044a94;
  background: #fff;
  color: #044a94;
  font-size: 28px;
  padding: 2% 10%;
  margin: 5% 0 0 0;
}
.error a:hover {
  border: 1px solid #044a94;
  background: #044a94;
  color: #fff;
  transition: background 0.5s, color 0.5s;
}
.error img {
  width: 80%;
}
@media (min-width: 1024px) and (max-width: 1199px) {
}
@media (min-width: 768px) and (max-width: 1024px) {
  .error p {
    font-size: 40px;
    margin: 15% 0 0 0;
  }
  .error p img {
    width: 65px;
  }
  .error a {
    padding: 1% 10%;
  }
  .error img {
    width: 100%;
    margin: 10% 0 0 0;
  }
}
@media (min-width: 426px) and (max-width: 767px) {
  .error p {
    margin: 0;
  }
  .error p img {
    width: 65px;
  }
  .error a {
    padding: 1% 10%;
  }
  .error img {
    width: 100%;
    margin: 10% 0 0 0;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .error p {
    font-size: 50px;
    margin: 0;
  }
  .error p img {
    width: 60px;
  }
  .error a {
    padding: 1% 10%;
  }
  .error img {
    width: 100%;
    margin: 10% 0 0 0;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .error p {
    font-size: 40px;
    margin: 0;
  }
  .error p img {
    width: 60px;
  }
  .error a {
    padding: 1% 10%;
  }
  .error img {
    width: 100%;
    margin: 10% 0 0 0;
  }
}
@media (min-width: 280px) and (max-width: 320px) {
  .error p {
    font-size: 40px;
    margin: 0;
  }
  .error p img {
    width: 60px;
  }
  .error a {
    padding: 1% 10%;
  }
  .error img {
    width: 100%;
    margin: 10% 0 0 0;
  }
}
</style>