<template>
  <div>
    <div class="container-fluid bgGris">
      <div class="row">
        <div class="col-12 py-0 px-xl-5 bgBarra">
          <div class="navbar m-0 p-0">
            <a href="/">
              <div class="imgMsdaBlanco"></div>
            </a>
            <a href="/" class="btn btn-success">
              <span>Cotizar Seguro de Auto</span>
            </a>
          </div>
        </div>
        <div class="col-12 px-xl-5">
          <div class="textOpi">
            <h1>Opiniones sobre El Mejor Seguro de Auto</h1>
            <p>Nuestros clientes nos han reconocido como el mejor Comparador de Seguros en México y es que en el Mejor Seguro de auto nos hemos caracterizado por ser una empresa eficiente para todos y cada uno de nuestros usuarios.</p>
            <p>Actualmente trabajamos con las aseguradoras más importantes del país, es así que colocamos como el comparador de seguros para autos más efectivo que actualmente utilizan los usuarios, brindando las mejores alternativas del mercado, además de comercializar grandes coberturas. Pero también en Ahorra Seguros se pueden encontrar todo tipo de pólizas en: Seguros de Vida, Seguros de Hogar, Seguros de Educación, Gastos Médicos y Retiro.</p>
          </div>
        </div>
        <div class="col-12 px-xl-5">
          <div class="container-fluid">
            <div class="row">
              <!-- CARD -->
              <div class="col-12 col-md-4">
                <div class="cardOpi">
                  <div itemprop="review" itemscope :itemtype="$store.state.config.linkReview"></div>
                  <span
                    itemprop="reviewRating"
                    itemscope
                    :itemtype="$store.state.config.linkRating"
                  >
                    <!-- NUMERO DE ESTRELLAS -->
                    <div class="opistar">
                      <span itemprop="ratingValue">
                        {{ $store.state.config.valor5 }}
                        <meta
                          itemprop="worstRating"
                          :content="$store.state.config.worstRating"
                        />
                        <meta itemprop="ratingValue" :content="$store.state.config.ratingValue" />
                        <meta itemprop="bestRating" :content="$store.state.config.bestRating" />
                      </span>
                    </div>
                  </span>
                  <!-- OPINIÓN -->
                  <div
                    class="txtOpi"
                    itemprop="description"
                  >Pude obtener el seguro de mi auto sin ningún problema y barato.</div>
                  <span class="d-none" itemprop="name">{{$store.state.config.nameprop}}</span>
                  <!-- NOMBRE Y ESTRELLAS -->
                  <div class="navbar p-0 m-0">
                    <span
                      class="dateopinion mt-2"
                      itemprop="author"
                      itemscope
                      :itemtype="$store.state.config.linkRating"
                    >Jaime Alejandro Justo Vizcarra</span>
                    <span class="dateopinion mt-2" itemprop="datePublished">20-03-2019</span>
                  </div>
                </div>
              </div>
              <!-- CARD -->
              <div class="col-12 col-md-4">
                <div class="cardOpi">
                  <div itemprop="review" itemscope :itemtype="$store.state.config.linkReview"></div>
                  <span
                    itemprop="reviewRating"
                    itemscope
                    :itemtype="$store.state.config.linkRating"
                  >
                    <!-- NUMERO DE ESTRELLAS -->
                    <div class="opistar">
                      <span itemprop="ratingValue">
                        {{ $store.state.config.valor5 }}
                        <meta
                          itemprop="worstRating"
                          :content="$store.state.config.worstRating"
                        />
                        <meta itemprop="ratingValue" :content="$store.state.config.ratingValue" />
                        <meta itemprop="bestRating" :content="$store.state.config.bestRating" />
                      </span>
                    </div>
                  </span>
                  <!-- OPINIÓN -->
                  <div class="txtOpi" itemprop="description">DAN UN EXCELENTE SERVICIO</div>
                  <span class="d-none" itemprop="name">{{$store.state.config.nameprop}}</span>
                  <!-- NOMBRE Y ESTRELLAS -->
                  <div class="navbar p-0 m-0">
                    <span
                      class="dateopinion mt-2"
                      itemprop="author"
                      itemscope
                      :itemtype="$store.state.config.linkRating"
                    >Omar Romero</span>
                    <span class="dateopinion mt-2" itemprop="datePublished">20-03-2019</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <pag />
        <div class="col-12">
          <links />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import pag from "~/components/utilities/pag.vue";
import links from "~/components/utilities/links.vue";
export default {
  created: function() {
    this.$store.state.config.img = "ms";
    
    this.$store.state.config.valor3 = "★3.0";
    this.$store.state.config.valor4 = "★4.0";
    this.$store.state.config.valor5 = "★5.0";
    this.$store.state.config.worstRating = "1";
    this.$store.state.config.ratingValue = "4";
    this.$store.state.config.bestRating = "5";
    this.$store.state.config.nameprop = "opinion de cliente";
    this.$store.state.config.linkRating = "http://schema.org/Rating";
    this.$store.state.config.linkReview = "http://schema.org/rating";
    this.$store.state.config.linkReview = "http://schema.org/rating";
  },
  components: {
    links,
    pag
  }
};
</script>

<style>
.bgBarra,
.botonTop {
  background-color: #044a94;
}
.r1 {
  background: #044a94;
  color: #fff;
}
</style>