<template>
  <div>
    <div class="container-fluid bgGris">
      <div class="row">
        <div class="col-12 py-0 px-xl-5 bgBarra">
          <div class="navbar m-0 p-0">
            <a href="/">
              <div class="imgMsdaBlanco"></div>
            </a>
            <a href="/" class="btn btn-success">
              <span>Cotizar Seguro de Auto</span>
            </a>
          </div>
        </div>
        <div class="col-12 px-xl-5">
          <div class="textOpi">
            <h1>Opiniones sobre El Mejor Seguro de Auto</h1>
            <p>Nuestros clientes nos han reconocido como el mejor Comparador de Seguros en México y es que en el Mejor Seguro de auto nos hemos caracterizado por ser una empresa eficiente para todos y cada uno de nuestros usuarios.</p>
            <p>Actualmente trabajamos con las aseguradoras más importantes del país, es así que colocamos como el comparador de seguros para autos más efectivo que actualmente utilizan los usuarios, brindando las mejores alternativas del mercado, además de comercializar grandes coberturas. Pero también en Ahorra Seguros se pueden encontrar todo tipo de pólizas en: Seguros de Vida, Seguros de Hogar, Seguros de Educación, Gastos Médicos y Retiro.</p>
          </div>
        </div>
        <div class="col-12 px-xl-5">
          <div class="container-fluid">
            <div class="row">
              <!-- CARD -->
              <div class="col-12 col-md-4">
                <div class="cardOpi">
                  <div itemprop="review" itemscope :itemtype="$store.state.config.linkReview"></div>
                  <span
                    itemprop="reviewRating"
                    itemscope
                    :itemtype="$store.state.config.linkRating"
                  >
                    <!-- NUMERO DE ESTRELLAS -->
                    <div class="opistar">
                      <span itemprop="ratingValue">
                        {{ $store.state.config.valor5 }}
                        <meta
                          itemprop="worstRating"
                          :content="$store.state.config.worstRating"
                        />
                        <meta itemprop="ratingValue" :content="$store.state.config.ratingValue" />
                        <meta itemprop="bestRating" :content="$store.state.config.bestRating" />
                      </span>
                    </div>
                  </span>
                  <!-- OPINIÓN -->
                  <div
                    class="txtOpi"
                    itemprop="description"
                  >La semana pasada contrate un seguro para un fiat 500, muy buen precio y la atención es inmediata. Otro punto a favor es la facilidad en que te mandan la póliza, todo es digital</div>
                  <span class="d-none" itemprop="name">{{$store.state.config.nameprop}}</span>
                  <!-- NOMBRE Y ESTRELLAS -->
                  <div class="navbar p-0 m-0">
                    <span
                      class="dateopinion mt-2"
                      itemprop="author"
                      itemscope
                      :itemtype="$store.state.config.linkRating"
                    >Lizbeth Gonzalez</span>
                    <span class="dateopinion mt-2" itemprop="datePublished">28-01-2019</span>
                  </div>
                </div>
              </div>
              <!-- CARD -->
              <div class="col-12 col-md-4">
                <div class="cardOpi">
                  <div itemprop="review" itemscope :itemtype="$store.state.config.linkReview"></div>
                  <span
                    itemprop="reviewRating"
                    itemscope
                    :itemtype="$store.state.config.linkRating"
                  >
                    <!-- NUMERO DE ESTRELLAS -->
                    <div class="opistar">
                      <span itemprop="ratingValue">
                        {{ $store.state.config.valor5 }}
                        <meta
                          itemprop="worstRating"
                          :content="$store.state.config.worstRating"
                        />
                        <meta itemprop="ratingValue" :content="$store.state.config.ratingValue" />
                        <meta itemprop="bestRating" :content="$store.state.config.bestRating" />
                      </span>
                    </div>
                  </span>
                  <!-- OPINIÓN -->
                  <div
                    class="txtOpi"
                    itemprop="description"
                  >Excelente servicio contratas muy rapido tu seguro sin problemas recomendado</div>
                  <span class="d-none" itemprop="name">{{$store.state.config.nameprop}}</span>
                  <!-- NOMBRE Y ESTRELLAS -->
                  <div class="navbar p-0 m-0">
                    <span
                      class="dateopinion mt-2"
                      itemprop="author"
                      itemscope
                      :itemtype="$store.state.config.linkRating"
                    >ivan sanchez</span>
                    <span class="dateopinion mt-2" itemprop="datePublished">23-01-2019</span>
                  </div>
                </div>
              </div>
              <!-- CARD -->
              <div class="col-12 col-md-4">
                <div class="cardOpi">
                  <div itemprop="review" itemscope :itemtype="$store.state.config.linkReview"></div>
                  <span
                    itemprop="reviewRating"
                    itemscope
                    :itemtype="$store.state.config.linkRating"
                  >
                    <!-- NUMERO DE ESTRELLAS -->
                    <div class="opistar">
                      <span itemprop="ratingValue">
                        {{ $store.state.config.valor5 }}
                        <meta
                          itemprop="worstRating"
                          :content="$store.state.config.worstRating"
                        />
                        <meta itemprop="ratingValue" :content="$store.state.config.ratingValue" />
                        <meta itemprop="bestRating" :content="$store.state.config.bestRating" />
                      </span>
                    </div>
                  </span>
                  <!-- OPINIÓN -->
                  <div
                    class="txtOpi"
                    itemprop="description"
                  >Pude contratar mi Seguro de Auto rápido y a un buen precio. Tienen muchas Aseguradoras para comparar la mejor opción. Totalmente recomendable.</div>
                  <span class="d-none" itemprop="name">{{$store.state.config.nameprop}}</span>
                  <!-- NOMBRE Y ESTRELLAS -->
                  <div class="navbar p-0 m-0">
                    <span
                      class="dateopinion mt-2"
                      itemprop="author"
                      itemscope
                      :itemtype="$store.state.config.linkRating"
                    >Daniel Cuevas</span>
                    <span class="dateopinion mt-2" itemprop="datePublished">22-01-2019</span>
                  </div>
                </div>
              </div>
              <!-- CARD -->
              <div class="col-12 col-md-4">
                <div class="cardOpi">
                  <div itemprop="review" itemscope :itemtype="$store.state.config.linkReview"></div>
                  <span
                    itemprop="reviewRating"
                    itemscope
                    :itemtype="$store.state.config.linkRating"
                  >
                    <!-- NUMERO DE ESTRELLAS -->
                    <div class="opistar">
                      <span itemprop="ratingValue">
                        {{ $store.state.config.valor4 }}
                        <meta
                          itemprop="worstRating"
                          :content="$store.state.config.worstRating"
                        />
                        <meta itemprop="ratingValue" :content="$store.state.config.ratingValue" />
                        <meta itemprop="bestRating" :content="$store.state.config.bestRating" />
                      </span>
                    </div>
                  </span>
                  <!-- OPINIÓN -->
                  <div
                    class="txtOpi"
                    itemprop="description"
                  >Excelente servicio y gran facilidad para contratar un seguro de auto.</div>
                  <span class="d-none" itemprop="name">{{$store.state.config.nameprop}}</span>
                  <!-- NOMBRE Y ESTRELLAS -->
                  <div class="navbar p-0 m-0">
                    <span
                      class="dateopinion mt-2"
                      itemprop="author"
                      itemscope
                      :itemtype="$store.state.config.linkRating"
                    >Jessica Hernandez</span>
                    <span class="dateopinion mt-2" itemprop="datePublished">15-01-2019</span>
                  </div>
                </div>
              </div>
              <!-- CARD -->
              <div class="col-12 col-md-4">
                <div class="cardOpi">
                  <div itemprop="review" itemscope :itemtype="$store.state.config.linkReview"></div>
                  <span
                    itemprop="reviewRating"
                    itemscope
                    :itemtype="$store.state.config.linkRating"
                  >
                    <!-- NUMERO DE ESTRELLAS -->
                    <div class="opistar">
                      <span itemprop="ratingValue">
                        {{ $store.state.config.valor5 }}
                        <meta
                          itemprop="worstRating"
                          :content="$store.state.config.worstRating"
                        />
                        <meta itemprop="ratingValue" :content="$store.state.config.ratingValue" />
                        <meta itemprop="bestRating" :content="$store.state.config.bestRating" />
                      </span>
                    </div>
                  </span>
                  <!-- OPINIÓN -->
                  <div
                    class="txtOpi"
                    itemprop="description"
                  >Increíble, cotice mi seguro de auto a un precio accesible y me atendieron muy rápido.</div>
                  <span class="d-none" itemprop="name">{{$store.state.config.nameprop}}</span>
                  <!-- NOMBRE Y ESTRELLAS -->
                  <div class="navbar p-0 m-0">
                    <span
                      class="dateopinion mt-2"
                      itemprop="author"
                      itemscope
                      :itemtype="$store.state.config.linkRating"
                    >Alan Ortiz Rivera</span>
                    <span class="dateopinion mt-2" itemprop="datePublished">12-01-2019</span>
                  </div>
                </div>
              </div>
              <!-- CARD -->
              <div class="col-12 col-md-4">
                <div class="cardOpi">
                  <div itemprop="review" itemscope :itemtype="$store.state.config.linkReview"></div>
                  <span
                    itemprop="reviewRating"
                    itemscope
                    :itemtype="$store.state.config.linkRating"
                  >
                    <!-- NUMERO DE ESTRELLAS -->
                    <div class="opistar">
                      <span itemprop="ratingValue">
                        {{ $store.state.config.valor5 }}
                        <meta
                          itemprop="worstRating"
                          :content="$store.state.config.worstRating"
                        />
                        <meta itemprop="ratingValue" :content="$store.state.config.ratingValue" />
                        <meta itemprop="bestRating" :content="$store.state.config.bestRating" />
                      </span>
                    </div>
                  </span>
                  <!-- OPINIÓN -->
                  <div
                    class="txtOpi"
                    itemprop="description"
                  >wow por fin quedo asegurado mi Hummer, fácil y rapido...</div>
                  <span class="d-none" itemprop="name">{{$store.state.config.nameprop}}</span>
                  <!-- NOMBRE Y ESTRELLAS -->
                  <div class="navbar p-0 m-0">
                    <span
                      class="dateopinion mt-2"
                      itemprop="author"
                      itemscope
                      :itemtype="$store.state.config.linkRating"
                    >Miguel Angel Carmona</span>
                    <span class="dateopinion mt-2" itemprop="datePublished">10-01-2019</span>
                  </div>
                </div>
              </div>
              <!-- CARD -->
              <div class="col-12 col-md-4">
                <div class="cardOpi">
                  <div itemprop="review" itemscope :itemtype="$store.state.config.linkReview"></div>
                  <span
                    itemprop="reviewRating"
                    itemscope
                    :itemtype="$store.state.config.linkRating"
                  >
                    <!-- NUMERO DE ESTRELLAS -->
                    <div class="opistar">
                      <span itemprop="ratingValue">
                        {{ $store.state.config.valor5 }}
                        <meta
                          itemprop="worstRating"
                          :content="$store.state.config.worstRating"
                        />
                        <meta itemprop="ratingValue" :content="$store.state.config.ratingValue" />
                        <meta itemprop="bestRating" :content="$store.state.config.bestRating" />
                      </span>
                    </div>
                  </span>
                  <!-- OPINIÓN -->
                  <div
                    class="txtOpi"
                    itemprop="description"
                  >Ayer contrate mi seguro y fue muy fácil. No me pidieron hacer trámites extensos, todo muy sencillo. Mi póliza me llego después de 20 minutos</div>
                  <span class="d-none" itemprop="name">{{$store.state.config.nameprop}}</span>
                  <!-- NOMBRE Y ESTRELLAS -->
                  <div class="navbar p-0 m-0">
                    <span
                      class="dateopinion mt-2"
                      itemprop="author"
                      itemscope
                      :itemtype="$store.state.config.linkRating"
                    >Eduardo Rivera</span>
                    <span class="dateopinion mt-2" itemprop="datePublished">08-01-2019</span>
                  </div>
                </div>
              </div>
              <!-- CARD -->
              <div class="col-12 col-md-4">
                <div class="cardOpi">
                  <div itemprop="review" itemscope :itemtype="$store.state.config.linkReview"></div>
                  <span
                    itemprop="reviewRating"
                    itemscope
                    :itemtype="$store.state.config.linkRating"
                  >
                    <!-- NUMERO DE ESTRELLAS -->
                    <div class="opistar">
                      <span itemprop="ratingValue">
                        {{ $store.state.config.valor5 }}
                        <meta
                          itemprop="worstRating"
                          :content="$store.state.config.worstRating"
                        />
                        <meta itemprop="ratingValue" :content="$store.state.config.ratingValue" />
                        <meta itemprop="bestRating" :content="$store.state.config.bestRating" />
                      </span>
                    </div>
                  </span>
                  <!-- OPINIÓN -->
                  <div
                    class="txtOpi"
                    itemprop="description"
                  >Muy recomendable, estaba en busca de un seguro para mi auto y realmente me ayudaron a conocer más acerca de lo que necesitaba a la hora de tener uno, y pude hacer mi contrato ese mismo día.</div>
                  <span class="d-none" itemprop="name">{{$store.state.config.nameprop}}</span>
                  <!-- NOMBRE Y ESTRELLAS -->
                  <div class="navbar p-0 m-0">
                    <span
                      class="dateopinion mt-2"
                      itemprop="author"
                      itemscope
                      :itemtype="$store.state.config.linkRating"
                    >Stepanie Ceja Evangelista</span>
                    <span class="dateopinion mt-2" itemprop="datePublished">02-01-2019</span>
                  </div>
                </div>
              </div>
              <!-- CARD -->
              <div class="col-12 col-md-4">
                <div class="cardOpi">
                  <div itemprop="review" itemscope :itemtype="$store.state.config.linkReview"></div>
                  <span
                    itemprop="reviewRating"
                    itemscope
                    :itemtype="$store.state.config.linkRating"
                  >
                    <!-- NUMERO DE ESTRELLAS -->
                    <div class="opistar">
                      <span itemprop="ratingValue">
                        {{ $store.state.config.valor5 }}
                        <meta
                          itemprop="worstRating"
                          :content="$store.state.config.worstRating"
                        />
                        <meta itemprop="ratingValue" :content="$store.state.config.ratingValue" />
                        <meta itemprop="bestRating" :content="$store.state.config.bestRating" />
                      </span>
                    </div>
                  </span>
                  <!-- OPINIÓN -->
                  <div class="txtOpi" itemprop="description"></div>
                  <span class="d-none" itemprop="name">{{$store.state.config.nameprop}}</span>
                  <!-- NOMBRE Y ESTRELLAS -->
                  <div class="navbar p-0 m-0">
                    <span
                      class="dateopinion mt-2"
                      itemprop="author"
                      itemscope
                      :itemtype="$store.state.config.linkRating"
                    >Alejandro Pacheco</span>
                    <span class="dateopinion mt-2" itemprop="datePublished">04-12-2</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <pag />
        <div class="col-12 mt-5">
          <div class="asgList">
            <li>
              <a href="../../seguros-aba/">
                <div class="imgLinkAsg imgLinkAsgaba" title="aba" ></div>
              </a>
            </li>
            <li>
              <a href="../../seguros-afirme/">
                <div class="imgLinkAsg imgLinkAsgafirme" title="afirme" ></div>
              </a>
            </li>
            <li>
              <a href="../../seguros-el-aguila/">
                <div class="imgLinkAsg imgLinkAsgelaguila" title="el aguila" ></div>
              </a>
            </li>
            <li>
              <a href="../../seguros-aig/">
                <div class="imgLinkAsg imgLinkAsgaig" title="aig" ></div>
              </a>
            </li>
            <li>
              <a href="../../seguros-ana/">
                <div class="imgLinkAsg imgLinkAsgana" title="ana" ></div>
              </a>
            </li>
            <li>
              <a href="../../seguros-atlas/">
                <div class="imgLinkAsg imgLinkAsgatlas" title="atlas" ></div>
              </a>
            </li>
            <li>
              <a href="../../seguros-axa/">
                <div class="imgLinkAsg imgLinkAsgaxa" title="axa" ></div>
              </a>
            </li>
            <li>
              <a href="../../seguros-banorte/">
                <div class="imgLinkAsg imgLinkAsgbanorte" title="banorte" ></div>
              </a>
            </li>
            <li>
              <a href="../../general-de-seguros/">
                <div class="imgLinkAsg imgLinkAsggeneral" title="general de seguros" ></div>
              </a>
            </li>
            <li>
              <a href="../../seguros-gnp/">
                <div class="imgLinkAsg imgLinkAsggnp" title="gnp" ></div>
              </a>
            </li>
            <li>
              <a href="../../seguros-hdi/">
                <div class="imgLinkAsg imgLinkAsghdi" title="hdi" ></div>
              </a>
            </li>
            <li>
              <a href="../../seguros-inbursa/">
                <div class="imgLinkAsg imgLinkAsginbursa" title="inbursa" ></div>
              </a>
            </li>
            <li>
              <a href="../../seguros-la-latino/">
                <div class="imgLinkAsg imgLinkAsglatino" title="la latino" ></div>
              </a>
            </li>
            <li>
              <a href="../../seguros-mapfre/">
                <div class="imgLinkAsg imgLinkAsgmapfre" title="mapfre" ></div>
              </a>
            </li>
            <li>
              <a href="../../seguros-miituo/">
                <div class="imgLinkAsg imgLinkAsgmiituo" title="miituo" ></div>
              </a>
            </li>
            <!--<li>
              <a href="../../seguros-multiva/">
                <div class="imgLinkAsg imgLinkAsgmultiva" title="multiva" ></div>
              </a>
            </li>-->
            <li>
              <a href="../../seguros-ve-por-mas/">
                <div class="imgLinkAsg imgLinkAsgbxmas" title="ve por mas" ></div>
              </a>
            </li>
            <li>
              <a href="../../seguros-el-potosi/">
                <div class="imgLinkAsg imgLinkAsgpotosi" title="el potosi" ></div>
              </a>
            </li>
            <!--<li>
              <a href="../../primero-seguros/">
                <div class="imgLinkAsg imgLinkAsgprimero" title="primero seguros" ></div>
              </a>
            </li>-->
            <li>
              <a href="../../seguros-qualitas/">
                <div class="imgLinkAsg imgLinkAsgqualitas" title="qualitas" ></div>
              </a>
            </li>
            <li>
              <a href="../../seguros-sura/">
                <div class="imgLinkAsg imgLinkAsgsura" title="sura" ></div>
              </a>
            </li>
            <!--<li>
              <a href="../../seguros-uber/">
                <div class="imgLinkAsg imgLinkAsguber" title="uber" ></div>
              </a>
            </li>-->
            <li>
              <a href="../../seguros-zurich/">
                <div class="imgLinkAsg imgLinkAsgzurich" title="zurich" ></div>
              </a>
            </li>
            <li>
              <a href="../../seguros-migo/">
                <div class="imgLinkAsg imgLinkAsgmigo" title="migo" ></div>
              </a>
            </li>
            <!--<li>
              <a href="#">
                <div class="imgLinkAsg2 imgLinkAsgcrabi" title="crabi" ></div>
              </a>
            </li>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import pag from "~/components/utilities/pag.vue";
export default {
  created: function() {
    this.$store.state.config.img = "ms";
    
    this.$store.state.config.valor3 = "★3.0";
    this.$store.state.config.valor4 = "★4.0";
    this.$store.state.config.valor5 = "★5.0";
    this.$store.state.config.worstRating = "1";
    this.$store.state.config.ratingValue = "4";
    this.$store.state.config.bestRating = "5";
    this.$store.state.config.nameprop = "opinion de cliente";
    this.$store.state.config.linkRating = "http://schema.org/Rating";
    this.$store.state.config.linkReview = "http://schema.org/rating";
    this.$store.state.config.linkReview = "http://schema.org/rating";
  },
  components: {
    pag
  }
};
</script>

<style>
.bgBarra,
.botonTop {
  background-color: #044a94;
}
.r3 {
  background: #044a94;
  color: #fff;
}
</style>