<template>
  <div>
    <div class="container-fluid bgGris">
      <div class="row">
        <div class="col-12 py-0 px-xl-5 bgBarra">
          <div class="navbar m-0 p-0">
            <a href="/">
              <div class="imgMsdaBlanco"></div>
            </a>
            <a href="/" class="btn btn-success">
              <span>Cotizar Seguro de Auto</span>
            </a>
          </div>
        </div>
        <div class="col-12 px-xl-5">
          <div class="textOpi">
            <h1>Opiniones sobre El Mejor Seguro de Auto</h1>
            <p>Nuestros clientes nos han reconocido como el mejor Comparador de Seguros en México y es que en el Mejor Seguro de auto nos hemos caracterizado por ser una empresa eficiente para todos y cada uno de nuestros usuarios.</p>
            <p>Actualmente trabajamos con las aseguradoras más importantes del país, es así que colocamos como el comparador de seguros para autos más efectivo que actualmente utilizan los usuarios, brindando las mejores alternativas del mercado, además de comercializar grandes coberturas. Pero también en Ahorra Seguros se pueden encontrar todo tipo de pólizas en: Seguros de Vida, Seguros de Hogar, Seguros de Educación, Gastos Médicos y Retiro.</p>
          </div>
        </div>
        <div class="col-12 px-xl-5">
          <div class="container-fluid">
            <div class="row">
              <!-- CARD -->
              <div class="col-12 col-md-4">
                <div class="cardOpi">
                  <div itemprop="review" itemscope :itemtype="$store.state.config.linkReview"></div>
                  <span
                    itemprop="reviewRating"
                    itemscope
                    :itemtype="$store.state.config.linkRating"
                  >
                    <!-- NUMERO DE ESTRELLAS -->
                    <div class="opistar">
                      <span itemprop="ratingValue">
                        {{ $store.state.config.valor4 }}
                        <meta
                          itemprop="worstRating"
                          :content="$store.state.config.worstRating"
                        />
                        <meta itemprop="ratingValue" :content="$store.state.config.ratingValue" />
                        <meta itemprop="bestRating" :content="$store.state.config.bestRating" />
                      </span>
                    </div>
                  </span>
                  <!-- OPINIÓN -->
                  <div class="txtOpi" itemprop="description">Buen trato a las personas.</div>
                  <span class="d-none" itemprop="name">{{$store.state.config.nameprop}}</span>
                  <!-- NOMBRE Y ESTRELLAS -->
                  <div class="navbar p-0 m-0">
                    <span
                      class="dateopinion mt-2"
                      itemprop="author"
                      itemscope
                      :itemtype="$store.state.config.linkRating"
                    >Yelia Gaytan</span>
                    <span class="dateopinion mt-2" itemprop="datePublished">13-03-2019</span>
                  </div>
                </div>
              </div>
              <!-- CARD -->
              <div class="col-12 col-md-4">
                <div class="cardOpi">
                  <div itemprop="review" itemscope :itemtype="$store.state.config.linkReview"></div>
                  <span
                    itemprop="reviewRating"
                    itemscope
                    :itemtype="$store.state.config.linkRating"
                  >
                    <!-- NUMERO DE ESTRELLAS -->
                    <div class="opistar">
                      <span itemprop="ratingValue">
                        {{ $store.state.config.valor4 }}
                        <meta
                          itemprop="worstRating"
                          :content="$store.state.config.worstRating"
                        />
                        <meta itemprop="ratingValue" :content="$store.state.config.ratingValue" />
                        <meta itemprop="bestRating" :content="$store.state.config.bestRating" />
                      </span>
                    </div>
                  </span>
                  <!-- OPINIÓN -->
                  <div class="txtOpi" itemprop="description">muy bien su servicio de seguro de autos</div>
                  <span class="d-none" itemprop="name">{{$store.state.config.nameprop}}</span>
                  <!-- NOMBRE Y ESTRELLAS -->
                  <div class="navbar p-0 m-0">
                    <span
                      class="dateopinion mt-2"
                      itemprop="author"
                      itemscope
                      :itemtype="$store.state.config.linkRating"
                    >Erick Israel Oliva Gamez</span>
                    <span class="dateopinion mt-2" itemprop="datePublished">11-03-2019</span>
                  </div>
                </div>
              </div>
              <!-- CARD -->
              <div class="col-12 col-md-4">
                <div class="cardOpi">
                  <div itemprop="review" itemscope :itemtype="$store.state.config.linkReview"></div>
                  <span
                    itemprop="reviewRating"
                    itemscope
                    :itemtype="$store.state.config.linkRating"
                  >
                    <!-- NUMERO DE ESTRELLAS -->
                    <div class="opistar">
                      <span itemprop="ratingValue">
                        {{ $store.state.config.valor5 }}
                        <meta
                          itemprop="worstRating"
                          :content="$store.state.config.worstRating"
                        />
                        <meta itemprop="ratingValue" :content="$store.state.config.ratingValue" />
                        <meta itemprop="bestRating" :content="$store.state.config.bestRating" />
                      </span>
                    </div>
                  </span>
                  <!-- OPINIÓN -->
                  <div class="txtOpi" itemprop="description">Exelente empresa de seguros</div>
                  <span class="d-none" itemprop="name">{{$store.state.config.nameprop}}</span>
                  <!-- NOMBRE Y ESTRELLAS -->
                  <div class="navbar p-0 m-0">
                    <span
                      class="dateopinion mt-2"
                      itemprop="author"
                      itemscope
                      :itemtype="$store.state.config.linkRating"
                    >Viridiana Serrano Duran</span>
                    <span class="dateopinion mt-2" itemprop="datePublished">10-03-2019</span>
                  </div>
                </div>
              </div>
              <!-- CARD -->
              <div class="col-12 col-md-4">
                <div class="cardOpi">
                  <div itemprop="review" itemscope :itemtype="$store.state.config.linkReview"></div>
                  <span
                    itemprop="reviewRating"
                    itemscope
                    :itemtype="$store.state.config.linkRating"
                  >
                    <!-- NUMERO DE ESTRELLAS -->
                    <div class="opistar">
                      <span itemprop="ratingValue">
                        {{ $store.state.config.valor4 }}
                        <meta
                          itemprop="worstRating"
                          :content="$store.state.config.worstRating"
                        />
                        <meta itemprop="ratingValue" :content="$store.state.config.ratingValue" />
                        <meta itemprop="bestRating" :content="$store.state.config.bestRating" />
                      </span>
                    </div>
                  </span>
                  <!-- OPINIÓN -->
                  <div
                    class="txtOpi"
                    itemprop="description"
                  >Cotización rápida de seguro, buena atención.</div>
                  <span class="d-none" itemprop="name">{{$store.state.config.nameprop}}</span>
                  <!-- NOMBRE Y ESTRELLAS -->
                  <div class="navbar p-0 m-0">
                    <span
                      class="dateopinion mt-2"
                      itemprop="author"
                      itemscope
                      :itemtype="$store.state.config.linkRating"
                    >Jared De la Ó Hernández</span>
                    <span class="dateopinion mt-2" itemprop="datePublished">10-03-2019</span>
                  </div>
                </div>
              </div>
              <!-- CARD -->
              <div class="col-12 col-md-4">
                <div class="cardOpi">
                  <div itemprop="review" itemscope :itemtype="$store.state.config.linkReview"></div>
                  <span
                    itemprop="reviewRating"
                    itemscope
                    :itemtype="$store.state.config.linkRating"
                  >
                    <!-- NUMERO DE ESTRELLAS -->
                    <div class="opistar">
                      <span itemprop="ratingValue">
                        {{ $store.state.config.valor5 }}
                        <meta
                          itemprop="worstRating"
                          :content="$store.state.config.worstRating"
                        />
                        <meta itemprop="ratingValue" :content="$store.state.config.ratingValue" />
                        <meta itemprop="bestRating" :content="$store.state.config.bestRating" />
                      </span>
                    </div>
                  </span>
                  <!-- OPINIÓN -->
                  <div class="txtOpi" itemprop="description">Es el mejor seguro de auto</div>
                  <span class="d-none" itemprop="name">{{$store.state.config.nameprop}}</span>
                  <!-- NOMBRE Y ESTRELLAS -->
                  <div class="navbar p-0 m-0">
                    <span
                      class="dateopinion mt-2"
                      itemprop="author"
                      itemscope
                      :itemtype="$store.state.config.linkRating"
                    >David Mendoza</span>
                    <span class="dateopinion mt-2" itemprop="datePublished">06-03-2019</span>
                  </div>
                </div>
              </div>
              <!-- CARD -->
              <div class="col-12 col-md-4">
                <div class="cardOpi">
                  <div itemprop="review" itemscope :itemtype="$store.state.config.linkReview"></div>
                  <span
                    itemprop="reviewRating"
                    itemscope
                    :itemtype="$store.state.config.linkRating"
                  >
                    <!-- NUMERO DE ESTRELLAS -->
                    <div class="opistar">
                      <span itemprop="ratingValue">
                        {{ $store.state.config.valor5 }}
                        <meta
                          itemprop="worstRating"
                          :content="$store.state.config.worstRating"
                        />
                        <meta itemprop="ratingValue" :content="$store.state.config.ratingValue" />
                        <meta itemprop="bestRating" :content="$store.state.config.bestRating" />
                      </span>
                    </div>
                  </span>
                  <!-- OPINIÓN -->
                  <div
                    class="txtOpi"
                    itemprop="description"
                  >excelente ambiente se respira aqui ven y cotiza tu auto</div>
                  <span class="d-none" itemprop="name">{{$store.state.config.nameprop}}</span>
                  <!-- NOMBRE Y ESTRELLAS -->
                  <div class="navbar p-0 m-0">
                    <span
                      class="dateopinion mt-2"
                      itemprop="author"
                      itemscope
                      :itemtype="$store.state.config.linkRating"
                    >jessica noemi villa ceja</span>
                    <span class="dateopinion mt-2" itemprop="datePublished">06-03-2019</span>
                  </div>
                </div>
              </div>
              <!-- CARD -->
              <div class="col-12 col-md-4">
                <div class="cardOpi">
                  <div itemprop="review" itemscope :itemtype="$store.state.config.linkReview"></div>
                  <span
                    itemprop="reviewRating"
                    itemscope
                    :itemtype="$store.state.config.linkRating"
                  >
                    <!-- NUMERO DE ESTRELLAS -->
                    <div class="opistar">
                      <span itemprop="ratingValue">
                        {{ $store.state.config.valor5 }}
                        <meta
                          itemprop="worstRating"
                          :content="$store.state.config.worstRating"
                        />
                        <meta itemprop="ratingValue" :content="$store.state.config.ratingValue" />
                        <meta itemprop="bestRating" :content="$store.state.config.bestRating" />
                      </span>
                    </div>
                  </span>
                  <!-- OPINIÓN -->
                  <div class="txtOpi" itemprop="description">Vámo a darle</div>
                  <span class="d-none" itemprop="name">{{$store.state.config.nameprop}}</span>
                  <!-- NOMBRE Y ESTRELLAS -->
                  <div class="navbar p-0 m-0">
                    <span
                      class="dateopinion mt-2"
                      itemprop="author"
                      itemscope
                      :itemtype="$store.state.config.linkRating"
                    >iBek T1</span>
                    <span class="dateopinion mt-2" itemprop="datePublished">05-03-2019</span>
                  </div>
                </div>
              </div>
              <!-- CARD -->
              <div class="col-12 col-md-4">
                <div class="cardOpi">
                  <div itemprop="review" itemscope :itemtype="$store.state.config.linkReview"></div>
                  <span
                    itemprop="reviewRating"
                    itemscope
                    :itemtype="$store.state.config.linkRating"
                  >
                    <!-- NUMERO DE ESTRELLAS -->
                    <div class="opistar">
                      <span itemprop="ratingValue">
                        {{ $store.state.config.valor4 }}
                        <meta
                          itemprop="worstRating"
                          :content="$store.state.config.worstRating"
                        />
                        <meta itemprop="ratingValue" :content="$store.state.config.ratingValue" />
                        <meta itemprop="bestRating" :content="$store.state.config.bestRating" />
                      </span>
                    </div>
                  </span>
                  <!-- OPINIÓN -->
                  <div
                    class="txtOpi"
                    itemprop="description"
                  >recomiendo para la gente que quiere a pollo para ver que puede cotizar</div>
                  <span class="d-none" itemprop="name">{{$store.state.config.nameprop}}</span>
                  <!-- NOMBRE Y ESTRELLAS -->
                  <div class="navbar p-0 m-0">
                    <span
                      class="dateopinion mt-2"
                      itemprop="author"
                      itemscope
                      :itemtype="$store.state.config.linkRating"
                    >Tc4521 Trujillo</span>
                    <span class="dateopinion mt-2" itemprop="datePublished">01-03-2019</span>
                  </div>
                </div>
              </div>
              <!-- CARD -->
              <div class="col-12 col-md-4">
                <div class="cardOpi">
                  <div itemprop="review" itemscope :itemtype="$store.state.config.linkReview"></div>
                  <span
                    itemprop="reviewRating"
                    itemscope
                    :itemtype="$store.state.config.linkRating"
                  >
                    <!-- NUMERO DE ESTRELLAS -->
                    <div class="opistar">
                      <span itemprop="ratingValue">
                        {{ $store.state.config.valor5 }}
                        <meta
                          itemprop="worstRating"
                          :content="$store.state.config.worstRating"
                        />
                        <meta itemprop="ratingValue" :content="$store.state.config.ratingValue" />
                        <meta itemprop="bestRating" :content="$store.state.config.bestRating" />
                      </span>
                    </div>
                  </span>
                  <!-- OPINIÓN -->
                  <div
                    class="txtOpi"
                    itemprop="description"
                  >Fácilmente contrate mi seguro de auto, muchas gracias la verdad me ahorre una lana. Saludos!</div>
                  <span class="d-none" itemprop="name">{{$store.state.config.nameprop}}</span>
                  <!-- NOMBRE Y ESTRELLAS -->
                  <div class="navbar p-0 m-0">
                    <span
                      class="dateopinion mt-2"
                      itemprop="author"
                      itemscope
                      :itemtype="$store.state.config.linkRating"
                    >Jessy Hernandez leyva</span>
                    <span class="dateopinion mt-2" itemprop="datePublished">06-02-2019</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <pag />
        <div class="col-12">
          <div class="asgList">
            <li>
              <a href="../../seguros-aba/">
                <div class="imgLinkAsg imgLinkAsgaba" title="aba" ></div>
              </a>
            </li>
            <li>
              <a href="../../seguros-afirme/">
                <div class="imgLinkAsg imgLinkAsgafirme" title="afirme" ></div>
              </a>
            </li>
            <li>
              <a href="../../seguros-el-aguila/">
                <div class="imgLinkAsg imgLinkAsgelaguila" title="el aguila" ></div>
              </a>
            </li>
            <li>
              <a href="../../seguros-aig/">
                <div class="imgLinkAsg imgLinkAsgaig" title="aig" ></div>
              </a>
            </li>
            <li>
              <a href="../../seguros-ana/">
                <div class="imgLinkAsg imgLinkAsgana" title="ana" ></div>
              </a>
            </li>
            <li>
              <a href="../../seguros-atlas/">
                <div class="imgLinkAsg imgLinkAsgatlas" title="atlas" ></div>
              </a>
            </li>
            <li>
              <a href="../../seguros-axa/">
                <div class="imgLinkAsg imgLinkAsgaxa" title="axa" ></div>
              </a>
            </li>
            <li>
              <a href="../../seguros-banorte/">
                <div class="imgLinkAsg imgLinkAsgbanorte" title="banorte" ></div>
              </a>
            </li>
            <li>
              <a href="../../general-de-seguros/">
                <div class="imgLinkAsg imgLinkAsggeneral" title="general de seguros" ></div>
              </a>
            </li>
            <li>
              <a href="../../seguros-gnp/">
                <div class="imgLinkAsg imgLinkAsggnp" title="gnp" ></div>
              </a>
            </li>
            <li>
              <a href="../../seguros-hdi/">
                <div class="imgLinkAsg imgLinkAsghdi" title="hdi" ></div>
              </a>
            </li>
            <li>
              <a href="../../seguros-inbursa/">
                <div class="imgLinkAsg imgLinkAsginbursa" title="inbursa" ></div>
              </a>
            </li>
            <li>
              <a href="../../seguros-la-latino/">
                <div class="imgLinkAsg imgLinkAsglatino" title="la latino" ></div>
              </a>
            </li>
            <li>
              <a href="../../seguros-mapfre/">
                <div class="imgLinkAsg imgLinkAsgmapfre" title="mapfre" ></div>
              </a>
            </li>
            <li>
              <a href="../../seguros-miituo/">
                <div class="imgLinkAsg imgLinkAsgmiituo" title="miituo" ></div>
              </a>
            </li>
            <!--<li>
              <a href="../../seguros-multiva/">
                <div class="imgLinkAsg imgLinkAsgmultiva" title="multiva" ></div>
              </a>
            </li>-->
            <li>
              <a href="../../seguros-ve-por-mas/">
                <div class="imgLinkAsg imgLinkAsgbxmas" title="ve por mas" ></div>
              </a>
            </li>
            <li>
              <a href="../../seguros-el-potosi/">
                <div class="imgLinkAsg imgLinkAsgpotosi" title="el potosi" ></div>
              </a>
            </li>
            <!--<li>
              <a href="../../primero-seguros/">
                <div class="imgLinkAsg imgLinkAsgprimero" title="primero seguros" ></div>
              </a>
            </li>-->
            <li>
              <a href="../../seguros-qualitas/">
                <div class="imgLinkAsg imgLinkAsgqualitas" title="qualitas" ></div>
              </a>
            </li>
            <li>
              <a href="../../seguros-sura/">
                <div class="imgLinkAsg imgLinkAsgsura" title="sura" ></div>
              </a>
            </li>
            <!--<li>
              <a href="../../seguros-uber/">
                <div class="imgLinkAsg imgLinkAsguber" title="uber" ></div>
              </a>
            </li>-->
            <li>
              <a href="../../seguros-zurich/">
                <div class="imgLinkAsg imgLinkAsgzurich" title="zurich" ></div>
              </a>
            </li>
            <li>
              <a href="../../seguros-migo/">
                <div class="imgLinkAsg imgLinkAsgmigo" title="migo" ></div>
              </a>
            </li>
            <!--<li>
              <a href="#">
                <div class="imgLinkAsg2 imgLinkAsgcrabi" title="crabi" ></div>
              </a>
            </li>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import pag from "~/components/utilities/pag.vue";
export default {
  created: function() {
    this.$store.state.config.img = "ms";

    this.$store.state.config.valor3 = "★3.0";
    this.$store.state.config.valor4 = "★4.0";
    this.$store.state.config.valor5 = "★5.0";
    this.$store.state.config.worstRating = "1";
    this.$store.state.config.ratingValue = "4";
    this.$store.state.config.bestRating = "5";
    this.$store.state.config.nameprop = "opinion de cliente";
    this.$store.state.config.linkRating = "http://schema.org/Rating";
    this.$store.state.config.linkReview = "http://schema.org/rating";
    this.$store.state.config.linkReview = "http://schema.org/rating";
  },
  components: {
    pag
  }
};
</script>

<style>
.bgBarra,
.botonTop {
  background-color: #044a94;
}
.r2 {
  background: #044a94;
  color: #fff;
}
</style>