<template>
  <div>
    <promo/>
    <div class="container-fluid" style="background: #f3f3f3">
      <Header></Header>
      <div class="row mt-md-3">
        <div class="container container-leo">
          <div class="row">
            <div class="col-3 d-none d-md-block">
              <section class="bg px-3">
                <div class="text-center py-md-3">
                  <img
                    src="/img/nuevo/logomejorblanco.svg"
                    alt="logo"
                    width="150"
                    height="150"
                    class="img-fluid"
                  />
                </div>
                <div class="my-4 py-2">
                  <ul class="listben">
                    <li class="text-white">
                      <img
                        src="/img/nuevo/check.svg"
                        alt="check"
                        width="17"
                        height="17"
                        class="img-fluid"
                      />
                      <p class="mb-0 mx-2">Atención inmediata en siniestros</p>
                    </li>
                    <li class="text-white">
                      <img
                        src="/img/nuevo/check.svg"
                        alt="check"
                        width="17"
                        height="17"
                        class="img-fluid"
                      />
                      <p class="mb-0 mx-2">
                        Atención Vial: envío de grúa, gasolina y más
                      </p>
                    </li>
                    <li class="text-white">
                      <img
                        src="/img/nuevo/check.svg"
                        alt="check"
                        width="17"
                        height="17"
                        class="img-fluid"
                      />
                      <p class="mb-0 mx-2">Cobertura contra robo y más</p>
                    </li>
                  </ul>
                </div>
                <div class="text-center base">
                  <img
                    v-if="this.$store.state.config.promoSpecial"
                    :src="this.$store.state.config.promoImg"
                    alt="carro"
                    width="60"
                    height="60"
                    class="logprom img-fluid"
                  />
                  <img
                    src="/img/nuevo/auto.png"
                    alt="carro"
                    width="200"
                    height="200"
                    class="img-fluid"
                  />
                </div>
              </section>
            </div>
            <div
              class="col-12 col-sm-12 col-md-9 col-lg-9 pt-4 pt-md-3 pt-lg-3 px-md-3 px-lg-5 bg-white text-center tar-card"
            >
              <div class="row">
                <div class="col-4 d-md-none">
                  <img
                    src="/img/nuevo/logomejor.svg"
                    alt="logo"
                    width="120"
                    height="120"
                    class="img-fluid logasg"
                  />
                </div>
                <div class="col-8 col-md-12 text-center tituloh1">
                  <h1>
                    <img
                      v-if="this.$store.state.config.promoSpecial"
                      :src="this.$store.state.config.promoImg"
                      alt="carro"
                      width="50"
                      height="30"
                      class="logprom img-fluid d-block d-md-none"
                    />
                    Las Mejores Aseguradoras de Autos
                  </h1>
                  <div class="mb-0 descuento">
                    <span>
                      {{ this.$store.state.config.promoLabel }}
                    </span>
                    <span>
                      {{ this.$store.state.config.funnelDto }}
                    </span>
                    <span>
                      {{ this.$store.state.config.funnelMsi }}
                      {{ this.$store.state.config.extraMsg }}
                    </span>
                  </div>
                  <!--<p> {{this.$store.state.config.extraMsg}} </p>-->
                </div>
              </div>
		          <fichamovil/>
              <formulario :config="this.$store.state.config" />
            </div>

            <div class="col-12 col-md-9 offset-md-3 mt-3 mb-1">
              <div class="row">
                <div class="col-6">
                  <img
                    src="/img/nuevo/tarjetas.svg"
                    alt="tarjetas"
                    width="150"
                    height="50"
                    class="img-fluid tarjetas"
                  />
                </div>

                <div class="col-6 px-2 px-md-3">
                  <p class="mb-0 tcandado">
                    <img
                      src="/img/nuevo/candado.svg"
                      alt="candado"
                      width="20"
                      height="20"
                      class="img-fluid imgcan"
                    />
                    Tu información está segura
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <beneficios />

    <!--CONTENIDO-->
    <div class="container-fluid bgCont">
      <div class="row">
        <div class="col-12 px-xl-5">
          <div class="cont">
            <div class="tri"></div>
            <h2>
              Encuentra las mejores aseguradoras de autos en El Mejor Seguro de
              Auto
            </h2>
            <p>
              Poder conseguir las mejores ventajas que las aseguradoras de autos
              ofrecen es necesario que seas consciente de tus necesidades, pero
              sobre todo de las especificaciones que cada una de las compañías
              aseguradoras tienen, para que puedas concretar lo que necesitas,
              así como lo que estas brindan, para poder obtener un mejor
              resultado y bienestar en cada uno de tus caminos.
            </p>
            <p>
              En El Mejor Seguro de Auto, puedes lograr grandes ventajas, así
              como poder encontrar las coberturas que ofrecen las aseguradoras
              de autos, así como poder conseguir una mejor protección y cuidado
              para tu vehículo y de tu propia seguridad, con ello es que
              trabajamos con las mejores aseguradoras del país, además de tener
              grandes descuentos y recompensas en su contratación.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 px-xl-5">
          <div class="cont">
            <!-- & -->
            <h2>
              ¿Por que es importante revisar las aseguradoras de autos antes de
              contratar?
            </h2>
            <p>
              Poder contratar con las mejores aseguradoras de autos es posible,
              por ello es que en El Mejor Seguro de Auto, trabajamos con la
              firme decisión de trabajar con las aseguradoras en México más
              reconocidas de nuestro país, además que nos encargamos de
              ofrecerte la información puntual, para poder tomar una decisión
              más consciente, sobre las coberturas que necesitas y sobre todo
              que es lo que te puede beneficiar.
            </p>
            <p>
              Poder conocer cada una de las aseguradoras que hay en México suena
              ser una tarea complicada, sin embargo esto se puede revisar de la
              manera más rápida y sencilla, además que con El Mejor Seguro de
              Auto, podrás realizar la contratación completa, asegurandote que
              cada uno de tus datos estarán bajo resguardo y en beneficio de tu
              nueva contratación.
            </p>
            <p>
              Cada uno de los seguros de auto que existen, los podrás analizar
              en nuestro portal, ya que de manera adicional ponemos toda la
              información necesaria, para que tu decisión sea la más adecuada
              conforme a tus necesidades, pero sobre todo de las ventajas que
              ofrece cada compañía aseguradora.
            </p>
            <p>
              Los servicios de las aseguradoras están condicionados a un pago,
              mismo que es determinado por ti. ya sea que lo elijas mediante las
              cuotas mensuales, o que la elijas con base en a información, ya
              que es la información que también te puede determinar la prima que
              deseas obtener como asegurado.
            </p>
            <p>
              Las compañías aseguradoras en México, se dedican a comercializar
              un sinfín de productos o de servicios, mismos que van desde los
              fondos de retiro, o de los seguros de vida, seguros de autos que
              son los más conocidos e inclusive si deseas contratar un seguro de
              hogar o de gastos médicos.
            </p>
            <p>
              Se puede conocer lo más importante que cada una de estas brinda,
              además de conocer la importancia de los servicios que otorgan las
              aseguradoras, pues con esto sabrás con lo que podrás contar, bien
              sea ante un imprevisto o lo que necesitas, para poder respaldar la
              estabilidad de tu familia y sobre todo de tu economía, así como la
              protección de tu auto, con la que podrás tener un patrimonio más
              cuidado y estable.
            </p>
            <p>
              Dentro de las principales actividades que las aseguradoras de
              autos tienen, es que suelen enfocarse en ofrecer la seguridad, ya
              que si requieres un mayor cuidado o si simplemente deseas
              contratar la cobertura más completa, tu seguro de auto te servirá
              en cada una de las necesidades que tengas, así como beneficiarte
              de las ventajas que requieres para una protección más adecuada.
            </p>
            <p>
              Un factor importante que debes contemplar antes de contratar con
              una aseguradora es tanto su precio como las reclamaciones que esta
              pueda tener, de la misma manera las buenas valoraciones como
              compañía aseguradora, conforme a su buen servicio y atención de
              calidad.
            </p>
            <!-- & -->
            <h3>¿Cómo funcionan las Compañías Aseguradoras en México?</h3>
            <p>
              De manera más sencilla, podemos denotar que las aseguradoras de
              autos son un medio capaz de brindarte la protección necesaria y
              adecuada ante los riesgos que acechan a las personas y sus bienes
              materiales. Como parte de esta protección, se logra condicionar,
              bajo un pago o mejor conocido como prima, esta podrá ser realizada
              cada mes, semestral, e inclusive anual, esta parte será cubierta
              por el beneficiario o titular de determinada póliza de seguro.
            </p>
            <p>
              Como una de sus principales actividades que deben de realizar las
              compañías aseguradoras en México estan, poder atender de manera
              adecuada y oportuna las necesidades de las personas que hayan
              contratado aún cuando estas lo realicen a través de una razón
              social o de las mismas personas físicas; con el propósito
              primordial de ofrecer la seguridad y respaldo ante siniestros o
              accidentes pactados en la póliza.
            </p>
            <p>
              En la actualidad nuestro país cuenta con muchas aseguradoras de
              autos, capaces de ofrecer un servicio de calidad, conforme a tus
              necesidades y presupuesto, ya que estas se pueden adaptar a tus
              especificaciones como cliente, estas se encargan principalmente de
              protegerte con servicios de calidad dentro de los que podemos
              encontrar diferentes alternativas de seguro como:
            </p>
            <ul>
              <li>
                <div
                  :class="'imgCheckSize imgCheck' + $store.state.config.img"
                ></div>
                &nbsp; <strong>Seguros de Auto</strong>: Es fundamental que
                recuerdes que por disposición de ley, debes contar con una
                póliza de seguro, capaz de respaldarte y ofrecer mayor
                protección ante un accidente, sobre todo en el momento que se
                resulte responsable de daños o lesiones a un tercero, con una
                póliza de seguro de auto puedes contar con:
              </li>
              <li>
                <div
                  :class="'imgCheckSize imgCheck' + $store.state.config.img"
                ></div>
                &nbsp;Responsabilidad Civil, por daños a terceros.
              </li>
              <li>
                <div
                  :class="'imgCheckSize imgCheck' + $store.state.config.img"
                ></div>
                &nbsp;Gastos Médicos para ti y los ocupantes del vehículo en el
                momento del accidente.
              </li>
              <li>
                <div
                  :class="'imgCheckSize imgCheck' + $store.state.config.img"
                ></div>
                &nbsp;Asesoría y atención jurídica.
              </li>
              <li>
                <div
                  :class="'imgCheckSize imgCheck' + $store.state.config.img"
                ></div>
                &nbsp; <strong>Seguros para Moto</strong>: Podrás encontrar la
                protección y seguridad que necesitas en el momento indicado,
                esta se otorgará una protección y cuidado como motociclista,
                ante los accidentes que te puedan ocurrir en la moto, además de
                encargarse de tu responsabilidad civil en caso de perjudicar a
                un tercero.
              </li>
              <li>
                <div
                  :class="'imgCheckSize imgCheck' + $store.state.config.img"
                ></div>
                &nbsp; <strong>Seguro de Gastos Médicos</strong>: Con una póliza
                de seguro de gastos médicos estas garantizando tu calidad de
                vida, con una mejor atención de manera oportuna ante
                padecimientos o enfermedades que te puedan llegar a ocurrir,
                además que podrás recibir toda la asesoría y atención necesaria
                en caso de necesitarlo a causa de un accidente, podrás contar
                con beneficios como:
              </li>
              <li>
                <div
                  :class="'imgCheckSize imgCheck' + $store.state.config.img"
                ></div>
                &nbsp;Atención Médica Hospitalaria.
              </li>
              <li>
                <div
                  :class="'imgCheckSize imgCheck' + $store.state.config.img"
                ></div>
                &nbsp;Servicio de hospitalización y/o curaciones.
              </li>
              <li>
                <div
                  :class="'imgCheckSize imgCheck' + $store.state.config.img"
                ></div>
                &nbsp;Atención y cuidados maternos.
              </li>
              <li>
                <div
                  :class="'imgCheckSize imgCheck' + $store.state.config.img"
                ></div>
                &nbsp;Análisis clínicos.
              </li>
              <li>
                <div
                  :class="'imgCheckSize imgCheck' + $store.state.config.img"
                ></div>
                &nbsp; <strong>Seguro de Vida</strong>: Este tipo de seguro
                tiene como principal objetivo poder ofrecerte la seguridad y
                protección para tu familia en caso de tu fallecimiento, pues en
                el momento que el asegurado muera, se le entregará la suma
                asegurada a las personas beneficiarias contempladas en la
                póliza. Además que podrás contar con el apoyo monetario en los
                Gastos Funerarios.
              </li>
              <li>
                <div
                  :class="'imgCheckSize imgCheck' + $store.state.config.img"
                ></div>
                &nbsp; <strong>Seguro de Hogar</strong>: Con el Seguro de Hogar,
                estas garantizando la protección y estabilidad de tu casa, pues
                conseguirás tener una cobertura de atención y cobertura ante los
                riesgos que acechan tu hogar, dentro de ellos encontramos los
                desastres naturales como las inundaciones, terremotos, o del
                mismo robo de tu vivienda.
              </li>
              <li>
                <div
                  :class="'imgCheckSize imgCheck' + $store.state.config.img"
                ></div>
                &nbsp; <strong>Seguros de Pyme y Seguros Educativos</strong>:
                Consta de poder contar con la protección adecuada tanto para las
                empresas como para las escuelas e instituciones educativas, en
                contra de cualquier eventualidad que las pueda afectar o
                perjudicar.
              </li>
            </ul>
            <!-- & -->
            <h3 class="title">
              ¿Cómo conseguir la mejor aseguradora de autos?
            </h3>
            <p>
              Una de las principales dudas que cada uno de nuestros clientes
              presenta es sobre como poder decidir dentro de las diferentes
              aseguradoras de autos, además de poder conocer las necesidades que
              tienes tu y tu vehículo, para poder conseguir lo mejor y más ideal
              conforme a tu estilo de vida, para una mejor comodidad, cuidado y
              protección.
            </p>
            <p>
              Para saber cual es la mejor compañía aseguradora en nuestro país,
              es importante que consideres antes de contratar los siguientes
              aspectos:
            </p>
            <ul>
              <li>
                <div
                  :class="'imgCheckSize imgCheck' + $store.state.config.img"
                ></div>
                &nbsp;Presta especial cuidado y atención a el producto o
                servicio que deseas y que se pueda adaptar a tus necesidades,
                para ello es importante que revises los precios y las
                coberturas.
              </li>
              <li>
                <div
                  :class="'imgCheckSize imgCheck' + $store.state.config.img"
                ></div>
                &nbsp; <strong>Precio</strong>: Para poder tener una póliza de
                seguro es importante, que analices los precios de las
                aseguradoras, y que te permita poder tener la solvencia para
                enfrentar todos los riesgos que vendan sin perder todo el
                capital.
              </li>
              <li>
                <div
                  :class="'imgCheckSize imgCheck' + $store.state.config.img"
                ></div>
                &nbsp;En referencia a el precio, los factores necesarios a
                considerar son tu lugar de residencia o tu historial como
                conductor.
              </li>
              <li>
                <div
                  :class="'imgCheckSize imgCheck' + $store.state.config.img"
                ></div>
                &nbsp;
                <strong>Solvencia financiera de las aseguradoras</strong>:
                Necesitas contemplar los resultados financieros, como la
                siniestralidad que resuelven, los precios y demás.
              </li>
              <li>
                <div
                  :class="'imgCheckSize imgCheck' + $store.state.config.img"
                ></div>
                &nbsp;Si cuentas con una póliza que tiene diferentes siniestros
                durante toda la vigencia, al momento de renovar te darán un
                precio más alto para que la utilices menos.
              </li>
              <li>
                <div
                  :class="'imgCheckSize imgCheck' + $store.state.config.img"
                ></div>
                &nbsp; <strong>Relación Costo-Beneficio</strong>: En el momento
                que decidas cotizar un seguro de lo que sea, es necesario que
                contemples las coberturas que están brindando por un precio
                determinado y sobre todo que compares las diferentes opciones.
              </li>
              <li>
                <div
                  :class="'imgCheckSize imgCheck' + $store.state.config.img"
                ></div>
                &nbsp;Es ideal que consultes un agente de seguros, para que
                puedas aclarar las dudas, y que te explique las coberturas y las
                mismas limitaciones o exclusiones de cada una.
              </li>
              <li>
                <div
                  :class="'imgCheckSize imgCheck' + $store.state.config.img"
                ></div>
                &nbsp; <strong>Calidad de servicio y atención</strong>: Como una
                de las mejores recomendaciones es importante que consideres un
                buen parámetro para que sepas si es una buena compañía o si se
                coloca como una de las mejores aseguradoras de autos.
              </li>
              <li>
                <div
                  :class="'imgCheckSize imgCheck' + $store.state.config.img"
                ></div>
                &nbsp;Dentro de ello debes considerar, el tiempo de atención, la
                información de tu auto, para que estén correctamente redactadas,
                que cuentes con la facilidad de trámite, las correcciones, la
                agilidad correcta para poder cobrarte, el seguimiento como
                cliente a tus cobros subsecuentes o de las mismas renovaciones.
              </li>
              <li>
                <div
                  :class="'imgCheckSize imgCheck' + $store.state.config.img"
                ></div>
                &nbsp;
                <strong
                  >Eficiencia en el servicio al necesitar el apoyo de un
                  ajustador</strong
                >: Es importante para evaluar, que analices las estadísticas e
                índices de la Condusef, como las calificaciones, estas miden los
                diferentes criterios como el desempeño general, el índice de
                desempeño de atención a usuarios, como la calificación que
                observa los procesos de atención de las aseguradoras para
                atender a los usuarios.
              </li>
              <li>
                <div
                  :class="'imgCheckSize imgCheck' + $store.state.config.img"
                ></div>
                &nbsp;
                <strong>Veracidad en el cumplimiento de las cláusulas</strong>:
                La Condusef es la que cuenta con las mismas evaluaciones sobre
                el nivel de satisfacción de sus clientes como las aseguradoras
                de autos los presenta, el registro en el Buró de Entidades
                Financieras y que sobre contenga una buena calificación
                individual por usuario.
              </li>
            </ul>
            <!-- & -->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "~/components/common/header-principal.vue";
import fichamovil from "~/components/common/fichapromosub.vue";
import beneficios from "~/components/common/beneficios.vue";
import formulario from "~/components/forms/autosForm.vue";
import promo from "~/components/common/fichadescuentofunnel.vue";
import telefonoService from "~/plugins/telefonoService.js";


export default {
  beforeCreate() {
    this.$store.state.config.aseguradora = "QUALITAS";
    this.$store.state.config.catalogo_directo = true;
    this.$store.state.general = true;
    this.$store.state.config.cotizacion = false;
    this.$store.state.config.emision = true;
    this.$store.state.config.grupoCallback = "VN COMPARADOR M";
    this.$store.state.config.from = "DOMINIO-GNP";
    this.$store.state.config.urlRedireccion = "/aseguradoras-de-autos";
    this.$store.state.config.idPagina = 54;
    this.$store.state.config.idMedioDifusion = 1301;
    this.$store.state.config.idInteraccion = 1301;
    this.$store.state.config.idEcommerce = 1301;
    this.$store.state.config.idSubRamo = 50;
    this.$store.state.config.dominioCorreo =
      "QUALITAS|mejorsegurodeauto-mx-qualitas";
    this.$store.state.config.textoSMS =
      "Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.";
    // this.$store.state.config.idCampana = 70;
    this.$store.state.config.img = "ms";
    this.$store.state.config.asgNombre = "Mejor Seguro de Auto";
    this.$store.state.config.telefonoAS = "47440410";
    this.$store.state.config.h1 = "Las Mejores Aseguradoras de Autos";
    this.$store.state.config.k1 = "Aseguradoras";
    this.$store.state.config.k2 = "Aseguradoras de Autos";
    this.$store.state.config.k3 = "Aseguradoras en México";
    this.$store.state.config.k4 = "Mejores aseguradoras de autos";
    this.$store.state.config.k5 = "mejores aseguradoras";
    this.$store.state.config.k6 = "Aseguradoras";
    this.$store.state.config.k7 = "Aseguradoras de Autos";
  },

  components: {
    Header,
    fichamovil,
    beneficios,
    promo,
    formulario,
  },
  head() {
    return {
      title:
        "Aseguradoras de Autos - Aseguradoras en México - Mejor Seguro de Auto",
      meta: [
        {
          hid: "keywords",
          name: "keywords",
          content:
            "Aseguradoras, Aseguradoras de Autos, Aseguradoras en México, Mejores aseguradoras de autos, mejores aseguradoras",
        },
        {
          hid: "description",
          name: "description",
          content:
            "En el Mejor Seguro de Auto cotiza con más de 20 Aseguradoras de Autos al mejor precio. Tenemos las mejores coberturas para tu auto. ¡Cotiza fácil y rápido!",
        },
        { hid: "author", name: "author", content: "twitter | @vargasdesignMx" },
        {
          hid: "sitemap",
          rel: "sitemap",
          type: "application/xml",
          title: "sitemap",
          href: "sitemap.xml",
        },
        {
          hid: "canonical",
          rel: "canonical",
          href: "https://mejorsegurodeauto.mx/aseguradoras-de-autos/",
        },
        { hid: "robots", name: "robots", content: "index,follow" },
      ],
    };
  },
};
</script>
<style>
.imgLogoAsg {
  width: 118px;
}

h1,
.tuPatita p,
h2,
h3,
h4,
h5 {
  color: #044a94;
}
.bg {
  background-color: #044a94;
  border-radius: 5px;
  height: 100%;
}
.addCont p {
  color: #044a94;
  border-bottom: 2px solid #044a94;
}
.addCont span,
.tabla thead th,
.botonTop,
.alertaColor {
  background: #044a94;
}
.imgMsdaSize {
  background-position: -220px -11px;
}
.imgTelSize {
  background-position: -343px -10px;
}
.imgMulta {
  background-position: -404px -10px;
}
.imgReloj {
  background-position: -457px -11px;
}
.imgChevron {
  background-position: -280px -7px;
}
.imgTrailerSize {
  background-position: -469px 0;
}
.imgBochoSize {
  background-position: -506px 8px;
}
.imgTarjetaSize {
  background-position: -673px 0;
}
.imgCheckSize {
  background-position: -774px -6px;
}
.imgSuv {
  background-position: -755px 4px;
}
.imgLupa {
  background-position: -905px -5px;
}
.imgEscudo {
  background-position: -983px -6px;
}
.imgMsdaBlanco {
  background-position: -796px 0;
}
.imgEstrellaSize {
  background-position: -956px -10px;
}
.imgLogoSize {
  background-position: -131px -34px;
  background-size: 1600px;
}
@media (min-width: 1024px) and (max-width: 1199px) {
}
@media (min-width: 768px) and (max-width: 1024px) {
}
@media (min-width: 426px) and (max-width: 767px) {
  .bg {
    background: #044a94;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .bg {
    background: #044a94;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .bg {
    background: #044a94;
  }
}
@media (min-width: 280px) and (max-width: 320px) {
  .bg {
    background: #044a94;
  }
}
</style>
