<template>
  <div class="container-fluid">
    <div class="row">
      <form
        class="mt-4 mt-md-2"
        id="formcotizar"
        method="POST"
        action=""
        @submit.prevent="validateBeforeSubmit('formcotizar')"
      >
        <div class="row py-md-2 form-row">
          <div class="col-12 mb-md-2 padd">
            <input
              id="marca"
              name="marca"
              required=""
              type="hidden"
              v-model="$store.state.formData.marca"
            />
            <input
              id="modelo"
              name="modelo"
              required=""
              type="hidden"
              v-model="$store.state.formData.modelo"
            />
            <input
              id="descripcion"
              name="descripcion"
              required=""
              type="hidden"
              v-model="$store.state.formData.descripcion"
            />
            <input
              id="detalle"
              name="detalle"
              required=""
              type="hidden"
              v-model="$store.state.formData.detalle"
            />
            <multiselect
              ref="multiselect"
              :allow-empty="false"
              v-model="value"
              class="form-control acentoBorde"
              required=""
              deselectGroupLabel=""
              :searchable="false"
              selectGroupLabel=""
              tagPlaceholder=""
              deselectLabel=""
              selectLabel=""
              :options="options"
              :multiple="true"
              :close-on-select="ready"
              :clear-on-select="true"
              :hide-selected="true"
              :preserve-search="false"
              :placeholder="placeholderSelect"
              :loading="isLoading"
              label="text"
              track-by="id"
              open-direction="bottom"
              :taggable="true"
              @select="dispatchAction"
              @close="isOpen = false"
              @open="isOpen = true"
            >
              <template slot="tag" slot-scope="props"
                ><span class="tag"
                  >{{ props.option.text
                  }}<a
                    class="custom__remove"
                    style="cursor: pointer"
                    @click="
                      props.remove(props.option);
                      refreshSomething(props.option);
                    "
                    >✖️ <span>&nbsp;</span>
                  </a>
                </span></template
              >
            </multiselect>
            <small style="display: none; color: red" class="marcaReq"
              ><span>El campo marca es requerido</span></small
            >
            <small style="display: none; color: red" class="modeloReq"
              ><span>El campo modelo es requerido</span></small
            >
            <small style="display: none; color: red" class="descripcionReq"
              ><span>El campo descripcion es requerido</span></small
            >
            <small style="display: none; color: red" class="detalleReq"
              ><span>El campo subDescripción es requerido</span></small
            >
          </div>
        </div>

        <div class="row py-2 form-row">
          <div class="col-12 col-sm-12 col-md-4 mb-2 padd">
            <select
              title="edad"
              name="edad"
              id="edad"
              required
              class="form-control form-select fs14 form-style"
              style="overflow: hidden; width: 100%"
              @change="
                calculaFechaNacimiento(),
                  myFocus('genero'),
                  warningReq('edadReq')
              "
              v-model="$store.state.formData.edad"
            >
              <option value>Edad del conductor</option>
              <option v-for="e in edades" v-bind:key="e">{{ e }}</option>
            </select>
            <small style="display: none; color: red" class="edadReq"
              ><span>El campo edad es requerido</span></small
            >
          </div>

          <!-- GENERO -->
          <div class="col-12 col-sm-12 col-md-4 mb-2 padd">
            <select
              title="genero"
              name="genero"
              required=""
              id="genero"
              class="form-control form-select fs14 form-style"
              style="overflow: hidden; width: 100%"
              @change="myFocus('cp'), warningReq('generoReq')"
              v-model="$store.state.formData.genero"
            >
              <option value>Selecciona tu Género</option>
              <option value="M">Masculino</option>
              <option value="F">Femenino</option>
            </select>
            <small style="display: none; color: red" class="generoReq"
              ><span>El campo genero es requerido</span></small
            >
          </div>
          <!-- CODIGO POSTAL -->
          <div class="col-12 col-sm-12 col-md-4 mb-2 padd form-floating">
            <input
              title="cp"
              type="tel"
              name="cp"
              id="cp"
              required=""
              maxlength="5"
              minlength="5"
              onKeyPress="if(this.value.length === 5) return false;"
              class="form-control form-style"
              placeholder="Escribe tu Código Postal"
              @change="myFocus('nombre')"
              v-model="cp"
            />
            <label for="cp" class="text-center ps-4"
              >Escribe tu Código Postal</label
            >
            <small style="display: none; color: red" class="cpReq"
              ><span>El campo código postal es requerido</span></small
            >
            <small style="display: none; color: red" class="cpInc"
              ><span style="color: #a21983"
                >Escribe tu código postal a 5 dígitos</span
              ></small
            >
          </div>
          <!-- NOMBRE -->
          <div
            class="col-12 col-sm-12 col-md-4 col-lg-4 mb-2 padd form-floating"
          >
            <input
              title="nombre"
              type="text"
              name="nombre"
              id="nombre"
              required=""
              pattern="[A-Za-z\s]{3,50}"
              class="form-control form-style"
              placeholder="Escribe tu nombre"
              @change="space('nombre')"
              v-model="nombre"
            />
            <label for="nombre" class="text-center ps-4"
              >Escribe tu nombre</label
            >
            <small style="display: none; color: red" class="nombreReq"
              ><span>El campo nombre es requerido</span></small
            >
            <small style="display: none; color: red" class="nombreInc"
              ><span style="color: #a21983"
                >Escribe el nombre correcto</span
              ></small
            >
          </div>
          <!-- CORREO -->
          <div
            class="col-12 col-sm-12 col-md-4 col-lg-4 padd mb-2 form-floating"
          >
            <input
              title="correo"
              type="email"
              name="correo"
              id="correo"
              required
              pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
              minlength="8"
              maxlength="50"
              class="form-control form-style"
              placeholder="Escribe tu email"
              @change="space('correo')"
              v-model="correo"
            />
            <label for="correo" class="text-center ps-4"
              >Escribe tu email</label
            >
            <small style="display: none; color: red" class="correoReq"
              ><span>El campo e-mail es requerido</span></small
            >
            <small style="display: none; color: red" class="correoInc"
              ><span style="color: #a21983"
                >Ejemplo: tuemail@email.com</span
              ></small
            >
          </div>
          <!-- TELEFONO -->
          <div
            class="col-12 col-sm-12 col-md-4 col-lg-4 padd mb-2 form-floating"
          >
            <input
              title="telefono"
              type="tel"
              name="telefono"
              id="telefono"
              required=""
              pattern="^(0*[,.]*[0-9][0-9]*([,.][0-9]+)*|[0-9]?[,.][0-9]*[1-9][0-9]*)?\d{10}$"
              maxlength="10"
              minlength="10"
              onKeyPress="if(this.value.length === 10) return false;"
              class="form-control form-style"
              placeholder="Escribe tu teléfono"
              @change="myFocus('btnCotizarAuto')"
              v-model="telefono"
            />
            <label for="telefono" class="text-center ps-4"
              >Escribe tu teléfono</label
            >
            <small style="display: none; color: red" class="telefonoReq"
              ><span>El campo telefono es requerido</span></small
            >
            <small style="display: none; color: red" class="telefonoInc"
              ><span style="color: #a21983"
                >Escribe tu número a 10 dígitos</span
              ></small
            >
          </div>
        </div>
        <!-- CHECKBOX -->
        <div class="col-12 text-left">
          <privacidad-component />
        </div>
        <div class="col-12 px-0">
          <button
            type="submit"
            class="btn btn-success btn-successCuadrado btn-lg col-12 my-4 rounded-0"
            id="btnCotizarAuto"
            :disabled="oneClick"
          >
            Cotizar Gratis
            <img
              src="/img/nuevo/flecha-q.svg"
              alt="arriba"
              class="flecha"
              width="25"
              height="25"
            />
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import privacidadComponent from "~/components/common/modal.vue";
import Multiselect from "vue-multiselect";
import catalogosDirectos from "~/plugins/catalogosDirectos";

const Cdirecto = new catalogosDirectos();

export default {
  data() {
    return {
      accessToken: "",
      stepLocal: 0,
      oneClick: false,
      block: "['backspace']",
      isOpen: false,
      selected: {},
      placeholderSelect: "Selecciona una marca",
      edad: "",
      edades: [],
      genero: "",
      telefono: "",
      cp: "",
      ready: false,
      isLoading: false,
      detalles: [],
      firstStep: true,
      detalleS: [],
      aseguradora: "",
      x: {},
      cotizacionResponse: {},
      descuentoS: "0",
      value: [],
      options: [],
      cotizaciones: [],
      email: "",
      filteredOptions: [],
      nombre: "",
      correo: "",
      //accessToken: "",
      marca: "",
      modelo: "",
      descripcion: "",
      detalle: "",
      formValido: 0,
      warning_req: [
        { id: "marcaReq" },
        { id: "modeloReq" },
        { id: "descripcionReq" },
        { id: "detalleReq" },
        { id: "edadReq" },
        { id: "generoReq" },
        { id: "cpReq" },
        { id: "nombreReq" },
        { id: "correoReq" },
        { id: "telefonoReq" },
      ],
    };
  },
  components: {
    privacidadComponent,
    Multiselect,
  }, //FIN components
  beforeCreate() {
    this.$store.commit("validarTokenCore");
    this.isLoading = true;
  }, //FIN beforeCreate

  async created() {
    if (!this.$store.state.config.reload) {
      this.$store.state.config.reload = true;
      if (typeof window !== "undefined") {
        window.location.reload();
      }
    }
    //URL ORIGEN
    if (typeof window !== "undefined") {
      this.$store.state.formData.urlOrigen = window.location.href;
    }
    // INICIO DE LA DETECCION DE UTM
    this.$store.state.formData.utmSource = this.$route.query.utm_source
      ? this.$route.query.utm_source
      : "organic-mejorseguro";
    this.$store.state.formData.utmMedium = this.$route.query.utm_medium
      ? this.$route.query.utm_medium
      : "seo";
    this.$store.state.formData.utmCampaign = this.$route.query.utm_campaign
      ? this.$route.query.utm_campaign
      : "organic-seo-mejorseguro";
    this.$store.state.formData.utmId = this.$route.query.utm_id
      ? this.$route.query.utm_id
      : "54";
    // FIN DE LA DETECCION DE UTM

    this.$store.state.imgAseg = "ELAGUILA";
    this.$store.state.promoRecomendada = "-35% de descuento";
    this.$store.state.msipromo = "+ 3, 6 y 12 Meses Sin Intereses";
    this.refreshMarcas();
    this.llenarEdades();

    if (
      this.$store.state.sin_token === true ||
      this.$store.state.sin_token === "expirado"
    ) {
      await this.$store
        .dispatch("getToken")
        .then((resp) => {
          if (typeof resp.data == "undefined") {
            this.accessToken = resp.accessToken;
          } else if (typeof resp.data.accessToken != "undefined") {
            this.accessToken = resp.data.accessToken;
          }
        })
        .catch((error) => {});
    } else {
      this.accessToken = this.$store.state.config.accessToken;
    }
  }, //FIN async created
  methods: {
    refreshMarcas: function () {
      this.options = [];
      this.isLoading = false;
      // CATALOGOS INTERNOS
        let aseguradora = this.$store.state.config.aseguradora;
        Cdirecto.marcas()
          .then((resp) => {
            resp.data.forEach((el) => {
              this.options.push({ id: "m" + el.id, text: el.text });
            });
          })
          .catch((error) => {
            var status = error.status ? error.status : 500;
            var message = error.data
              ? JSON.stringify({
                  error: error.data,
                  peticion: error.config.params,
                })
              : "ERR_CONNECTION_REFUSED";
          });

    },
    refreshModelos: function () {
      this.options = [];
      this.isLoading = true;
        Cdirecto.modelos(
          this.$store.state.formData.marca
        )
          .then((resp) => {
            // this.options = resp.data;
            resp.data.forEach((el) => {
              this.options.push({ id: "o" + el.id, text: el.text });
            });
            this.isLoading = false;
            this.placeholderSelect = "Selecciona un modelo";
          })
          .catch((error) => {
            var status = error.status ? error.status : 500;
            var message = error.data
              ? JSON.stringify({
                  error: error.data,
                  peticion: error.config.params,
                })
              : "ERR_CONNECTION_REFUSED";
          });
     
    },
    refreshDescripciones: function () {
      this.options = [];
      this.isLoading = true;
        Cdirecto.submarcas(
          this.$store.state.formData.marca,
          this.$store.state.formData.modelo
        )
          .then((resp) => {
            // this.options = resp.data;
            resp.data.forEach((el) => {
              this.options.push({ id: "d" + el.id, text: el.text });
            });
            this.isLoading = false;
            this.placeholderSelect = "Selecciona una descripcion";
          })
          .catch((error) => {
            var status = error.status ? error.status : 500;
            var message = error.data
              ? JSON.stringify({
                  error: error.data,
                  peticion: error.config.params,
                })
              : "ERR_CONNECTION_REFUSED";
          });
    },
    refreshSubdescripciones: function () {
      this.options = [];
      this.isLoading = true;
        Cdirecto.descripciones(
          this.$store.state.formData.marca,
          this.$store.state.formData.modelo,
          this.$store.state.formData.descripcion
        )
          .then((resp) => {
            // this.options = resp.data;
            resp.data.forEach((el) => {
              this.options.push({ id: "s" + el.id, text: el.text });
            });
            this.isLoading = false;
            this.placeholderSelect = "Selecciona una subdescripcion";
          })
          .catch((error) => {
            var status = error.status ? error.status : 500;
            var message = error.data
              ? JSON.stringify({
                  error: error.data,
                  peticion: error.config.params,
                })
              : "ERR_CONNECTION_REFUSED";
          });
    },
    dispatchAction(newVal) {
      this.options = [];

      if (newVal.id.charAt(0) === "m") {
        this.options = [];
        this.marca = newVal.text;
        this.$store.state.formData.marca = newVal.text;
        this.selected = {};
        this.refreshModelos();
        this.warningReq("marcaReq");
        // this.stepLocal = 1;
      }
      if (newVal.id.charAt(0) === "o") {
        this.options = [];
        this.modelo = newVal.text;
        this.selected = {};
        this.$store.state.formData.modelo = newVal.text;
        this.refreshDescripciones();
        this.warningReq("modeloReq");
        // this.stepLocal = 2;
      }
      if (newVal.id.charAt(0) === "d") {
        this.options = [];
        this.descripcion = newVal.text;
        this.$store.state.formData.descripcion = newVal.text;
        this.selected = {};
        this.refreshSubdescripciones();
        this.warningReq("descripcionReq");
        // this.stepLocal = 3;
      }
      if (newVal.id.charAt(0) === "s") {
        this.detalle = newVal.text;
        this.$store.state.formData.detalle = newVal.text;
        this.$store.state.formData.detalleid = newVal.id.substring(1);
        this.myFocus("edad");
        this.placeholderSelect = "";
        this.isLoading = false;
        this.warningReq("detalleReq");
      }
    },
    refreshSomething: function (deleted) {
      if (deleted.id.charAt(0) === "m") {
        this._self.limpiarMarcas();
        return;
      }
      if (deleted.id.charAt(0) === "o") {
        this.limpiarModelos();
        return;
      }
      if (deleted.id.charAt(0) === "d") {
        this.limpiarDescripciones();
        return;
      }
      if (deleted.id.charAt(0) === "s") {
        this.limpiarsubDescripcion();
        return;
      }
    },
    limpiarMarcas: function () {
      this.selected = {};
      this.$store.state.formData.detalle = "";
      this.$store.state.formData.descripcion = "";
      this.$store.state.formData.modelo = "";
      this.$store.state.formData.marca = "";
      this.ready = false;
      this.value = [];
      this.refreshMarcas();
      this.warningReq("marcaReq");
      this.warningReq("modeloReq");
    },
    limpiarModelos: function () {
      this.selected = {};
      this.$store.state.formData.detalle = "";
      this.$store.state.formData.descripcion = "";
      this.$store.state.formData.modelo = "";
      this.ready = false;
      var x = [];
      for (var i in this.value)
        if (this.value[i].id.charAt(0) == "m") x.push(this.value[i]);
      this.value = x;
      this.refreshModelos();
      this.warningReq("modeloReq");
      this.warningReq("descripcionReq");
    },
    limpiarDescripciones() {
      this.selected = {};
      this.$store.state.formData.detalle = "";
      this.$store.state.formData.descripcion = "";
      this.ready = false;
      var x = [];
      for (var i in this.value)
        if (
          this.value[i].id.charAt(0) == "m" ||
          this.value[i].id.charAt(0) == "o"
        )
          x.push(this.value[i]);
      this.value = x;
      this.refreshDescripciones();
      this.warningReq("descripcionReq");
      this.warningReq("detalleReq");
    },
    limpiarsubDescripcion() {
      this.selected = {};
      this.$store.state.formData.detalle = "";
      this.ready = false;
      var x = [];
      for (var i in this.value)
        if (
          this.value[i].id.charAt(0) == "m" ||
          this.value[i].id.charAt(0) == "o" ||
          this.value[i].id.charAt(0) == "d"
        )
          x.push(this.value[i]);
      this.value = x;
      this.refreshSubdescripciones();
      this.warningReq("detalleReq");
    },
    validateBeforeSubmit(scope) {
      this.formValido = 1;

      for (var w in this.warning_req) {
        //w=indices
        this.warningReq(this.warning_req[w].id);
      }
      if (this.formValido) {
        this.oneClick = true;
        this.$store.state.config.loading = true;
        if (typeof this.$store.state.formData != "undefined") {
          if (this.$store.state.formData.detalle != "") {
            // this.$router.push({ path: this.$store.state.config.urlRedireccion });
            $nuxt._router.push({
              path: "/" + this.$store.state.config.urlRedireccion + "/thanks/#",
            });
          }
        }
      }
    },

    calculaFechaNacimiento() {
      this.$store.state.formData.fechaNacimiento = (
        "01/01/" +
        (new Date().getFullYear() - this.$store.state.formData.edad)
      ).toString("dd/MM/yyyy");
      this.myFocus("genero");
    },
    llenarEdades() {
      for (var i = 18; i <= 99; i++) {
        this.edades.push(i);
      }
    },
    myFocus: function (id) {
      setTimeout(alertFunc, 1000);
      function alertFunc() {
        var e = document.getElementById(id);
        if (e) {
          e.focus();
        }
      }
    },

    //Validacion para funnel
    warningReq: function (idWarning) {
      var id = idWarning.substring(0, idWarning.length - 3);
      var elemento = document.getElementById(id);
      if (elemento) {
        //valida que exista
        //ocultar warningReq
        var req = document.getElementsByClassName(idWarning);

        this.warningInc(idWarning, "none");
        let text = elemento.className;
        let result = text.replace(" is-invalid", "");
        let result2 = result.replace(" is-valid", "");
        elemento.className = result2;

        if (typeof req[0] != "undefined") {
          req[0].style.display = "none";
        }
        //catalogos
        if (id == "marca" && this.$store.state.formData.marca == "") {
          var req = document.getElementsByClassName(idWarning);
          if (typeof req[0] != "undefined") {
            req[0].style.display = "block";
            this.formValido = 0;
          }
        }
        if (
          id == "modelo" &&
          this.$store.state.formData.modelo == "" &&
          this.$store.state.formData.marca != ""
        ) {
          this.warningInc(idWarning, "block");
          this.formValido = 0;
        }
        if (
          id == "descripcion" &&
          this.$store.state.formData.descripcion == "" &&
          this.$store.state.formData.modelo != ""
        ) {
          this.warningInc(idWarning, "block");
          this.formValido = 0;
        }
        if (
          id == "detalle" &&
          this.$store.state.formData.detalle == "" &&
          this.$store.state.formData.descripcion != ""
        ) {
          this.warningInc(idWarning, "block");
          this.formValido = 0;
        }

        if (id == "edad" && this.$store.state.formData.edad == "") {
          elemento.className = elemento.className + " is-invalid";
          this.formValido = 0;
          if (elemento.value == "") {
            this.warningInc(idWarning, "block");
          }
        }

        if (id == "genero" && this.$store.state.formData.genero == "") {
          elemento.className = elemento.className + " is-invalid";
          this.formValido = 0;
          if (elemento.value == "") {
            this.warningInc(idWarning, "block");
          }
        }
        if (id == "cp" && this.$store.state.formData.cp == "") {
          elemento.className = elemento.className + " is-invalid";
          this.formValido = 0;
          if (elemento.value == "") {
            this.warningInc(idWarning, "block");
          }
        }
        if (id == "nombre" && this.$store.state.formData.nombre == "") {
          elemento.className = elemento.className + " is-invalid";
          this.formValido = 0;
          if (elemento.value == "") {
            this.warningInc(idWarning, "block");
          }
        }
        if (id == "correo" && this.$store.state.formData.correo == "") {
          elemento.className = elemento.className + " is-invalid";
          this.formValido = 0;
          if (elemento.value == "") {
            this.warningInc(idWarning, "block");
          }
        }
        if (id == "telefono" && this.$store.state.formData.telefono == "") {
          elemento.className = elemento.className + " is-invalid";
          this.formValido = 0;
          if (elemento.value == "") {
            this.warningInc(idWarning, "block");
          }
        } else {
          elemento.className = elemento.className + " is-valid";
        }
      } else {
        console.log("No existe el elemento con id " + id);
      }
    }, //FIN warningReq
    warningInc: function (id, view) {
      var req = document.getElementsByClassName(id);
      if (typeof req[0] != "undefined") {
        req[0].style.display = view;
      }
    }, //FIN warningInc
    myTrim_start: function (x) {
      //return x.replace(/^\s+|\s+$/gm,'');//Funcionamiento original de trim();
      return x.replace(/^\s+/, "");
    }, //FIN myTrim

    checkCaracter: function (caracter, tipo) {
      var regExp = "";
      if (tipo == "numero") {
        regExp = /[0-9]/;
      } else {
        regExp = /^[a-zA-ZÀ-ÿ\u00f1\u00d1\s]/;
      }
      //regresa true si el caracter es valido
      return regExp.test(caracter);
    },
    repetirCaracter: function (veces, valor, excepcion) {
      let regExp = new RegExp(`(.)\\1{${veces}}`);
      var result = regExp.exec(valor);
      if (result && valor != excepcion) {
        var inicio = valor.substring(0, result.index);
        var final = valor.substring(result.index + 1, valor.length);
        return inicio + final;
      } else {
        return valor;
      }
    },
    expresionRegularFinal: function (regExp, valor, campo) {
      var result = regExp.exec(valor);
      if (result) {
        this.$store.state.formData[campo] = valor.trim();
        //Oculta advertencia INCORRECTO
        this.warningInc(campo + "Inc", "none");
        this.warningReq(campo + "Req");
      } else {
        this.$store.state.formData[campo] = "";
        //Oculta advertencia REQUERIDO
        this.warningReq(campo + "Req");
        //Muestra advertecia INCORRECTO
        this.warningInc(campo + "Inc", "block");
      }
    },

    space: function (valor) {
      //
      let cadena = this[valor];
      let primero = cadena.search("@");
      let separado;
      let cad2 = "";
      // se le quita el ultimo
      if ([valor] == "correo") {
        if (primero) {
          separado = cadena.substring(primero + 1, cadena.length).split("@");
          separado.forEach((element) => {
            cad2 += element.replaceAll("@", "");
          });
        }
        cadena = cadena.substring(0, primero + 1) + cad2;
        cadena = cadena.split(" ").join(" ").trim();
        // elimina todos los espacios encontrados
        cadena = cadena.replace(/\s+/g, "");
      } else {
        // se le quita el ultimo espacio
        cadena = cadena.split(" ").join(" ").trim();
      }
      this[valor] = cadena;
    },
  }, //FIN methods
  watch: {
    telefono: function () {
      //version2
      if (this.telefono.length > 0) {
        //un caracter al menos
        var ultimoCaracter = this.telefono.substring(
          this.telefono.length - 1,
          this.telefono.length
        );
        var result = this.checkCaracter(ultimoCaracter, "numero");
        if (result) {
          //Buscara si inicia con 0 y lo quitara
          var regExp = /^0/;
          var phone = regExp.test(this.telefono);
          if (phone) {
            this.telefono = this.telefono.substring(1, this.telefono.length);
          }
          //El mismo caracter se puede repetir hasta 4 veces seguidas
          this.telefono = this.repetirCaracter(4, this.telefono, null);
          //valida que sean 10 numeros con expresion regular
          this.expresionRegularFinal(/^(\d){10}$/, this.telefono, "telefono");
        } else {
          //Guarda valor sin ultimo caracter no numerico
          this.telefono = this.telefono.substring(0, this.telefono.length - 1);
        }
      } else {
        this.$store.state.formData.telefono = "";
        //Oculta advertencia INCORRECTO
        this.warningInc("telefonoInc", "none");
        //Muestra advertencia REQUERIDO
        this.warningInc("telefonoReq", "block");
      }
    },
    nombre: function () {
      //version2
      //Quita espacios del inicio
      this.nombre = this.myTrim_start(this.nombre);
      if (this.nombre.length > 0) {
        //un caracter al menos
        var ultimoCaracter = this.nombre.substring(
          this.nombre.length - 1,
          this.nombre.length
        );
        var result = this.checkCaracter(ultimoCaracter, "letra");
        if (result) {
          //El mismo caracter se puede repetir hasta 2 veces seguidas
          this.nombre = this.repetirCaracter(2, this.nombre, null);
          //valida nombre con expresion regular
          this.expresionRegularFinal(
            /^([a-zA-ZÀ-ÿ\s\.]){3,50}$/,
            this.nombre,
            "nombre"
          );
        } else {
          //Guarda valor sin ultimo caracter que no es letra
          this.nombre = this.nombre.substring(0, this.nombre.length - 1);
        }
      } else {
        this.$store.state.formData.nombre = "";
        //Oculta advertencia INCORRECTO
        this.warningInc("nombreInc", "none");
        //Muestra advertencia REQUERIDO
        this.warningInc("nombreReq", "block");
      }
    },
    correo: function () {
      //version2
      //Quita espacios del inicio y del final
      this.correo = this.correo.trim(); //no funciona en el campo tipo email
      if (this.correo.length > 0) {
        //un caracter al menos
        //El mismo caracter se puede repetir hasta 3 veces seguidas
        this.correo = this.repetirCaracter(3, this.correo, null);
        //valida correo con expresion regular
        this.expresionRegularFinal(
          /^[\w\.]{2,30}@[a-zA-Z]{2,15}\.[a-z]{2,4}(\.[a-z]{2,2})?$/,
          this.correo,
          "correo"
        );
      } else {
        this.$store.state.formData.correo = "";
        //Oculta advertencia INCORRECTO
        this.warningInc("correoInc", "none");
        //Muestra advertencia REQUERIDO
        this.warningInc("correoReq", "block");
      }
    },
    cp: function () {
      //version2
      if (this.cp.length > 0) {
        //un caracter al menos
        var ultimoCaracter = this.cp.substring(
          this.cp.length - 1,
          this.cp.length
        );
        var result = this.checkCaracter(ultimoCaracter, "numero");
        if (result) {
          //El mismo caracter se puede repetir hasta 4 veces seguidas
          this.cp = this.repetirCaracter(4, this.cp, "33333");
          //valida que sean 10 numeros con expresion regular
          this.expresionRegularFinal(/^(\d){5}$/, this.cp, "cp");
        } else {
          //Guarda valor sin ultimo caracter no numerico
          this.cp = this.cp.substring(0, this.cp.length - 1);
        }
      } else {
        this.$store.state.formData.cp = "";
        //Oculta advertencia INCORRECTO
        this.warningInc("cp", "none");
        //Muestra advertencia REQUERIDO
        this.warningInc("cp", "block");
      }
    },
  }, //FIN watch
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
